# Validaciones FISA Agencias de Cobranza

### Validacion 1
### Control vs asignación 
Control antes de aceptar del mes actual contra la asignación del mes anterior

In [1]:
import pandas as pd

In [265]:
####RUTAS
##Control Actual
ruta_control_actual = "./2026/Enero/Control antes de aceptar Enero 2026.xlsx"
sheetname_control_actual = "01012026"
ruta_cartera_actual = "./2025/Diciembre/BASE_FISA_BQ.csv"
###Control anterior 
ruta_control_anterior = "./2025/Diciembre/Control antes de aceptar Dic 2025_2.xlsx"
sheetname_control_anterior = "01122025"
##Propuesta
ruta_propuesta = "./2026/Enero/propuesta_202601_2.xlsx"
sheetpropuesta = "propuesta"

Cargamos el archivo `Control antes de aceptar del mes actual` y la asignación del mes anterior.

In [4]:
control_antes_actual = pd.read_excel(ruta_control_actual,sheet_name=sheetname_control_actual ,na_values=0)
control_antes_actual = control_antes_actual.fillna(0)
###Fijamos un control actual a una variable nueva, para poder tener un dataframe limpio
control_antes_actual_origen = control_antes_actual

In [23]:
control_antes_actual.head(2)

,CUENTA,ESTATUS,DESCRIPCION_DICTAMEN,DIAS_VENCIDOS,BANDERA_ASIGNACION,AGN,ETIQUETA_SEGMENTACION,FECHA_ASIGNACION,SUCURSAL,TIPO_DESPACHO,FECHA_RETIRO,REGLA_EXCLUSION,CIUDAD,ESTADO
0,79226832,ACTIVA,0,244,CRÉDITO ASIGNADO,14965,180A364_SIN_DICTAMEN,2026-01-02,83,CENTRALIZADO,2026-04-02,0,TEPECOACUILCO DE TRUJANO,GUERRERO
1,79295253,ACTIVA,0,244,CRÉDITO ASIGNADO,14945,180A364_SIN_DICTAMEN,2026-01-02,128,CENTRALIZADO,2026-04-02,0,LOS CABOS,BAJA CALIFORNIA SUR

In [6]:
####PASAMOS LA COLUMNA DE AGN A ENTERO, YA QUE ESTABA EN FLOAT
control_antes_actual['AGN'] = control_antes_actual['AGN'].astype('Int64')
####TAMBIEN CONVERTIMOS LAS COLUMNAS DE FECHA A DATATIME, DEBIDO A QUE TIENEN FORMATO DE HORA INCLUIDO
control_antes_actual['FECHA_ASIGNACION'] = pd.to_datetime(control_antes_actual['FECHA_ASIGNACION'])
control_antes_actual['FECHA_RETIRO'] = pd.to_datetime(control_antes_actual['FECHA_RETIRO'])

In [33]:
cartera_actual = pd.read_csv(ruta_cartera_actual,na_values=0)
cartera_actual = cartera_actual.fillna(0)
cartera_actual.head(2)

,CUENTA,DIAS_VENCIDOS,Gestor,SUCURSAL,ESTATUS,CAPITAL_INSOLUTO,BUCKET,mes_retiro,mes_asignacion,Fecha_reasig,Bandera,MES
0,75664547,454,14942,269.0,ACTIVA,8279.54,450-539,2026-03-01,2025-12-01,0.0,Asignacion Normal,202512
1,1000365969,250,14942,6.0,ACTIVA,6033.00,180-269,2026-01-01,2025-12-01,0.0,Asignacion Normal,202512

In [34]:
cartera_actual_origen = cartera_actual.copy()
cartera_actual.describe()
#len(cartera_actual)

,CUENTA,DIAS_VENCIDOS,Gestor,SUCURSAL,CAPITAL_INSOLUTO,Fecha_reasig,MES
count,5.163900e+04,51639.000000,51639.000000,51639.000000,51639.000000,51639.0,51639.0
mean,1.052561e+08,1344.685470,13800.328647,137.244951,15285.978260,0.0,202512.0
std,1.557776e+08,1196.404438,2110.890900,113.970290,16327.957903,0.0,0.0
min,1.301187e+06,10.000000,9883.000000,0.000000,-596.720000,0.0,202512.0
25%,7.824584e+07,469.000000,14924.000000,39.000000,5845.380000,0.0,202512.0
50%,7.900184e+07,971.000000,14949.000000,90.000000,9428.810000,0.0,202512.0
75%,7.917027e+07,1451.000000,14964.000000,269.000000,17878.165000,0.0,202512.0
max,1.000484e+09,5676.000000,14968.000000,323.000000,321431.880000,0.0,202512.0

In [35]:
###Convertimos las columnas de los contratos a formato STRING
cartera_actual["CUENTA"] = cartera_actual["CUENTA"].astype(str).str.strip()
control_antes_actual["CUENTA"] = control_antes_actual["CUENTA"].astype(str).str.strip()

In [36]:
control_antes_actual[["FECHA_RETIRO","FECHA_ASIGNACION"]]

       FECHA_RETIRO FECHA_ASIGNACION
0        2026-04-02       2026-01-02
1        2026-04-02       2026-01-02
2        2026-04-02       2026-01-02
3        2026-04-02       2026-01-02
4        2026-04-02       2026-01-02
...             ...              ...
211478   2026-04-02       2026-01-02
211479   2026-04-02       2026-01-02
211480   2026-04-02       2026-01-02
211481   2026-04-02       2026-01-02
211482   2026-04-02       2026-01-02

[211483 rows x 2 columns]

In [37]:
cartera_actual[["mes_asignacion","mes_retiro"]].head(2)

  mes_asignacion  mes_retiro
0     2025-12-01  2026-03-01
1     2025-12-01  2026-01-01

In [ ]:
#cartera_actual["mes_retiro"] = cartera_actual["mes_retiro"].dt.strftime("%m/%d/%Y")  # Convierte la fecha a texto en el formato correcto
#cartera_actual["mes_retiro"] = pd.to_datetime(cartera_actual["mes_retiro"], format="%d/%m/%Y")  # Corrige el orden

In [38]:
#cartera_actual["mes_asignacion"] = cartera_actual["mes_asignacion"].dt.strftime("%m/%d/%Y")  # Convierte la fecha a texto en el formato correcto
#cartera_actual["mes_asignacion"] = pd.to_datetime(cartera_actual["mes_asignacion"], format="%d/%m/%Y")  # Corrige el orden

In [41]:
control_antes_actual[["FECHA_ASIGNACION","FECHA_RETIRO"]].head(2)

  FECHA_ASIGNACION FECHA_RETIRO
0       2026-01-02   2026-04-02
1       2026-01-02   2026-04-02

Se genera un merge de la cartera actual, contra el control, para poder describir que cuentas de lo vigente esta correctamente en el control

In [42]:
cartera_actual = cartera_actual.merge(control_antes_actual[["CUENTA","AGN","FECHA_ASIGNACION","FECHA_RETIRO"]],
                                      left_on="CUENTA",right_on="CUENTA",how="left")

In [46]:
cartera_actual['mes_retiro'] = pd.to_datetime(cartera_actual['mes_retiro'])
cartera_actual['mes_asignacion'] = pd.to_datetime(cartera_actual['mes_asignacion'])

In [47]:
##Visualizamos lo que tiene Gestor del control no nulo
cartera_actual[cartera_actual["AGN"].notna()].tail(2)

,CUENTA,DIAS_VENCIDOS,Gestor,SUCURSAL,ESTATUS,CAPITAL_INSOLUTO,BUCKET,mes_retiro,mes_asignacion,Fecha_reasig,Bandera,MES,AGN,FECHA_ASIGNACION,FECHA_RETIRO
51637,79150591,590,14962,263.0,ACTIVA,119903.93,540+,2026-02-01,2024-09-01,0.0,Asignacion Normal,202512,0,1970-01-01,1970-01-01
51638,79038798,756,14949,26.0,ACTIVA,101129.99,540+,2026-02-01,2024-12-01,0.0,Asignacion Normal,202512,9949,2026-01-02,2026-04-02

Se genera una validación de las columnas de interes, para ver que esten iguales, estas son Gestor, mes de retiro y asignación

In [48]:
condicion = (cartera_actual["Gestor"] == cartera_actual["AGN"]) & \
    (cartera_actual["mes_asignacion"] == cartera_actual["FECHA_ASIGNACION"]) & \
    (cartera_actual["mes_retiro"] == cartera_actual["FECHA_RETIRO"])

In [49]:
cartera_actual.dtypes

CUENTA                      object
DIAS_VENCIDOS                int64
Gestor                       int64
SUCURSAL                   float64
ESTATUS                     object
CAPITAL_INSOLUTO           float64
BUCKET                      object
mes_retiro          datetime64[ns]
mes_asignacion      datetime64[ns]
Fecha_reasig               float64
Bandera                     object
MES                          int64
AGN                          Int64
FECHA_ASIGNACION    datetime64[ns]
FECHA_RETIRO        datetime64[ns]
dtype: object

In [50]:
retiro_actual = cartera_actual["mes_retiro"].min()
print("Las posibilidades de retiro som:", cartera_actual["mes_retiro"].unique(),  "pero el de este mes es el actual es: ", retiro_actual)

Las posibilidades de retiro som: <DatetimeArray>
['2026-03-01 00:00:00', '2026-01-01 00:00:00', '2026-02-01 00:00:00']
Length: 3, dtype: datetime64[ns] pero el de este mes es el actual es:  2026-01-01 00:00:00

Aplicamos la logica de la condición, para tener bien identificado donde si viene la información igual

In [51]:
import numpy as np
es_nan = cartera_actual[["Gestor", "AGN", "mes_asignacion", "FECHA_ASIGNACION", "mes_retiro", "FECHA_RETIRO"]].isna().any(axis=1)

# Aplicar la lógica para diferenciar NaN de False
cartera_actual["Val_y"] = np.where(es_nan, np.nan, condicion.astype(object))

In [52]:
cartera_actual["Val_y"].value_counts(dropna=False)

Val_y
True     28485
False    13271
NaN       9883
Name: count, dtype: int64

In [53]:
cartera_actual["Val_y"].unique()

array([nan, True, False], dtype=object)

Para el caso de este mes, tenemos que la validación es la siguiente:

In [54]:
cartera_actual[~cartera_actual["mes_retiro"].isin([retiro_actual])]["Val_y"].value_counts(dropna=False)

Val_y
True     28482
NaN       4691
False       17
Name: count, dtype: int64

In [56]:
conteo_valy = cartera_actual[~cartera_actual["mes_retiro"].isin([retiro_actual])]["Val_y"].value_counts(dropna=False)
print("Tenemos un total de ", conteo_valy.iloc[0], "con valor True,", conteo_valy.iloc[1],"Como NA  y ",conteo_valy.iloc[2], "con False, es decir, estos son los que no respetan vigencia.")

Tenemos un total de  28482 con valor True, 4691 Como NA  y  17 con False, es decir, estos son los que no respetan vigencia.

In [57]:
conteo_valy

Val_y
True     28482
NaN       4691
False       17
Name: count, dtype: int64

In [58]:
condicion_ag = (cartera_actual["Gestor"] == cartera_actual["AGN"])

In [59]:
es_nan_ag = cartera_actual[["Gestor", "AGN"]].isna().any(axis=1)

# Aplicar la lógica para diferenciar NaN de False
cartera_actual["Val_ag"] = np.where(es_nan_ag, np.nan, condicion_ag.astype(object))

Se realiza la misma validacioón, pero esta vez solo con la agencia:

In [60]:
cartera_actual[~cartera_actual["mes_retiro"].isin([retiro_actual])]["Val_ag"].value_counts(dropna=False)

Val_ag
True     28482
NaN       4691
False       17
Name: count, dtype: int64

Sigue la de `Mes Asignacion`:

In [61]:
condicion_asig = (cartera_actual["mes_asignacion"] == cartera_actual["FECHA_ASIGNACION"])

In [62]:
es_nan_asig = cartera_actual[["mes_asignacion", "FECHA_ASIGNACION"]].isna().any(axis=1)

# Aplicar la lógica para diferenciar NaN de False
cartera_actual["Val_asig"] = np.where(es_nan_ag, np.nan, condicion_asig.astype(object))

In [63]:
cartera_actual[~cartera_actual["mes_retiro"].isin([retiro_actual])]["Val_asig"].value_counts(dropna=False)

Val_asig
True     28482
NaN       4691
False       17
Name: count, dtype: int64

Ahora continuamos con `Mes Retiro`:

In [64]:
condicion_ret = (cartera_actual["mes_retiro"] == cartera_actual["FECHA_RETIRO"])

In [65]:
es_nan_ret = cartera_actual[["mes_retiro", "FECHA_RETIRO"]].isna().any(axis=1)

# Aplicar la lógica para diferenciar NaN de False
cartera_actual["Val_ret"] = np.where(es_nan_ret, np.nan, condicion_ret.astype(object))

In [66]:
cartera_actual[~cartera_actual["mes_retiro"].isin([retiro_actual])]["Val_ret"].value_counts(dropna=False)

Val_ret
True     28482
NaN       4691
False       17
Name: count, dtype: int64

In [67]:
conteo_ret = cartera_actual[~cartera_actual["mes_retiro"].isin([retiro_actual])]["Val_ret"].value_counts(dropna=False)
#conteo_ret.value_counts(dropna=False)

In [68]:
Val1_true = conteo_ret.get(True, 0)
Val1_false = conteo_ret.get(False, 0)
Val1_nan = conteo_ret.get(np.nan, 0)

In [69]:
print("Tenemos un total de:", Val1_false,"cuentas que no respetan vigencia.")

Tenemos un total de: 17 cuentas que no respetan vigencia.

In [70]:
####liq = pd.read_excel("./Diciembre/122025 Puntos de Asignación FISA.xlsx", sheet_name="Liquidaciones")
import os
from google.cloud import bigquery ##, storage
import pandas as pd

from google.cloud import bigquery

# Reemplaza con tu ID de proyecto real
client = bigquery.Client(project="findep-riesgos")

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\auth\_default.py:108: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [71]:
##liq.head(2)
#client = bigquery.Client()
query = f"""
select * FROM `Castigos_FISA.Liq_Puntos_FISA`
;"""

liq = client.query(query).to_dataframe()
print(liq)

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

      contrato_legado Mes_de_pago
0            75131301  16/07/1905
1            79101468  18/03/1908
2            76591273  31/03/2022
3            78908112  30/05/2022
4            74022232  28/02/2023
...               ...         ...
11029        79216811      202512
11030        78889610      202512
11031        78944965      202512
11032      1000245072      202512
11033        78343133      202512

[11034 rows x 2 columns]

In [72]:
cartera_actual.head()

,CUENTA,DIAS_VENCIDOS,Gestor,SUCURSAL,ESTATUS,CAPITAL_INSOLUTO,BUCKET,mes_retiro,mes_asignacion,Fecha_reasig,Bandera,MES,AGN,FECHA_ASIGNACION,FECHA_RETIRO,Val_y,Val_ag,Val_asig,Val_ret
0,75664547,454,14942,269.0,ACTIVA,8279.54,450-539,2026-03-01,2025-12-01,0.0,Asignacion Normal,202512,<NA>,NaT,NaT,NaN,NaN,NaN,NaN
1,1000365969,250,14942,6.0,ACTIVA,6033.00,180-269,2026-01-01,2025-12-01,0.0,Asignacion Normal,202512,<NA>,NaT,NaT,NaN,NaN,NaN,NaN
2,1000244415,242,14942,293.0,ACTIVA,7862.48,180-269,2026-01-01,2025-12-01,0.0,Asignacion Normal,202512,<NA>,NaT,NaT,NaN,NaN,NaN,NaN
3,79282518,302,14942,49.0,ACTIVA,9169.37,270-364,2026-03-01,2025-12-01,0.0,Asignacion Normal,202512,<NA>,NaT,NaT,NaN,NaN,NaN,NaN
4,1000272617,243,14942,21.0,ACTIVA,6989.00,180-269,2026-01-01,2025-12-01,0.0,Asignacion Normal,202512,<NA>,NaT,NaT,NaN,NaN,NaN,NaN

In [73]:
cartera_actual = cartera_actual.merge(liq["contrato_legado"],left_on="CUENTA",right_on="contrato_legado",how="left")

In [74]:
print("Tenemos un total de ", len(cartera_actual[cartera_actual["contrato_legado"].notna()]), "cuentas liquidadas en toda la base del mes pasado.")

Tenemos un total de  251 cuentas liquidadas en toda la base del mes pasado.

In [75]:
print("Tenemos un total de:", len(cartera_actual[(cartera_actual["contrato_legado"].notna()) & (cartera_actual["mes_retiro"] == retiro_actual)])," cuentas de lo vigente, que se liquidaron")

Tenemos un total de: 136  cuentas de lo vigente, que se liquidaron

### Validacion 2
### Control vs Control

In [76]:
control_antes_actual.head()

,CUENTA,ESTATUS,DESCRIPCION_DICTAMEN,DIAS_VENCIDOS,BANDERA_ASIGNACION,AGN,ETIQUETA_SEGMENTACION,FECHA_ASIGNACION,SUCURSAL,TIPO_DESPACHO,FECHA_RETIRO,REGLA_EXCLUSION,CIUDAD,ESTADO
0,79226832,ACTIVA,0,244,CRÉDITO ASIGNADO,14965,180A364_SIN_DICTAMEN,2026-01-02,83,CENTRALIZADO,2026-04-02,0,TEPECOACUILCO DE TRUJANO,GUERRERO
1,79295253,ACTIVA,0,244,CRÉDITO ASIGNADO,14945,180A364_SIN_DICTAMEN,2026-01-02,128,CENTRALIZADO,2026-04-02,0,LOS CABOS,BAJA CALIFORNIA SUR
2,79260434,ACTIVA,0,244,CRÉDITO ASIGNADO,14951,180A364_SIN_DICTAMEN,2026-01-02,53,CENTRALIZADO,2026-04-02,0,PUERTO VALLARTA,JALISCO
3,78959713,ACTIVA,0,244,CRÉDITO ASIGNADO,14943,180A364_SIN_DICTAMEN,2026-01-02,36,CENTRALIZADO,2026-04-02,0,0,SONORA
4,79191268,ACTIVA,0,244,CRÉDITO ASIGNADO,14967,180A364_SIN_DICTAMEN,2026-01-02,255,CENTRALIZADO,2026-04-02,0,ZAPOPAN,JALISCO

In [77]:
control_antes_ante = pd.read_excel(ruta_control_anterior,sheet_name=sheetname_control_anterior)

In [79]:
control_antes_ante.head(2)

,CUENTA,ESTATUS,DESCRIPCION_DICTAMEN,DIAS_VENCIDOS,BANDERA_ASIGNACION,AGN,ETIQUETA_SEGMENTACION,FECHA_ASIGNACION,SUCURSAL,TIPO_DESPACHO,FECHA_RETIRO,REGLA_EXCLUSION,CIUDAD,ESTADO
0,35309551,ACTIVA,NaN,224,MODULO EXCLUSIÓN,NaN,NaN,NaT,35,NaN,NaT,DESASIGNACIÓN ESPECIAL 2,NaN,BAJA CALIFORNIA
1,79295662,ACTIVA,NaN,224,CRÉDITO ASIGNADO,14938.0,180A364_SIN_DICTAMEN,2025-12-01,37,CENTRALIZADO,2026-03-01,NaN,CAJEME,SONORA

In [80]:
control_antes_ante["CUENTA"] = control_antes_ante["CUENTA"].astype(str).str.strip()

In [81]:
control_antes_actual = control_antes_actual.merge(control_antes_ante[["CUENTA","DIAS_VENCIDOS"]],how="left",on="CUENTA")

In [82]:
control_antes_actual.head()

,CUENTA,ESTATUS,DESCRIPCION_DICTAMEN,DIAS_VENCIDOS_x,BANDERA_ASIGNACION,AGN,ETIQUETA_SEGMENTACION,FECHA_ASIGNACION,SUCURSAL,TIPO_DESPACHO,FECHA_RETIRO,REGLA_EXCLUSION,CIUDAD,ESTADO,DIAS_VENCIDOS_y
0,79226832,ACTIVA,0,244,CRÉDITO ASIGNADO,14965,180A364_SIN_DICTAMEN,2026-01-02,83,CENTRALIZADO,2026-04-02,0,TEPECOACUILCO DE TRUJANO,GUERRERO,213.0
1,79295253,ACTIVA,0,244,CRÉDITO ASIGNADO,14945,180A364_SIN_DICTAMEN,2026-01-02,128,CENTRALIZADO,2026-04-02,0,LOS CABOS,BAJA CALIFORNIA SUR,213.0
2,79260434,ACTIVA,0,244,CRÉDITO ASIGNADO,14951,180A364_SIN_DICTAMEN,2026-01-02,53,CENTRALIZADO,2026-04-02,0,PUERTO VALLARTA,JALISCO,213.0
3,78959713,ACTIVA,0,244,CRÉDITO ASIGNADO,14943,180A364_SIN_DICTAMEN,2026-01-02,36,CENTRALIZADO,2026-04-02,0,0,SONORA,213.0
4,79191268,ACTIVA,0,244,CRÉDITO ASIGNADO,14967,180A364_SIN_DICTAMEN,2026-01-02,255,CENTRALIZADO,2026-04-02,0,ZAPOPAN,JALISCO,213.0

In [83]:
Val2_cuentas_nuevas = len(control_antes_actual[control_antes_actual["DIAS_VENCIDOS_y"].isna()])

In [84]:
#control_antes_actual[control_antes_actual["DIAS_VENCIDOS_y"].isna()].to_excel("./Prueba.xlsx")

In [85]:
print("Tenemos un total de:",Val2_cuentas_nuevas,"cuentas nuevas.")

Tenemos un total de: 19 cuentas nuevas.

In [86]:
control_antes_actual.columns

Index(['CUENTA', 'ESTATUS', 'DESCRIPCION_DICTAMEN', 'DIAS_VENCIDOS_x',
       'BANDERA_ASIGNACION', 'AGN', 'ETIQUETA_SEGMENTACION',
       'FECHA_ASIGNACION', 'SUCURSAL', 'TIPO_DESPACHO', 'FECHA_RETIRO',
       'REGLA_EXCLUSION', 'CIUDAD', 'ESTADO', 'DIAS_VENCIDOS_y'],
      dtype='object')

In [87]:
control_antes_ante_val = control_antes_ante.merge(control_antes_actual[["CUENTA","DIAS_VENCIDOS_x"]],how="left",on="CUENTA")

In [88]:
control_antes_ante_val.columns

Index(['CUENTA', 'ESTATUS', 'DESCRIPCION_DICTAMEN', 'DIAS_VENCIDOS',
       'BANDERA_ASIGNACION', 'AGN', 'ETIQUETA_SEGMENTACION',
       'FECHA_ASIGNACION', 'SUCURSAL', 'TIPO_DESPACHO', 'FECHA_RETIRO',
       'REGLA_EXCLUSION', 'CIUDAD', 'ESTADO', 'DIAS_VENCIDOS_x'],
      dtype='object')

In [89]:
Val2_cuentas_faltantes = len(control_antes_ante_val[control_antes_ante_val["DIAS_VENCIDOS_x"].isna()])

In [90]:
print("Tenemos un total de:",Val2_cuentas_faltantes,"cuentas faltantes.")

Tenemos un total de: 532 cuentas faltantes.

In [91]:
faltantes = control_antes_ante_val[control_antes_ante_val["DIAS_VENCIDOS_x"].isna()]

In [92]:
faltantes.head(2)

,CUENTA,ESTATUS,DESCRIPCION_DICTAMEN,DIAS_VENCIDOS,BANDERA_ASIGNACION,AGN,ETIQUETA_SEGMENTACION,FECHA_ASIGNACION,SUCURSAL,TIPO_DESPACHO,FECHA_RETIRO,REGLA_EXCLUSION,CIUDAD,ESTADO,DIAS_VENCIDOS_x
0,35309551,ACTIVA,NaN,224,MODULO EXCLUSIÓN,NaN,NaN,NaT,35,NaN,NaT,DESASIGNACIÓN ESPECIAL 2,NaN,BAJA CALIFORNIA,NaN
10,79187623,ACTIVA,NaN,224,CRÉDITO ASIGNADO,14937.0,180A364_SIN_DICTAMEN,2025-12-01,7,CENTRALIZADO,2026-03-01,NaN,NaN,GUANAJUATO,NaN

### Validacion 3
### Vigente vs propuesta y control
Puntos de Asignación

#### Vigente

In [266]:
propuesta = pd.read_excel(ruta_propuesta,sheet_name=sheetpropuesta, na_values=0)

In [267]:
propuesta['gestor'] = propuesta['gestor'].astype('Int64')

In [268]:
vigente = cartera_actual_origen.copy()

In [269]:
vigente.head()

,CUENTA,DIAS_VENCIDOS,Gestor,SUCURSAL,ESTATUS,CAPITAL_INSOLUTO,BUCKET,mes_retiro,mes_asignacion,Fecha_reasig,Bandera,MES
0,75664547,454,14942,269.0,ACTIVA,8279.54,450-539,2026-03-01,2025-12-01,0.0,Asignacion Normal,202512
1,1000365969,250,14942,6.0,ACTIVA,6033.00,180-269,2026-01-01,2025-12-01,0.0,Asignacion Normal,202512
2,1000244415,242,14942,293.0,ACTIVA,7862.48,180-269,2026-01-01,2025-12-01,0.0,Asignacion Normal,202512
3,79282518,302,14942,49.0,ACTIVA,9169.37,270-364,2026-03-01,2025-12-01,0.0,Asignacion Normal,202512
4,1000272617,243,14942,21.0,ACTIVA,6989.00,180-269,2026-01-01,2025-12-01,0.0,Asignacion Normal,202512

In [270]:
vigente["Descripcion"] = ""

In [271]:
vigente.dtypes

CUENTA                int64
DIAS_VENCIDOS         int64
Gestor                int64
SUCURSAL            float64
ESTATUS              object
CAPITAL_INSOLUTO    float64
BUCKET               object
mes_retiro           object
mes_asignacion       object
Fecha_reasig        float64
Bandera              object
MES                   int64
Descripcion          object
dtype: object

In [272]:
vigente['mes_retiro'] = pd.to_datetime(vigente['mes_retiro'])
vigente['mes_asignacion'] = pd.to_datetime(vigente['mes_asignacion'])

In [273]:
vigente[vigente["mes_retiro"] == retiro_actual]

,CUENTA,DIAS_VENCIDOS,Gestor,SUCURSAL,ESTATUS,CAPITAL_INSOLUTO,BUCKET,mes_retiro,mes_asignacion,Fecha_reasig,Bandera,MES,Descripcion
1,1000365969,250,14942,6.0,ACTIVA,6033.00,180-269,2026-01-01,2025-12-01,0.0,Asignacion Normal,202512,
2,1000244415,242,14942,293.0,ACTIVA,7862.48,180-269,2026-01-01,2025-12-01,0.0,Asignacion Normal,202512,
4,1000272617,243,14942,21.0,ACTIVA,6989.00,180-269,2026-01-01,2025-12-01,0.0,Asignacion Normal,202512,
5,1000245123,242,14942,49.0,ACTIVA,10567.89,180-269,2026-01-01,2025-12-01,0.0,Asignacion Normal,202512,
7,1000272916,243,14942,44.0,ACTIVA,6033.00,180-269,2026-01-01,2025-12-01,0.0,Asignacion Normal,202512,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51609,76793066,2084,14948,124.0,ACTIVA,20796.18,5+,2026-01-01,2025-10-01,0.0,Asignacion Fenix,202512,
51612,78506020,2476,14948,124.0,ACTIVA,5299.68,6+,2026-01-01,2025-10-01,0.0,Asignacion Fenix,202512,
51614,78219573,3129,14948,27.0,ACTIVA,5465.18,8+,2026-01-01,2025-10-01,0.0,Asignacion Fenix,202512,
51615,78133352,2853,14948,27.0,ACTIVA,5881.71,7+,2026-01-01,2025-10-01,0.0,Asignacion Fenix,202512,
51616,77606997,3679,14948,27.0,ACTIVA,3269.49,8+,2026-01-01,2025-10-01,0.0,Asignacion Fenix,202512,

In [274]:
vigente.loc[(vigente["mes_retiro"] == retiro_actual) & (vigente["Bandera"] == "Asignacion Normal"), "Descripcion"] = "Retirado Castigos"
vigente.loc[(vigente["mes_retiro"] == retiro_actual) & (vigente["Bandera"] == "Asignacion Fenix"), "Descripcion"] = "Retirado Fenix"

In [275]:
vigente["Descripcion"].value_counts(dropna=False)

Descripcion
                     33190
Retirado Castigos    14984
Retirado Fenix        3465
Name: count, dtype: int64

In [276]:
print("Tenemos un total de: ", len(vigente[(vigente["mes_retiro"] == retiro_actual) & (vigente["Bandera"] == "Asignacion Fenix") ]), 
      "cuentas que vencieron y son Fenix, por otro lado, tenemos:", len(vigente[(vigente["mes_retiro"] == retiro_actual) & (vigente["Bandera"] == "Asignacion Normal") ]), "cuentas que terminan vigencia de Castigos")

Tenemos un total de:  3465 cuentas que vencieron y son Fenix, por otro lado, tenemos: 14984 cuentas que terminan vigencia de Castigos

Analizaremos primero la propuesta Castigos

In [277]:
vigente.head()

,CUENTA,DIAS_VENCIDOS,Gestor,SUCURSAL,ESTATUS,CAPITAL_INSOLUTO,BUCKET,mes_retiro,mes_asignacion,Fecha_reasig,Bandera,MES,Descripcion
0,75664547,454,14942,269.0,ACTIVA,8279.54,450-539,2026-03-01,2025-12-01,0.0,Asignacion Normal,202512,
1,1000365969,250,14942,6.0,ACTIVA,6033.00,180-269,2026-01-01,2025-12-01,0.0,Asignacion Normal,202512,Retirado Castigos
2,1000244415,242,14942,293.0,ACTIVA,7862.48,180-269,2026-01-01,2025-12-01,0.0,Asignacion Normal,202512,Retirado Castigos
3,79282518,302,14942,49.0,ACTIVA,9169.37,270-364,2026-03-01,2025-12-01,0.0,Asignacion Normal,202512,
4,1000272617,243,14942,21.0,ACTIVA,6989.00,180-269,2026-01-01,2025-12-01,0.0,Asignacion Normal,202512,Retirado Castigos

In [278]:
vigente_castigos = vigente[vigente["Bandera"] == "Asignacion Normal"].copy()
vigente_fenix = vigente[vigente["Bandera"] == "Asignacion Fenix"].copy()

In [279]:
propuesta.dtypes

contrato              int64
contrato_legado     float64
contrato_core       float64
dias_vencidos         int64
sucursal              int64
capital_insoluto    float64
bucket               object
bandera              object
gestor                Int64
agencia              object
mes_asignacion       object
mes_retiro           object
dtype: object

In [280]:
propuesta.head()

,contrato,contrato_legado,contrato_core,dias_vencidos,sucursal,capital_insoluto,bucket,bandera,gestor,agencia,mes_asignacion,mes_retiro
0,79015810,79015810.0,1.000238e+09,210,278,28016.26,180-269,CARTERA NUEVA,14924,JM Servicios Corporativos Lopez Y Asociados S....,01/01/2026,01/02/2026
1,79270505,79270505.0,1.000209e+09,209,37,2511.53,180-269,CARTERA NUEVA,14924,JM Servicios Corporativos Lopez Y Asociados S....,01/01/2026,01/02/2026
2,79256981,79256981.0,1.000551e+09,182,24,13083.29,180-269,CARTERA NUEVA,14924,JM Servicios Corporativos Lopez Y Asociados S....,01/01/2026,01/02/2026
3,1000470512,NaN,1.000471e+09,182,9,6133.95,180-269,CARTERA NUEVA,14924,JM Servicios Corporativos Lopez Y Asociados S....,01/01/2026,01/02/2026
4,1000459788,NaN,1.000460e+09,198,290,7684.70,180-269,CARTERA NUEVA,14942,Agencia Latinoamericana De Cobranza Valencia A...,01/01/2026,01/02/2026

In [281]:
import pandas as pd

# Suponiendo que 'propuesta' es tu DataFrame y 'mes_retiro' es la columna con las fechas DD/MM/AAAA

propuesta["mes_retiro"] = pd.to_datetime(
    propuesta["mes_retiro"], 
    format='%d/%m/%Y',  
    errors='coerce'     
)

propuesta["mes_asignacion"] = pd.to_datetime(
    propuesta["mes_asignacion"], 
    format='%d/%m/%Y',  
    errors='coerce'     
)

In [282]:
propuesta.dtypes

contrato                     int64
contrato_legado            float64
contrato_core              float64
dias_vencidos                int64
sucursal                     int64
capital_insoluto           float64
bucket                      object
bandera                     object
gestor                       Int64
agencia                     object
mes_asignacion      datetime64[ns]
mes_retiro          datetime64[ns]
dtype: object

In [283]:
vigente_castigos.head(2)

,CUENTA,DIAS_VENCIDOS,Gestor,SUCURSAL,ESTATUS,CAPITAL_INSOLUTO,BUCKET,mes_retiro,mes_asignacion,Fecha_reasig,Bandera,MES,Descripcion
0,75664547,454,14942,269.0,ACTIVA,8279.54,450-539,2026-03-01,2025-12-01,0.0,Asignacion Normal,202512,
1,1000365969,250,14942,6.0,ACTIVA,6033.00,180-269,2026-01-01,2025-12-01,0.0,Asignacion Normal,202512,Retirado Castigos

In [284]:
vigente_castigos = vigente_castigos.merge(propuesta[["contrato","gestor","mes_asignacion","mes_retiro"]],how="left", left_on="CUENTA", right_on="contrato")

In [288]:
###vigente_castigos.dtypes
vigente_castigos["CUENTA"] = vigente_castigos["CUENTA"].astype(str).str.strip()

In [290]:
liq.dtypes

contrato_liq    object
Mes_de_pago     object
contrato        object
dtype: object

In [291]:
vigente_castigos = vigente_castigos.merge(liq["contrato_liq"],how="left", left_on="CUENTA",right_on="contrato_liq")

In [293]:
vigente_castigos[(vigente_castigos["contrato_liq"].notna())  & (vigente_castigos["mes_retiro_x"] != retiro_actual) ]

,CUENTA,DIAS_VENCIDOS,Gestor,SUCURSAL,ESTATUS,CAPITAL_INSOLUTO,BUCKET,mes_retiro_x,mes_asignacion_x,Fecha_reasig,Bandera,MES,Descripcion,contrato,gestor,mes_asignacion_y,mes_retiro_y,contrato_liq
322,79199712,286,14942,279.0,ACTIVA,11990.36,270-364,2026-03-01,2025-12-01,0.0,Asignacion Normal,202512,,NaN,<NA>,NaT,NaT,79199712
982,79239110,208,14942,297.0,ACTIVA,11471.76,180-269,2026-02-01,2025-11-01,0.0,Asignacion Normal,202512,,NaN,<NA>,NaT,NaT,79239110
1072,77896590,1031,14942,262.0,ACTIVA,31206.29,540+,2026-02-01,2025-09-01,0.0,Asignacion Normal,202512,,NaN,<NA>,NaT,NaT,77896590
1075,78239339,220,14942,48.0,ACTIVA,63426.36,180-269,2026-02-01,2025-11-01,0.0,Asignacion Normal,202512,,NaN,<NA>,NaT,NaT,78239339
1076,1000244831,228,14942,18.0,ACTIVA,4994.07,180-269,2026-02-01,2025-11-01,0.0,Asignacion Normal,202512,,NaN,<NA>,NaT,NaT,1000244831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38487,78944965,299,9883,116.0,ACTIVA,22345.38,270-364,2026-02-01,2025-08-01,0.0,Asignacion Normal,202512,,NaN,<NA>,NaT,NaT,78944965
40044,79124096,205,9883,275.0,ACTIVA,68748.43,180-269,2026-02-01,2025-09-01,0.0,Asignacion Normal,202512,,NaN,<NA>,NaT,NaT,79124096
40046,1000158862,209,14924,81.0,ACTIVA,111404.11,180-269,2026-02-01,2025-10-22,0.0,Asignacion Normal,202512,,NaN,<NA>,NaT,NaT,1000158862
40056,79212423,364,14924,67.0,ACTIVA,169582.95,270-364,2026-02-01,2025-09-01,0.0,Asignacion Normal,202512,,NaN,<NA>,NaT,NaT,79212423
40063,79196478,480,9883,26.0,ACTIVA,101555.19,450-539,2026-02-01,2024-09-01,0.0,Asignacion Normal,202512,,NaN,<NA>,NaT,NaT,79196478

In [294]:
vigente_castigos.loc[(vigente_castigos["mes_retiro_x"] != retiro_actual) & (vigente_castigos["contrato_liq"].notna()), "Descripcion"] = "Liquidado"

In [295]:
vigente_castigos["Descripcion"].value_counts()

Descripcion
                     24977
Retirado Castigos    14985
Liquidado              104
Name: count, dtype: int64

In [296]:
Demanda = pd.read_excel("./2025/Diciembre/Cuentas Cobranza Judicial Nov25_asignación.xlsx",sheet_name="FISA")

In [297]:
Demanda = Demanda.rename(columns={"contrato":"contrato_dem"})

In [298]:
Demanda["contrato_dem"] = Demanda["contrato_dem"].astype(str).str.strip()
###vigente_castigos["CUENTA"] = vigente_castigos["CUENTA"].astype(str).str.strip()

In [299]:
vigente_castigos = vigente_castigos.merge(Demanda["contrato_dem"],how="left", left_on="CUENTA",right_on="contrato_dem")

In [301]:
vigente_castigos.loc[ (vigente_castigos["contrato_dem"].notna() ) & (vigente_castigos["mes_retiro_x"] != retiro_actual) & (vigente_castigos["contrato_liq"].isna())  , "Descripcion"] = "Demanda"

In [302]:
vigente_castigos["Descripcion"].value_counts()

Descripcion
                     24977
Retirado Castigos    14985
Liquidado              104
Name: count, dtype: int64

Procederemos a realizar la validacion de los campos de la propuesta contra lo vigente castigos

In [303]:
condicion_v = (vigente_castigos["Gestor"] == vigente_castigos["gestor"]) & \
    (vigente_castigos["mes_asignacion_x"] == vigente_castigos["mes_asignacion_y"]) & \
    (vigente_castigos["mes_retiro_x"] == vigente_castigos["mes_retiro_y"])

In [304]:
import numpy as np
es_nan = vigente_castigos[["Gestor", "gestor", "mes_asignacion_x", "mes_asignacion_y", "mes_retiro_x", "mes_retiro_y"]].isna().any(axis=1)

# Aplicar la lógica para diferenciar NaN de False
vigente_castigos["Val_y"] = np.where(es_nan, np.nan, condicion_v.astype(object))

In [305]:
vigente_castigos["Val_y"].value_counts(dropna=False)

Val_y
True     23777
False    12907
NaN       3382
Name: count, dtype: int64

In [306]:
vigente_castigos.loc[ (vigente_castigos["Descripcion"] == "") & (vigente_castigos["Val_y"] == True)  , "Descripcion"] = "Verdadero"

In [307]:
vigente_castigos["Descripcion"].value_counts()

Descripcion
Verdadero            23777
Retirado Castigos    14985
                      1200
Liquidado              104
Name: count, dtype: int64

In [308]:
faltante = vigente_castigos[vigente_castigos["Descripcion"] == ""]["CUENTA"]
lista_cuentas = faltante.astype(str).tolist()
faltante_sql = ", ".join(f"{cuenta}" for cuenta in lista_cuentas)

In [309]:
faltante_sql

'79105393, 78979195, 79068752, 78974973, 79030761, 77834933, 79206335, 78191615, 78984752, 78953149, 79022798, 78949437, 79049522, 78907385, 78956121, 79028842, 78470323, 79048953, 78566631, 79093004, 78893832, 79091007, 78936152, 78732867, 78954425, 79031472, 78928863, 78983950, 78958833, 78987018, 72717486, 79157478, 54310838, 79005797, 78971142, 79179485, 79170841, 74972307, 79199141, 79061822, 78966532, 79196635, 79138364, 79011285, 79073955, 79181520, 79103559, 79063067, 79189110, 73375248, 78968252, 79055013, 79100513, 77938601, 79067920, 79060298, 78439703, 78235665, 79192541, 78016901, 79176590, 79182418, 74119116, 79195550, 79201834, 78894985, 78951109, 79066010, 79041343, 78989098, 78915317, 78883454, 78990694, 79094239, 78004221, 79136781, 78992406, 78962806, 79085581, 79024268, 79056496, 78979498, 78326062, 79179018, 78934364, 79105027, 78963592, 78323375, 79013516, 78943148, 78949954, 79054268, 78920346, 75058162, 79003994, 79110428, 78322316, 76842636, 79185901, 79178688, 79027645, 79086196, 78997803, 78324667, 79111260, 78886617, 79018791, 77923262, 79012403, 78948112, 77150437, 73156770, 79110060, 79077831, 78992934, 79117236, 78999873, 79170574, 79068650, 79030212, 72629608, 78948907, 77933600, 79039543, 78869902, 78086159, 79153620, 79121668, 79015417, 79025903, 79117793, 79135882, 78919528, 79084774, 79058714, 78924707, 79099320, 79034464, 78976610, 79069134, 79106816, 78820148, 78330461, 78982275, 79188042, 79047519, 78979740, 79014490, 79115326, 79133938, 79030316, 76835425, 79112898, 78294494, 79116634, 79107750, 78937297, 78864361, 79152595, 78862248, 79017802, 79156328, 79000037, 79069104, 79035212, 78929587, 79174796, 79138406, 78895088, 78542932, 78991685, 78883672, 78977545, 77546399, 77564445, 79090052, 79096446, 79158082, 79069523, 78135943, 78973671, 77882222, 79029161, 79127295, 79055474, 79038886, 78979000, 75373783, 79148550, 78925499, 79077250, 78992842, 78926685, 79176888, 79065269, 78936234, 78982374, 79029263, 78988173, 78431317, 78463677, 78922721, 79193752, 79166638, 79103588, 79057374, 79082314, 78932712, 79035462, 78930955, 79106051, 78874618, 78974490, 78931979, 73506351, 78920068, 79010928, 78769120, 78963945, 78551284, 79007243, 78042762, 78904705, 78978016, 79035435, 79017429, 78908662, 79054100, 78520245, 79173487, 78929085, 78968079, 79158612, 77506882, 78471147, 79015167, 78976137, 78546078, 78961225, 78856958, 78416542, 78905765, 79090717, 78906457, 78952980, 79009751, 79019866, 78025289, 79005047, 78997607, 78969504, 79118176, 79009453, 79008254, 78923344, 79064090, 79129222, 78839413, 78968932, 79005642, 78916770, 79160509, 79015563, 78037318, 78888033, 78991332, 79120367, 79174983, 79194466, 78922076, 78948531, 78987920, 79070256, 78986975, 79122297, 78953942, 79101359, 79177996, 79120117, 79121844, 78904324, 79008989, 79098802, 79067850, 78908021, 78877786, 78965679, 78946523, 78380430, 79151288, 78948672, 78936112, 79021611, 78857530, 79186184, 77961135, 79143368, 79170922, 78799362, 79059163, 78964779, 78991207, 79019414, 78947153, 79165329, 79086952, 78998211, 79034101, 78920615, 79097255, 78779636, 78952049, 79051787, 73872658, 78147356, 73910007, 79028044, 77770382, 78995882, 78890749, 78958624, 79075284, 79074733, 79042092, 78953213, 78899273, 79005067, 79175692, 79174725, 79107532, 75929580, 78854212, 76734474, 79048477, 76481969, 75316473, 78989097, 79042004, 77893435, 79017653, 79175647, 79103073, 79158131, 77965602, 79027338, 78872066, 78451632, 78868796, 78888509, 78996664, 79039061, 79044462, 79071410, 8710465, 79104405, 78988568, 78175575, 78948952, 78920994, 78969503, 79094926, 78925873, 78926136, 78993267, 77892955, 78985537, 79056202, 79001787, 78965676, 78364988, 78884549, 78931724, 79186092, 78876112, 78906616, 78960538, 78999886, 79053150, 77960781, 79071477, 79194429, 78948825, 79018633, 78909873, 79160259, 78998919, 78854462, 78982413, 78932747, 79034646, 79002242, 79051428, 78916936, 77836935, 78989073, 78870756, 77941431, 78968627, 79114357, 78963788, 78931455, 78014998, 78928486, 79040068, 78984003, 78734216, 78936440, 79006822, 79076919, 78490966, 79139535, 79066937, 79124913, 78964542, 78900014, 79102463, 79101355, 79128146, 78909575, 79021100, 79175152, 78985907, 79007940, 79083109, 79160074, 78100833, 79105150, 78916513, 78935723, 76562204, 78983751, 79037185, 79155351, 78961309, 79174857, 79047996, 74258834, 78922925, 79011624, 79113057, 78852970, 79150862, 79000494, 79177241, 79100662, 79040560, 79167679, 78743498, 79078911, 79116228, 78935446, 77976163, 10615771, 79056178, 78980216, 79171383, 79075835, 79108116, 79100830, 79130251, 78989772, 78906584, 78882085, 78877077, 78993594, 77843430, 79001441, 78982247, 79007619, 78973664, 78903227, 79091092, 78905647, 78946968, 78926923, 78850862, 78995181, 78920122, 79083937, 79173192, 79130848, 78974650, 78972400, 78911892, 78949180, 78869846, 79120010, 78984901, 78944089, 78565944, 79020167, 79168360, 78930776, 78987284, 79186776, 79016742, 78932913, 78971971, 78560723, 79107045, 78984979, 79081862, 78897605, 79088385, 79170344, 78278893, 79026977, 79136841, 79172408, 78069482, 78864860, 79044876, 78927217, 78999016, 78432460, 79064909, 79130275, 79002529, 79068706, 79053612, 79070567, 79053665, 79149505, 79090140, 79015552, 79000954, 78907856, 78920051, 78252773, 78982760, 79094158, 78895411, 78945551, 79046574, 79155575, 78937522, 78906301, 79057091, 78997087, 79036295, 78912672, 78997614, 78978420, 79160059, 79015300, 78917919, 79124816, 79005267, 79126365, 79018676, 78350612, 78928769, 78747252, 78985889, 79090305, 78466429, 79108826, 79145067, 79163276, 79152866, 79105542, 79167744, 79001881, 78991736, 79129660, 78942453, 78106225, 79141586, 79118244, 79114771, 79054308, 79139670, 79054457, 79121043, 79175627, 79174413, 79001124, 26436966, 78904042, 77904623, 79168051, 78922344, 78984058, 78443836, 79011710, 78990560, 79099402, 72042397, 78996126, 79000640, 79063598, 78944454, 79008516, 79189087, 79165712, 79174559, 78049501, 76640883, 79006562, 79128525, 79035141, 79054489, 79049971, 79170360, 79190707, 78965609, 78923005, 79065069, 79057572, 78942386, 79100230, 78528759, 79077629, 78976471, 79027148, 79026143, 79073482, 77586793, 79022224, 79087660, 78161739, 79151754, 79146691, 79184754, 78897524, 79177882, 79148399, 78917386, 78998285, 78906996, 79019106, 78986205, 78937784, 79077752, 79134491, 79114456, 79176039, 79098855, 79060871, 79070569, 79164552, 78859781, 78981377, 79051909, 79090066, 1499351, 79130660, 78915201, 77979765, 78109693, 79036689, 78998547, 79125247, 79161047, 78418718, 78821983, 79138839, 79132431, 79020206, 78481217, 78922694, 78996483, 79019771, 79085429, 78984793, 78973086, 78999333, 78909792, 78024547, 79166614, 79159278, 79049431, 79094665, 79073157, 79187125, 79086510, 79081940, 79038374, 79148647, 79185699, 79174951, 79035830, 79192482, 79083502, 79105555, 74234733, 79011528, 79149468, 78915580, 79166104, 79146887, 78974245, 79042099, 79171376, 79101196, 79146650, 78936916, 78943278, 78997251, 78979632, 79019608, 78881731, 79046016, 79105650, 79157142, 78848565, 76028318, 78922802, 78908516, 79091491, 79160205, 79124672, 79186918, 79122307, 79014506, 79029733, 79030297, 79019351, 78935109, 78216602, 79188622, 79174613, 79018598, 79062378, 78988389, 79004814, 78890347, 78995114, 79048598, 79047364, 78979346, 79023817, 79044580, 78999710, 78776568, 79165794, 73700898, 79111358, 79131296, 79094121, 79035345, 78951997, 79173317, 78973003, 78994107, 73864055, 78858481, 79061071, 79134653, 79031539, 79120425, 78984995, 78916191, 78993329, 79097367, 79043047, 79142966, 79055219, 77859945, 79081265, 79153081, 79205455, 79161597, 79058003, 79097710, 79082205, 79186235, 77989738, 78981581, 53116949, 79156654, 79158067, 79057574, 78161020, 78989774, 79119950, 79123693, 79061291, 79093622, 79134305, 79170613, 79042734, 79034655, 78939124, 79068100, 79205638, 79075099, 79022611, 77921389, 79071283, 79166924, 79021669, 79077276, 79124398, 79075728, 78937741, 79110715, 79077625, 78871747, 78996809, 79132889, 78900636, 79093281, 77973991, 79179034, 79012735, 79126859, 78410235, 78934743, 79075120, 79049411, 75353027, 78992656, 77995301, 79099121, 79032882, 78040761, 27357504, 79137574, 78883227, 79024491, 79124517, 78922960, 79140981, 79003510, 78959467, 79184961, 79079365, 79010578, 79049707, 79180156, 79067874, 79095358, 79081580, 79018202, 79015477, 72279641, 78420388, 78838934, 79006269, 79098399, 79083347, 79153121, 79107648, 79010241, 79081985, 79163250, 79094420, 78929418, 79033482, 79063396, 79021338, 79176862, 78994666, 79023784, 77856710, 79151431, 79141565, 78970476, 79020951, 78935846, 79123134, 79113676, 78984460, 78893273, 79184442, 78974819, 78933979, 78988706, 79079504, 79158274, 79156722, 79133648, 79010395, 79170879, 78899177, 79005986, 79017162, 78833685, 79112041, 79015768, 79115832, 78979162, 79172261, 79172716, 79121189, 79177561, 79059788, 79186276, 79154967, 78988038, 79079868, 79060894, 78953197, 79105578, 79022696, 79090278, 78929476, 79034581, 79132709, 78933950, 44148501, 78293023, 78987094, 78978419, 79140480, 79143629, 79041169, 79170804, 79123164, 79151808, 78932759, 79013151, 79014222, 78946070, 79025173, 79044781, 79114638, 79018351, 78997590, 79121543, 79140664, 78990753, 79107249, 79198531, 79133447, 78872331, 78992217, 79006630, 79113827, 79002663, 77936279, 78155785, 79053578, 78863273, 79024637, 79057457, 79131665, 78995437, 79030568, 79132348, 79158195, 79110770, 79039378, 79167940, 78933995, 78997335, 79127734, 79018917, 79007196, 77831756, 79187780, 79132940, 78076098, 78791898, 79123225, 79003520, 79036687, 79197239, 79045306, 79186874, 78954146, 79065274, 78993588, 78887840, 78999379, 78981769, 78970945, 78917910, 79033952, 78991873, 79107484, 79001285, 79124851, 75096543, 79062468, 79051363, 79190148, 79048469, 79073068, 79020714, 79116523, 79013329, 78943241, 79082422, 79023870, 78934169, 79190134, 79072208, 79155599, 79072000, 79021982, 79135486, 78472425, 78975070, 77958429, 78934912, 78098145, 79156386, 79140760, 79144039, 79166334, 78997384, 79151816, 78430272, 79156489, 79034377, 78829065, 79102383, 78983151, 79036490, 78851422, 78241126, 79022533, 78769720, 79047954, 79181172, 78984014, 79183314, 79184875, 78971321, 78044079, 79014095, 73328380, 79154195, 78082738, 78992998, 78947963, 78974223, 78031577, 79098412, 79048483, 78410453, 79005672, 78405498, 78967342, 79167847, 79022592, 78441518, 79077980, 79025061, 78989885, 78998666, 79079373, 78906829, 79106356, 79194521, 79116638, 79103931, 78966537, 77842461, 79167976, 79068796, 79006632, 78756638, 78021205, 79163615, 78935767, 79002428, 79025651, 79115972, 78988584, 79046214, 79148078, 79162726, 79095673, 79114419, 78979696, 79157644, 78886613, 79016763, 79122474, 78871910, 78917653, 79031609, 79029421, 78408306, 78913366, 78985997, 79194829, 79161485, 78534419, 79047630, 79087634, 78983725, 78995133, 78893878, 79128633, 79141927, 78980875, 79000030, 79018335, 79012957, 79027177, 79101405, 79145349, 79148148, 79018992, 79115163, 79085883, 77990569, 77998136, 79158313, 79046497, 78988962, 79103704, 79158903, 79130221, 78963376, 79057231, 79040736, 41179066, 79074589, 79050258, 79026469, 79106001, 78277167, 79068041, 78947561, 79164174, 79132061, 79125828, 72535777, 79080667, 79162406, 79144680, 79161654, 78901393, 78990389, 73512512, 79132874, 78906065, 78993305, 75131671, 78967573, 79110486, 79013897, 78863614, 78961229, 79166825, 78966763, 79102593, 78958454, 79176326, 77946964, 79159792, 78984905, 78991073, 78731012, 78918403, 79007698, 78995016, 79161154, 79013479, 79071990, 79022249, 78953214, 79016031, 79179951, 78968743, 79087095, 79034780, 79097333, 79024581, 78967752, 79177556, 78940759, 73333834, 79056838, 79118629, 78883527, 78422475, 79032026, 79015343, 78984241, 79183800, 79124003, 79172866, 79156709, 78826902, 79126823, 78938460, 79018913, 79138916, 77835966, 78954311, 78109867, 79176782, 79037865, 79024271, 78173902, 78965017, 78913071, 79012987, 78992674, 79014974, 79188206, 78992088, 78962611, 79190608'

In [310]:
##liq.head(2)
#client = bigquery.Client()
query2 = f"""
select * FROM (
select contrato AS contrato_base, status, fecha_informacion, row_number() over (partition by contrato order by fecha_informacion DESC) As rn
FROM `ws-buro-clientes.DATA.evolucion_diaria_lineas_credito` 
WHERE contrato IN ({faltante_sql})
AND STATUS = 'P') 
WHERE rn = 1 
;"""

status_base = client.query(query2).to_dataframe()

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [311]:
status_base["contrato_base"] = status_base["contrato_base"].astype(str).str.strip()

In [312]:
vigente_castigos = vigente_castigos.merge(status_base[["contrato_base","status"]],how="left",right_on="contrato_base",left_on="CUENTA")

In [313]:
vigente_castigos.loc[ (vigente_castigos["Descripcion"] == "") & (vigente_castigos["status" ]== 'P')  , "Descripcion"] = "Status P"

In [314]:
vigente_castigos.loc[ (vigente_castigos["Descripcion"] == "") & (vigente_castigos["Gestor" ]== 14964)  , "Descripcion"] = "Silvia salio"

Finalmente termiamos las validaciones, el resultado es el siguiente:

In [315]:
vigente_castigos["Descripcion"].value_counts()

Descripcion
Verdadero            23777
Retirado Castigos    14985
Silvia salio          1196
Liquidado              104
                         2
Status P                 2
Name: count, dtype: int64

In [316]:
vigente_castigos[vigente_castigos["Descripcion"] == ""]

,CUENTA,DIAS_VENCIDOS,Gestor,SUCURSAL,ESTATUS,CAPITAL_INSOLUTO,BUCKET,mes_retiro_x,mes_asignacion_x,Fecha_reasig,...,Descripcion,contrato,gestor,mes_asignacion_y,mes_retiro_y,contrato_liq,contrato_dem,Val_y,contrato_base,status
6188,79105393,544,9883,8.0,ACTIVA,19048.18,540+,2026-03-01,2025-12-01,0.0,...,,NaN,<NA>,NaT,NaT,NaN,NaN,NaN,NaN,NaN
40062,79190608,446,9883,72.0,ACTIVA,137123.34,365-449,2026-02-01,2025-01-01,0.0,...,,79190608.0,9919,2026-01-01,2026-04-01,NaN,NaN,False,NaN,NaN

### Exclusiones auditoria

In [317]:
##liq.head(2)
#client = bigquery.Client()
query3 = f"""
select * FROm `Castigos_APL.Exclusiones_Auditoria`
WHERE Empresa = 'FISA'
;"""

exclusiones = client.query(query3).to_dataframe()

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [318]:
exclusiones = exclusiones.rename(columns={"Cuenta":"Cuenta_exc"})

In [319]:
exclusiones["Cuenta_exc"] = exclusiones["Cuenta_exc"].astype(str).str.strip()
propuesta["contrato"] = propuesta["contrato"].astype(str).str.strip()

In [320]:
exclusiones = exclusiones.merge(propuesta["contrato"], how="left", left_on="Cuenta_exc",right_on="contrato" )

In [321]:
print("Tenemos un total de ", len(exclusiones[exclusiones["contrato"].notna()]), "cuentas de exclusiones auditoria que se incluyeron en la propuesta")

Tenemos un total de  0 cuentas de exclusiones auditoria que se incluyeron en la propuesta

### Retenciones

In [322]:
#client = bigquery.Client()
query4 = f"""
Select * FROM `Castigos_FISA.Retenciones_Puntos_FISA`
;"""

retenciones = client.query(query4).to_dataframe()

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [323]:
len(retenciones)

137

In [324]:
retenciones = retenciones.merge(propuesta[["contrato","gestor","agencia","mes_asignacion","mes_retiro"]],how="left", left_on="contrato_legado", right_on="contrato")

In [325]:
retenciones["Descripcion"] = ""

In [326]:
retenciones.loc[  (retenciones["TIPO_CARTERA"] == "Asignacion Fenix")  , "Descripcion"] = "Fenix Pendiente"

In [327]:
retenciones = retenciones.merge(Demanda["contrato_dem"],how="left",left_on="contrato_legado",right_on="contrato_dem")

In [328]:
retenciones.loc[  (retenciones["contrato_dem"].notna()) & (retenciones["Descripcion"] == "") , "Descripcion"] = "Demanda Judicial"

In [329]:
liq = liq.rename(columns={"contrato_legado":"contrato_liq"})

In [330]:
retenciones = retenciones.merge(liq["contrato_liq"],how="left",right_on="contrato_liq",left_on="contrato_legado")

In [331]:
retenciones[retenciones["contrato_liq"].notna()]

Empty DataFrame
Columns: [contrato_legado, contrato_core, ACE, AGENCIA, FECHA_INICIO, FECHA_FIN, TIPO_CARTERA, Observacion, contrato, gestor, agencia, mes_asignacion, mes_retiro, Descripcion, contrato_dem, contrato_liq]
Index: []

In [332]:
retenciones.loc[  (retenciones["contrato_liq"].notna() ) & (retenciones["Descripcion"] == "")  , "Descripcion"] = "Liquidados"

In [333]:
retenciones["FECHA_INICIO"] = pd.to_datetime(retenciones["FECHA_INICIO"])
retenciones["FECHA_FIN"] = pd.to_datetime(retenciones["FECHA_FIN"])

In [334]:
condicion_ret = (retenciones["gestor"] == retenciones["ACE"]) & \
    (retenciones["mes_asignacion"] == retenciones["FECHA_INICIO"]) & \
    (retenciones["AGENCIA"] == retenciones["agencia"])  

es_nan = retenciones[["gestor", "ACE", "mes_asignacion", "FECHA_INICIO", "AGENCIA", "agencia"]].isna().any(axis=1)

In [335]:
# Aplicar la lógica para diferenciar NaN de False
retenciones["Val_y"] = np.where(es_nan, np.nan, condicion_ret.astype(object))

In [336]:
retenciones["Val_y"].value_counts()

Val_y
True    136
Name: count, dtype: int64

In [337]:
retenciones.loc[  (retenciones["Val_y"] == True ) & (retenciones["Descripcion"] == "")  , "Descripcion"] = "Verdadero"
retenciones.loc[  (retenciones["Val_y"] == False ) & (retenciones["Descripcion"] == "")  , "Descripcion"] = "Falso"

In [338]:
retenciones["Descripcion"].value_counts()

Descripcion
Verdadero          136
Fenix Pendiente      2
                     1
Name: count, dtype: int64

In [339]:
retenciones = retenciones.drop_duplicates("contrato_legado")

In [340]:
retenciones[retenciones["Descripcion"] == ""]

,contrato_legado,contrato_core,ACE,AGENCIA,FECHA_INICIO,FECHA_FIN,TIPO_CARTERA,Observacion,contrato,gestor,agencia,mes_asignacion,mes_retiro,Descripcion,contrato_dem,contrato_liq,Val_y
31,1000257845,None,14924,JM Servicios Corporativos Lopez Y Asociados S....,2025-12-01,2026-01-01,Asignacion Normal,Retencion ok,NaN,<NA>,NaN,NaT,NaT,,NaN,NaN,NaN

In [341]:
control_antes_actual.columns

Index(['CUENTA', 'ESTATUS', 'DESCRIPCION_DICTAMEN', 'DIAS_VENCIDOS_x',
       'BANDERA_ASIGNACION', 'AGN', 'ETIQUETA_SEGMENTACION',
       'FECHA_ASIGNACION', 'SUCURSAL', 'TIPO_DESPACHO', 'FECHA_RETIRO',
       'REGLA_EXCLUSION', 'CIUDAD', 'ESTADO', 'DIAS_VENCIDOS_y'],
      dtype='object')

In [342]:
control_antes_actual[(control_antes_actual["CUENTA"] == "79012503") |(control_antes_actual["CUENTA"] == "78972940")]

,CUENTA,ESTATUS,DESCRIPCION_DICTAMEN,DIAS_VENCIDOS_x,BANDERA_ASIGNACION,AGN,ETIQUETA_SEGMENTACION,FECHA_ASIGNACION,SUCURSAL,TIPO_DESPACHO,FECHA_RETIRO,REGLA_EXCLUSION,CIUDAD,ESTADO,DIAS_VENCIDOS_y
18797,79012503,ACTIVA,0,1077,MODULO EXCLUSIÓN,0,0,1970-01-01,6,0,1970-01-01,DESASIGNACION ESPECIAL,AGUASCALIENTES,AGUASCALIENTES,1046.0
22502,78972940,ACTIVA,0,1169,MODULO EXCLUSIÓN,0,0,1970-01-01,7,0,1970-01-01,DESASIGNACION ESPECIAL,LEON DE LOS ALDAMA,GUANAJUATO,1138.0

### Pagos

In [343]:
#client = bigquery.Client()
query5 = f"""
Select * FROM `Castigos_FISA.Pagos_Puntos_FISA`
;"""

pagos = client.query(query5).to_dataframe()

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [344]:
pagos.head()

,contrato_legado,contrato_core,ACE,AGENCIA,mes_asignacion,mes_retiro,Cartera,TIPO
0,79243859,None,14924,JM Servicios Corporativos Lopez Y Asociados S....,2025-11-14,2026-01-01,Asignacion Normal,Pagos ok
1,1000201511,None,14942,Agencia Latinoamericana De Cobranza Valencia A...,2025-12-01,2026-01-01,Asignacion Normal,Pagos ok
2,79020181,None,14966,EnPRO Soluciones Cobranza y Servicios Especial...,2025-10-01,2026-01-01,Asignacion Normal,Pagos ok
3,79295743,None,14924,JM Servicios Corporativos Lopez Y Asociados S....,2025-12-01,2026-01-01,Asignacion Normal,Pagos ok
4,1000304135,None,9919,Emmanuel Jonhatan Quijano Navarro,2025-12-01,2026-01-01,Asignacion Normal,Pagos ok

In [345]:
pagos["mes_asignacion"] = pd.to_datetime(pagos["mes_asignacion"])
pagos["mes_retiro"] = pd.to_datetime(pagos["mes_retiro"])

In [346]:
pagos.dtypes

contrato_legado            object
contrato_core              object
ACE                         Int64
AGENCIA                    object
mes_asignacion     datetime64[ns]
mes_retiro         datetime64[ns]
Cartera                    object
TIPO                       object
dtype: object

In [347]:
pagos["Descripcion"] = ""

In [348]:
###Catalogamos los pagos fenix como pendientes:
pagos.loc[  (pagos["Cartera"] == "Asignacion Fenix")  , "Descripcion"] = "Fenix Pendiente"

In [349]:
##Realizamos el merge con las liquidaciones
pagos = pagos.merge(liq["contrato_liq"],how="left",left_on="contrato_legado",right_on="contrato_liq")

In [350]:
###Catalogamos los liquidados
pagos.loc[  (pagos["contrato_liq"].notna()) & (pagos["Descripcion"] == "")  , "Descripcion"] = "Liquidados"

In [351]:
##Realizamos merge con las demandas
pagos = pagos.merge(Demanda["contrato_dem"],how="left",left_on="contrato_legado",right_on="contrato_dem")

In [352]:
## Catalogamos las demandas judiciales
pagos.loc[  (pagos["contrato_dem"].notna()) & (pagos["Descripcion"] == "")  , "Descripcion"] = "Demanda Judicial"

In [353]:
## Se realiza el merge con la propuesta
pagos = pagos.merge(propuesta[["contrato","gestor","agencia","mes_asignacion","mes_retiro"]],how="left",left_on="contrato_legado",right_on="contrato")

In [354]:
##Creamos la condicion Val_y
condicion_pagos = (pagos["gestor"] == pagos["ACE"]) & \
    (pagos["mes_asignacion_x"] == pagos["mes_asignacion_y"]) & \
    (pagos["AGENCIA"] == pagos["agencia"])  

es_nan_pagos = pagos[["gestor", "ACE", "mes_asignacion_x", "mes_asignacion_y", "AGENCIA", "agencia"]].isna().any(axis=1)

# Aplicar la lógica para diferenciar NaN de False
pagos["Val_y"] = np.where(es_nan_pagos, np.nan, condicion_pagos.astype(object))

In [355]:
pagos.loc[  (pagos["Val_y"] == True ) & (pagos["Descripcion"] == "")  , "Descripcion"] = "Verdadero"
pagos.loc[  (pagos["Val_y"] == False ) & (pagos["Descripcion"] == "")  , "Descripcion"] = "Falso"
pagos.loc[  (pagos["Val_y"].isna() ) & (pagos["Descripcion"] == "")  , "Descripcion"] = np.nan

In [356]:
pagos["Descripcion"].value_counts(dropna=False)

Descripcion
Verdadero    190
NaN            4
Name: count, dtype: int64

In [357]:
pagos[pagos["Descripcion"].isna()]

,contrato_legado,contrato_core,ACE,AGENCIA,mes_asignacion_x,mes_retiro_x,Cartera,TIPO,Descripcion,contrato_liq,contrato_dem,contrato,gestor,agencia,mes_asignacion_y,mes_retiro_y,Val_y
17,73474546,None,14968,Jorge Davila Hernandez,2025-12-01,2026-01-01,Asignacion Normal,Pagos ok,NaN,NaN,NaN,NaN,<NA>,NaN,NaT,NaT,NaN
83,79238988,None,9883,Susana Zarate Lazcano,2025-12-01,2026-01-01,Asignacion Normal,Pagos ok,NaN,NaN,NaN,NaN,<NA>,NaN,NaT,NaT,NaN
119,79152821,None,14924,JM Servicios Corporativos Lopez Y Asociados S....,2025-12-01,2026-01-01,Asignacion Normal,Pagos ok,NaN,NaN,NaN,NaN,<NA>,NaN,NaT,NaT,NaN
164,1000211367,None,9883,Susana Zarate Lazcano,2025-12-01,2026-01-01,Asignacion Normal,Pagos ok,NaN,NaN,NaN,NaN,<NA>,NaN,NaT,NaT,NaN

### Liquidaciones

In [361]:
liq = liq.merge(propuesta["contrato"],how="left",left_on="contrato_liq",right_on="contrato")

In [362]:
liq.dtypes

contrato_liq    object
Mes_de_pago     object
contrato_x      object
contrato_y      object
contrato        object
dtype: object

In [363]:
liq_en_prop = len(liq[liq["contrato_y"].notna()])
print("Tenemos un total de: ", liq_en_prop, "cuentas liquidadas en la propuesta")

Tenemos un total de:  0 cuentas liquidadas en la propuesta

In [360]:
liq[liq["contrato"].notna()]["contrato_liq"].tolist()

KeyError: 'contrato'

### Vendido

In [237]:
#client = bigquery.Client()
query6 = f"""
select * FROm `Castigos_FISA.Vendidos_Puntos_FISA`
;"""

vendido = client.query(query6).to_dataframe()

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [238]:
vendido = vendido.merge(propuesta["contrato"],how="left", right_on="contrato", left_on="Contrato")

In [239]:
VENDIDO_en_prop = len(vendido[vendido["contrato"].notna()])
print("Tenemos un total de: ", VENDIDO_en_prop, "cuentas vendidas en la propuesta")

Tenemos un total de:  0 cuentas vendidas en la propuesta

### Porcentajes de Asignación

In [364]:
#client = bigquery.Client()
query7 = f"""
select * FROM `Castigos_FISA.Porcentajes_FISA`
;"""

porcentajes = client.query(query7).to_dataframe()

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [365]:
##propuesta[propuesta["bucket"] == "1460+"]
propuesta.loc[  (propuesta["bucket"] == "1460+" )   , "bucket"] = "540+"

In [366]:
porcentajes

,AGENCIAS,_180A269,_270A364,_365A449,_450A539,_540
0,Agencia Latinoamericana De Cobranza Valencia A...,0.115,0.075,0.060,0.060,0.095
1,Jorge Davila Hernandez,0.090,0.125,0.135,0.155,0.105
2,DABSA Cobranza Profesional S.A.S. De C.V.,0.130,0.100,0.155,0.135,0.085
3,Emmanuel Jonhatan Quijano Navarro,0.100,0.065,0.090,0.065,0.080
4,JM Servicios Corporativos Lopez Y Asociados S....,0.155,0.085,0.075,0.090,0.070
5,Moyram S.C.,0.075,0.060,0.065,0.070,0.060
6,RKS Buro Servicios Integrales S.A. de C.V.,0.060,0.140,0.080,0.110,0.125
7,JGS Servicios De Recuperacion De Cartera S.C.,0.070,0.070,0.100,0.100,0.075
8,Sistemas De Recuperacion Integral S.A. de C.V.,0.060,0.080,0.115,0.060,0.060
9,Susana Zarate Lazcano,0.080,0.090,0.070,0.080,0.060
10,Cobranza Objetiva Alcocer Palacios S.A. De C.V.,0.065,0.110,0.055,0.075,0.065
11,EnPRO Soluciones Cobranza y Servicios Especial...,NaN,NaN,NaN,NaN,0.060
12,Mario Enrique Zamudio Cruz,NaN,NaN,NaN,NaN,0.060

In [367]:
propuesta["bucket"].value_counts()

bucket
540+       24941
180-269     5562
270-364     5191
450-539     3110
365-449     2404
Name: count, dtype: int64

In [368]:
porcentajes.head()

,AGENCIAS,_180A269,_270A364,_365A449,_450A539,_540
0,Agencia Latinoamericana De Cobranza Valencia A...,0.115,0.075,0.060,0.060,0.095
1,Jorge Davila Hernandez,0.090,0.125,0.135,0.155,0.105
2,DABSA Cobranza Profesional S.A.S. De C.V.,0.130,0.100,0.155,0.135,0.085
3,Emmanuel Jonhatan Quijano Navarro,0.100,0.065,0.090,0.065,0.080
4,JM Servicios Corporativos Lopez Y Asociados S....,0.155,0.085,0.075,0.090,0.070

In [369]:
porcentajes = porcentajes.rename(columns={"_180A269":"180-269","_270A364":"270-364","_365A449":"365-449","_450A539":"450-539","_540":"540+"})

In [370]:
propuesta.head(2)

,contrato,contrato_legado,contrato_core,dias_vencidos,sucursal,capital_insoluto,bucket,bandera,gestor,agencia,mes_asignacion,mes_retiro
0,79015810,79015810.0,1.000238e+09,210,278,28016.26,180-269,CARTERA NUEVA,14924,JM Servicios Corporativos Lopez Y Asociados S....,2026-01-01,2026-02-01
1,79270505,79270505.0,1.000209e+09,209,37,2511.53,180-269,CARTERA NUEVA,14924,JM Servicios Corporativos Lopez Y Asociados S....,2026-01-01,2026-02-01

In [371]:
pivot_conteo = propuesta.pivot_table(index="agencia",columns="bucket",values="bandera",aggfunc="count", fill_value=0)

In [372]:
pivot_porcentaje = (pivot_conteo / pivot_conteo.sum()) 
pivot_porcentaje = pivot_porcentaje.reset_index()

In [373]:
pivot_porcentaje = pivot_porcentaje.rename(columns={"agencia":"AGENCIAS"})

In [374]:
pivot_porcentaje

bucket,AGENCIAS,180-269,270-364,365-449,450-539,540+
0,Agencia Latinoamericana De Cobranza Valencia A...,0.124595,0.077442,0.079867,0.071383,0.035363
1,Cobranza Objetiva Alcocer Palacios S.A. De C.V.,0.043510,0.095550,0.047837,0.055949,0.125376
2,DABSA Cobranza Profesional S.A.S. De C.V.,0.135922,0.149104,0.166389,0.130225,0.072210
3,Emmanuel Jonhatan Quijano Navarro,0.108594,0.088615,0.098170,0.086495,0.112947
4,EnPRO Soluciones Cobranza y Servicios Especial...,0.000000,0.000000,0.000000,0.000000,0.109659
5,JGS Servicios De Recuperacion De Cartera S.C.,0.074613,0.082643,0.080699,0.112219,0.025741
6,JM Servicios Corporativos Lopez Y Asociados S....,0.165408,0.090156,0.108153,0.103215,0.121206
7,Jorge Davila Hernandez,0.095289,0.150260,0.128952,0.171383,0.091456
8,Mario Enrique Zamudio Cruz,0.000000,0.000000,0.000000,0.000000,0.049878
9,Moyram S.C.,0.079648,0.065305,0.059068,0.088424,0.107774
10,RKS Buro Servicios Integrales S.A. de C.V.,0.017260,0.012329,0.033694,0.026688,0.009703
11,Sistemas De Recuperacion Integral S.A. de C.V.,0.064186,0.093046,0.082363,0.071704,0.048915
12,Susana Zarate Lazcano,0.090974,0.095550,0.114809,0.082315,0.089772

In [375]:
###porcentajes - pivot_porcentaje
# Convertimos 'AGENCIAS' en el identificador de filas
porcentajes = porcentajes.set_index('AGENCIAS')
pivot_porcentaje = pivot_porcentaje.set_index('AGENCIAS')

In [376]:
diferencia = porcentajes - pivot_porcentaje

In [377]:
diferencia

,180-269,270-364,365-449,450-539,540+
AGENCIAS,,,,,
Agencia Latinoamericana De Cobranza Valencia Avila S.C.,-0.009595,-0.002442,-0.019867,-0.011383,0.059637
Cobranza Objetiva Alcocer Palacios S.A. De C.V.,0.021490,0.014450,0.007163,0.019051,-0.060376
DABSA Cobranza Profesional S.A.S. De C.V.,-0.005922,-0.049104,-0.011389,0.004775,0.012790
Emmanuel Jonhatan Quijano Navarro,-0.008594,-0.023615,-0.008170,-0.021495,-0.032947
EnPRO Soluciones Cobranza y Servicios Especializados S.A.S. de C.V.,NaN,NaN,NaN,NaN,-0.049659
JGS Servicios De Recuperacion De Cartera S.C.,-0.004613,-0.012643,0.019301,-0.012219,0.049259
JM Servicios Corporativos Lopez Y Asociados S. De R.L. De C.V.,-0.010408,-0.005156,-0.033153,-0.013215,-0.051206
Jorge Davila Hernandez,-0.005289,-0.025260,0.006048,-0.016383,0.013544
Mario Enrique Zamudio Cruz,NaN,NaN,NaN,NaN,0.010122
Moyram S.C.,-0.004648,-0.005305,0.005932,-0.018424,-0.047774
RKS Buro Servicios Integrales S.A. de C.V.,0.042740,0.127671,0.046306,0.083312,0.115297
Sistemas De Recuperacion Integral S.A. de C.V.,-0.004186,-0.013046,0.032637,-0.011704,0.011085
Susana Zarate Lazcano,-0.010974,-0.005550,-0.044809,-0.002315,-0.029772

In [378]:
diferencia[diferencia > 0.01]

,180-269,270-364,365-449,450-539,540+
AGENCIAS,,,,,
Agencia Latinoamericana De Cobranza Valencia Avila S.C.,NaN,NaN,NaN,NaN,0.059637
Cobranza Objetiva Alcocer Palacios S.A. De C.V.,0.02149,0.014450,NaN,0.019051,NaN
DABSA Cobranza Profesional S.A.S. De C.V.,NaN,NaN,NaN,NaN,0.012790
Emmanuel Jonhatan Quijano Navarro,NaN,NaN,NaN,NaN,NaN
EnPRO Soluciones Cobranza y Servicios Especializados S.A.S. de C.V.,NaN,NaN,NaN,NaN,NaN
JGS Servicios De Recuperacion De Cartera S.C.,NaN,NaN,0.019301,NaN,0.049259
JM Servicios Corporativos Lopez Y Asociados S. De R.L. De C.V.,NaN,NaN,NaN,NaN,NaN
Jorge Davila Hernandez,NaN,NaN,NaN,NaN,0.013544
Mario Enrique Zamudio Cruz,NaN,NaN,NaN,NaN,0.010122
Moyram S.C.,NaN,NaN,NaN,NaN,NaN
RKS Buro Servicios Integrales S.A. de C.V.,0.04274,0.127671,0.046306,0.083312,0.115297
Sistemas De Recuperacion Integral S.A. de C.V.,NaN,NaN,0.032637,NaN,0.011085
Susana Zarate Lazcano,NaN,NaN,NaN,NaN,NaN

### Capacidades

In [379]:
propuesta.head()

,contrato,contrato_legado,contrato_core,dias_vencidos,sucursal,capital_insoluto,bucket,bandera,gestor,agencia,mes_asignacion,mes_retiro
0,79015810,79015810.0,1.000238e+09,210,278,28016.26,180-269,CARTERA NUEVA,14924,JM Servicios Corporativos Lopez Y Asociados S....,2026-01-01,2026-02-01
1,79270505,79270505.0,1.000209e+09,209,37,2511.53,180-269,CARTERA NUEVA,14924,JM Servicios Corporativos Lopez Y Asociados S....,2026-01-01,2026-02-01
2,79256981,79256981.0,1.000551e+09,182,24,13083.29,180-269,CARTERA NUEVA,14924,JM Servicios Corporativos Lopez Y Asociados S....,2026-01-01,2026-02-01
3,1000470512,NaN,1.000471e+09,182,9,6133.95,180-269,CARTERA NUEVA,14924,JM Servicios Corporativos Lopez Y Asociados S....,2026-01-01,2026-02-01
4,1000459788,NaN,1.000460e+09,198,290,7684.70,180-269,CARTERA NUEVA,14942,Agencia Latinoamericana De Cobranza Valencia A...,2026-01-01,2026-02-01

In [380]:
capacidad_propuesta = propuesta.pivot_table(index="agencia",values="bandera",aggfunc="count")

In [381]:
capacidad_propuesta =  capacidad_propuesta.rename(columns={"bandera":"Cap_actual"})

In [382]:


#client = bigquery.Client()
query8 = f"""
select Agencia, Cap_actual FROM `Castigos_FISA.Capacidades_Puntos_FISA`
WHERE gestor IS NOT NULL 
;"""

Capacidades = client.query(query8).to_dataframe()

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [383]:
Capacidades

                                              Agencia  Cap_actual
0   Agencia Latinoamericana De Cobranza Valencia A...        2000
1                              Jorge Davila Hernandez        3500
2     Cobranza Objetiva Alcocer Palacios S.A. De C.V.        3300
3           DABSA Cobranza Profesional S.A.S. De C.V.        3300
4   EnPRO Soluciones Cobranza y Servicios Especial...        2200
5                   Emmanuel Jonhatan Quijano Navarro        3500
6       JGS Servicios De Recuperacion De Cartera S.C.        1600
7   JM Servicios Corporativos Lopez Y Asociados S....        4000
8                                         MOYRAM S.C.        3100
9          RKS Buro Servicios Integrales S.A. de C.V.         500
10                              Silvia Guzman Sanchez           0
11     Sistemas De Recuperacion Integral S.A. de C.V.        2000
12                              Susana Zarate Lazcano        3000
13                         Mario Enrique Zamudio Cruz        1000

In [384]:
Capacidades = Capacidades.rename(columns={"Agencia":"agencia"})

In [385]:
Capacidades = Capacidades.set_index("agencia")

In [386]:
Capacidades - capacidad_propuesta

                                                    Cap_actual
agencia
Agencia Latinoamericana De Cobranza Valencia Av...      -391.0
Cobranza Objetiva Alcocer Palacios S.A. De C.V.         -854.0
DABSA Cobranza Profesional S.A.S. De C.V.               -836.0
Emmanuel Jonhatan Quijano Navarro                       -886.0
EnPRO Soluciones Cobranza y Servicios Especiali...      -535.0
JGS Servicios De Recuperacion De Cartera S.C.           -429.0
JM Servicios Corporativos Lopez Y Asociados S. ...      -992.0
Jorge Davila Hernandez                                  -934.0
MOYRAM S.C.                                               <NA>
Mario Enrique Zamudio Cruz                              -244.0
Moyram S.C.                                               <NA>
RKS Buro Servicios Integrales S.A. de C.V.               -66.0
Silvia Guzman Sanchez                                     <NA>
Sistemas De Recuperacion Integral S.A. de C.V.          -481.0
Susana Zarate Lazcano                                   -773.0

In [387]:
if capacidad_propuesta["Cap_actual"].sum() > Capacidades["Cap_actual"].sum() :
    print("✅Llegamos a la capacidad, pero tenemos desborde de: ", capacidad_propuesta["Cap_actual"].sum() - Capacidades["Cap_actual"].sum(), "cuentas.")
else:
    print("Faltan cuentas para llegar a la capacidad :( ")

✅Llegamos a la capacidad, pero tenemos desborde de:  8208 cuentas.