# Validaciones AEF Agencias de Cobranza

### Validacion 1
Propuesta vs Vigente

In [173]:
import pandas as pd

Rutas:

In [182]:
ruta_universo_actual = "./2026/Enero/Universo_AEF_202601.xlsx"
ruta_cartera_actual = "./2025/Diciembre/Asignacion_AEF_Dic.xlsx"
sheetname_cartera_ac = "Asignacion_AEF_Dic"
ruta_propuesta = "./2026/Enero/PROPUESTA_CASTIGOS_AEF_202601.xlsx"
sheetname_propuesta = "PROPUESTA"

Cargamos el archivo `Universo del mes actual` y la asignación del mes anterior.

In [175]:
universo_actual = pd.read_excel(ruta_universo_actual,na_values=0)
universo_actual = universo_actual.fillna(0)
universo_actual.head(2)

,cliente_id,capital_insoluto,cc_ult_gestor,contrato_id,empresa,entidad,fecha_credito,fecha_disposicion,fecha_extraccion,fecha_ult_disp,...,is_core,fecha_promesa_pago,semaforo,en_cobranza,fuente_core,credit_type,sector,dias_vencidos,dias_vencidos_gestiona,dias_vencidos_inicial
0,7944391,20954.47,0,2591828,100000004,CIUDAD DE MEXICO,2022-08-31 05:00:00 UTC,2022-08-31 05:00:00 UTC,2026-01-01 06:00:00 UTC,2022-08-31 05:00:00 UTC,...,0,0,0.0,0,0,0,0.0,761,762,761
1,1282055,0.00,0,1186857,100000004,CIUDAD DE MEXICO,2012-03-02 06:00:00 UTC,2012-03-02 06:00:00 UTC,2026-01-01 06:00:00 UTC,2012-03-02 06:00:00 UTC,...,0,0,0.0,0,0,0,0.0,4335,4336,4335

In [183]:
cartera_actual = pd.read_excel(ruta_cartera_actual, sheet_name=sheetname_cartera_ac ,na_values=0)
cartera_actual = cartera_actual.fillna(0)
cartera_actual.head(2)

,operacionesid,CLIENTESID,DESPACHO,suc,sucursal,FECHA_INI,FECHA_FIN,CAPINSOLUTO,TOTALADEUDO,DIASVENCIDOS,Bucket,bandera,mes,ID_Despacho
0,2807874,0.0,Emmanuel Jonhatan Quijano Navarro,0.0,MUZQUIZ,2025-08-01,2025-12-31,9727.69,0.0,183,180-210,Asignacion Normal,202512,9919
1,1000173106,0.0,"MOYRAM, S.C.",0.0,LOS REYES,2025-08-01,2025-12-31,5830.24,0.0,207,180-210,Asignacion Normal,202512,10002

In [184]:
vencimiento_siguiente = cartera_actual["FECHA_FIN"].sort_values(ascending=True).unique()[1]
print(vencimiento_siguiente)

2025-12-31 00:00:00

In [185]:
len(cartera_actual[~cartera_actual["FECHA_FIN"].isin([vencimiento_siguiente])])

34180

In [186]:
cartera_actual["operacionesid"] = cartera_actual["operacionesid"].astype(str).str.strip()

In [187]:
universo_actual["contrato_id"] = universo_actual["contrato_id"].astype(str).str.strip()

### Vigente vs propuesta y control
Puntos de Asignación

#### Vigente

In [414]:
universo_actual.head()

,cliente_id,capital_insoluto,cc_ult_gestor,contrato_id,empresa,entidad,fecha_credito,fecha_disposicion,fecha_extraccion,fecha_ult_disp,...,is_core,fecha_promesa_pago,semaforo,en_cobranza,fuente_core,credit_type,sector,dias_vencidos,dias_vencidos_gestiona,dias_vencidos_inicial
0,7944391,20954.47,0,2591828,100000004,CIUDAD DE MEXICO,2022-08-31 05:00:00 UTC,2022-08-31 05:00:00 UTC,2026-01-01 06:00:00 UTC,2022-08-31 05:00:00 UTC,...,0,0,0.0,0,0,0,0.0,761,762,761
1,1282055,0.00,0,1186857,100000004,CIUDAD DE MEXICO,2012-03-02 06:00:00 UTC,2012-03-02 06:00:00 UTC,2026-01-01 06:00:00 UTC,2012-03-02 06:00:00 UTC,...,0,0,0.0,0,0,0,0.0,4335,4336,4335
2,390436,0.00,0,1192630,100000004,MEXICO,2012-03-16 06:00:00 UTC,2012-03-16 06:00:00 UTC,2026-01-01 06:00:00 UTC,2012-03-16 06:00:00 UTC,...,0,0,0.0,0,0,0,0.0,4854,4855,4854
3,372001,0.00,0,812877,100000004,MEXICO,2009-03-05 06:00:00 UTC,2009-03-05 06:00:00 UTC,2026-01-01 06:00:00 UTC,2009-03-05 06:00:00 UTC,...,0,0,0.0,0,0,0,0.0,5463,5464,5463
4,203374,0.00,0,901755,100000004,CIUDAD DE MEXICO,2009-12-16 06:00:00 UTC,2009-12-16 06:00:00 UTC,2026-01-01 06:00:00 UTC,2009-12-16 06:00:00 UTC,...,0,0,0.0,0,0,0,0.0,5585,5586,5585

In [415]:
propuesta = pd.read_excel(ruta_propuesta,sheet_name=sheetname_propuesta,na_values=0)
propuesta.head(2)

,CUENTA,DIAS_VENCIDOS,SUCURSAL,CAPITAL_INSOLUTO,BUCKET,BANDERA,Agencia,Gestor,mes_asignacion,mes_retiro,x
0,2549663,728,609,8874.09,540+,RETENCION,Soluciones en Cobranza Mercantil y Penal S.C.,15059,2025-10-01,2026-02-28,NaN
1,2784168,56,584,60573.75,180 a 210,RETENCION,EnPRO Soluciones Cobranza y Servicios Especial...,44444,2025-12-01,2026-02-28,NaN

In [416]:
print("La propuesta tiene un total de: ",len(propuesta),"cuentas.")

La propuesta tiene un total de:  42388 cuentas.

In [417]:
cartera_actual.head(2)

,operacionesid,CLIENTESID,DESPACHO,suc,sucursal,FECHA_INI,FECHA_FIN,CAPINSOLUTO,TOTALADEUDO,DIASVENCIDOS,Bucket,bandera,mes,ID_Despacho
0,2807874,0.0,Emmanuel Jonhatan Quijano Navarro,0.0,MUZQUIZ,2025-08-01,2025-12-31,9727.69,0.0,183,180-210,Asignacion Normal,202512,9919
1,1000173106,0.0,"MOYRAM, S.C.",0.0,LOS REYES,2025-08-01,2025-12-31,5830.24,0.0,207,180-210,Asignacion Normal,202512,10002

In [418]:
vigente = cartera_actual

In [548]:
vigente_castigos[vigente_castigos["operacionesid"] == "2769182"]

,operacionesid,CLIENTESID,DESPACHO,suc,sucursal,FECHA_INI,FECHA_FIN,CAPINSOLUTO,TOTALADEUDO,DIASVENCIDOS,...,mes_asignacion,mes_retiro,Descripcion,OperacionesID_liq,operacionesid_v,contrato,Val_y,contrato_base,status,Val_agn
3348,2769182,0.0,Cobranza Objetiva Alcocer Palacios S.A. De C.V.,0.0,TUXTLA POLIFORUM,2025-12-01,2026-02-28,19310.26,0.0,255,...,2026-01-01,2026-03-30,Falso,NaN,NaN,NaN,False,NaN,NaN,False

In [420]:
vigente["operacionesid"] = vigente["operacionesid"].astype(str).str.strip()
propuesta["CUENTA"] = propuesta["CUENTA"].astype(str).str.strip()

In [421]:
vigente = vigente.merge(propuesta[["CUENTA","Agencia", "Gestor", "mes_asignacion", "mes_retiro"]],how="left",left_on="operacionesid",right_on="CUENTA")

In [422]:
vigente[~vigente["FECHA_FIN"].isin([vencimiento_siguiente])]["FECHA_FIN"].value_counts()

FECHA_FIN
2026-02-28    20867
2026-01-31    13306
2025-11-30        7
Name: count, dtype: int64

In [423]:
vigente.head()

,operacionesid,CLIENTESID,DESPACHO,suc,sucursal,FECHA_INI,FECHA_FIN,CAPINSOLUTO,TOTALADEUDO,DIASVENCIDOS,Bucket,bandera,mes,ID_Despacho,CUENTA,Agencia,Gestor,mes_asignacion,mes_retiro
0,2807874,0.0,Emmanuel Jonhatan Quijano Navarro,0.0,MUZQUIZ,2025-08-01,2025-12-31,9727.69,0.0,183,180-210,Asignacion Normal,202512,9919,2807874,Cobranza Objetiva Alcocer Palacios S.A. De C.V.,12345.0,2026-01-01,2026-01-31
1,1000173106,0.0,"MOYRAM, S.C.",0.0,LOS REYES,2025-08-01,2025-12-31,5830.24,0.0,207,180-210,Asignacion Normal,202512,10002,1000173106,Susana Zarate Lazcano,9883.0,2026-01-01,2026-01-31
2,2757870,0.0,Jose Antonio Trejo Cervantes,0.0,AZTECAS,2025-09-01,2025-12-31,59635.02,0.0,178,180-210,Asignacion Normal,202512,15079,2757870,Jose Antonio Trejo Cervantes,15079.0,2025-09-01,2026-02-28
3,2792298,0.0,Consultores En Cobranza New Collect S.C.,0.0,ERMITA,2025-09-01,2025-12-31,70034.74,0.0,209,180-210,Asignacion Normal,202512,15099,2792298,Consultores En Cobranza New Collect S.C.,15099.0,2025-09-01,2026-02-28
4,1000203203,0.0,Cobranza Objetiva Alcocer Palacios S.A. De C.V.,0.0,LOS REYES 2,2025-09-01,2025-12-31,6193.03,0.0,177,180-210,Asignacion Normal,202512,12345,1000203203,Cobranza Objetiva Alcocer Palacios S.A. De C.V.,12345.0,2025-09-01,2026-02-28

In [424]:
vigente["Descripcion"] = ""

In [425]:
vigente.loc[(vigente["FECHA_FIN"] == vencimiento_siguiente) & (vigente["bandera"] == "Asignacion Normal"), "Descripcion"] = "Retirado Castigos"
vigente.loc[(vigente["FECHA_FIN"] == vencimiento_siguiente) & (vigente["bandera"] == "Asignacion Fenix"), "Descripcion"] = "Retirado Fenix"

In [426]:
vigente["Descripcion"].value_counts()

Descripcion
                     34180
Retirado Castigos    16089
Retirado Fenix        1244
Name: count, dtype: int64

In [427]:
vigente_castigos = vigente[vigente["bandera"] == "Asignacion Normal"].copy()
vigente_fenix = vigente[vigente["bandera"] == "Asignacion Fenix"].copy()

In [428]:
vigente_castigos.head()

,operacionesid,CLIENTESID,DESPACHO,suc,sucursal,FECHA_INI,FECHA_FIN,CAPINSOLUTO,TOTALADEUDO,DIASVENCIDOS,Bucket,bandera,mes,ID_Despacho,CUENTA,Agencia,Gestor,mes_asignacion,mes_retiro,Descripcion
0,2807874,0.0,Emmanuel Jonhatan Quijano Navarro,0.0,MUZQUIZ,2025-08-01,2025-12-31,9727.69,0.0,183,180-210,Asignacion Normal,202512,9919,2807874,Cobranza Objetiva Alcocer Palacios S.A. De C.V.,12345.0,2026-01-01,2026-01-31,Retirado Castigos
1,1000173106,0.0,"MOYRAM, S.C.",0.0,LOS REYES,2025-08-01,2025-12-31,5830.24,0.0,207,180-210,Asignacion Normal,202512,10002,1000173106,Susana Zarate Lazcano,9883.0,2026-01-01,2026-01-31,Retirado Castigos
2,2757870,0.0,Jose Antonio Trejo Cervantes,0.0,AZTECAS,2025-09-01,2025-12-31,59635.02,0.0,178,180-210,Asignacion Normal,202512,15079,2757870,Jose Antonio Trejo Cervantes,15079.0,2025-09-01,2026-02-28,Retirado Castigos
3,2792298,0.0,Consultores En Cobranza New Collect S.C.,0.0,ERMITA,2025-09-01,2025-12-31,70034.74,0.0,209,180-210,Asignacion Normal,202512,15099,2792298,Consultores En Cobranza New Collect S.C.,15099.0,2025-09-01,2026-02-28,Retirado Castigos
4,1000203203,0.0,Cobranza Objetiva Alcocer Palacios S.A. De C.V.,0.0,LOS REYES 2,2025-09-01,2025-12-31,6193.03,0.0,177,180-210,Asignacion Normal,202512,12345,1000203203,Cobranza Objetiva Alcocer Palacios S.A. De C.V.,12345.0,2025-09-01,2026-02-28,Retirado Castigos

In [429]:

import os
from google.cloud import bigquery ##, storage
import pandas as pd

from google.cloud import bigquery

# Reemplaza con tu ID de proyecto real
client = bigquery.Client(project="findep-riesgos")

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\auth\_default.py:108: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [430]:

#client = bigquery.Client()
query = f"""
select * FROM `Castigos_AEF.Liq_Puntos_AEF`
;"""

liq = client.query(query).to_dataframe()

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [431]:

liq["OperacionesID"] = liq["OperacionesID"].astype(str).str.strip()
liq.dtypes

OperacionesID    object
Tipo             object
dtype: object

In [432]:
vigente_castigos = vigente_castigos.merge(liq["OperacionesID"],how="left", left_on="operacionesid",right_on="OperacionesID")

In [433]:
vigente_castigos = vigente_castigos.rename(columns={"OperacionesID":"OperacionesID_liq"})

In [434]:
vigente_castigos.loc[(vigente_castigos["FECHA_FIN"] != vencimiento_siguiente) & (vigente_castigos["OperacionesID_liq"].notna()), "Descripcion"] = "Liquidado"

In [435]:
vigente_castigos["Descripcion"].value_counts()

Descripcion
                     26203
Retirado Castigos    16089
Liquidado              109
Name: count, dtype: int64

In [436]:

#client = bigquery.Client()
query2 = f"""
SELECT * FROM `Castigos_AEF.Historico_Vendido`
;"""

vendido = client.query(query2).to_dataframe()

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [437]:
vendido = vendido.rename(columns={"operacionesid":"operacionesid_v"})

In [438]:
vigente_castigos = vigente_castigos.merge(vendido["operacionesid_v"], how= "left", left_on="operacionesid",right_on="operacionesid_v")

In [439]:
vigente_castigos.loc[ vigente_castigos["operacionesid_v"].notna() , "Descripcion"] = "Vendido"

In [440]:
vigente_castigos["Descripcion"].value_counts()

Descripcion
                     26203
Retirado Castigos    16089
Liquidado              109
Name: count, dtype: int64

In [441]:
Demanda = pd.read_excel("./2025/Diciembre/Cuentas Cobranza Judicial Nov25_asignación.xlsx",sheet_name="AEF")

In [442]:
Demanda["contrato"] = Demanda["contrato"].astype(str).str.strip()

In [443]:
len(Demanda)

178

In [444]:
Demanda = Demanda.drop_duplicates("contrato")

In [445]:
vigente_castigos = vigente_castigos.merge(Demanda["contrato"], how="left", left_on="operacionesid",right_on="contrato")

In [446]:
vigente_castigos.head(1)

,operacionesid,CLIENTESID,DESPACHO,suc,sucursal,FECHA_INI,FECHA_FIN,CAPINSOLUTO,TOTALADEUDO,DIASVENCIDOS,...,ID_Despacho,CUENTA,Agencia,Gestor,mes_asignacion,mes_retiro,Descripcion,OperacionesID_liq,operacionesid_v,contrato
0,2807874,0.0,Emmanuel Jonhatan Quijano Navarro,0.0,MUZQUIZ,2025-08-01,2025-12-31,9727.69,0.0,183,...,9919,2807874,Cobranza Objetiva Alcocer Palacios S.A. De C.V.,12345.0,2026-01-01,2026-01-31,Retirado Castigos,NaN,NaN,NaN

In [447]:
vigente_castigos.loc[(vigente_castigos["contrato"].notna()) & (vigente_castigos["Descripcion"] == "") , "Descripcion"] = "Demanda"

In [448]:
vigente_castigos["Descripcion"].value_counts(dropna=False)

Descripcion
                     26201
Retirado Castigos    16089
Liquidado              109
Demanda                  2
Name: count, dtype: int64

In [449]:
#vigente_castigos.to_excel("validacioon_demanda.xlsx")
vigente.tail()

,operacionesid,CLIENTESID,DESPACHO,suc,sucursal,FECHA_INI,FECHA_FIN,CAPINSOLUTO,TOTALADEUDO,DIASVENCIDOS,Bucket,bandera,mes,ID_Despacho,CUENTA,Agencia,Gestor,mes_asignacion,mes_retiro,Descripcion
51508,1827434,0.0,Consultoria Juridica Y Administrativa CAHM S.A...,0.0,0,2025-12-01,2026-02-28,0.0,0.0,3404,8+,Asignacion Fenix,202512,10000,NaN,NaN,NaN,NaT,NaT,
51509,1817798,0.0,Consultoria Juridica Y Administrativa CAHM S.A...,0.0,0,2025-12-01,2026-02-28,0.0,0.0,3407,8+,Asignacion Fenix,202512,10000,NaN,NaN,NaN,NaT,NaT,
51510,1841560,0.0,Consultoria Juridica Y Administrativa CAHM S.A...,0.0,0,2025-12-01,2026-02-28,0.0,0.0,3422,8+,Asignacion Fenix,202512,10000,NaN,NaN,NaN,NaT,NaT,
51511,1807016,0.0,Consultoria Juridica Y Administrativa CAHM S.A...,0.0,0,2025-12-01,2026-02-28,0.0,0.0,3463,8+,Asignacion Fenix,202512,10000,NaN,NaN,NaN,NaT,NaT,
51512,1806127,0.0,Consultoria Juridica Y Administrativa CAHM S.A...,0.0,0,2025-12-01,2026-02-28,0.0,0.0,3469,8+,Asignacion Fenix,202512,10000,NaN,NaN,NaN,NaT,NaT,

In [450]:
vigente_castigos.dtypes

operacionesid                object
CLIENTESID                  float64
DESPACHO                     object
suc                         float64
sucursal                     object
FECHA_INI            datetime64[ns]
FECHA_FIN            datetime64[ns]
CAPINSOLUTO                 float64
TOTALADEUDO                 float64
DIASVENCIDOS                  int64
Bucket                       object
bandera                      object
mes                           int64
ID_Despacho                   int64
CUENTA                       object
Agencia                      object
Gestor                      float64
mes_asignacion       datetime64[ns]
mes_retiro           datetime64[ns]
Descripcion                  object
OperacionesID_liq            object
operacionesid_v              object
contrato                     object
dtype: object

In [451]:
####PASAMOS LA COLUMNA DE  A ENTERO, YA QUE ESTABA EN FLOAT
vigente_castigos['Gestor'] = vigente_castigos['Gestor'].astype('Int64')

### Generaremos la validacion de lo vigente, en Val_y

In [452]:
condicion = (vigente_castigos["ID_Despacho"] == vigente_castigos["Gestor"]) & \
    (vigente_castigos["FECHA_INI"] == vigente_castigos["mes_asignacion"]) & \
    (vigente_castigos["FECHA_FIN"] == vigente_castigos["mes_retiro"])

In [453]:
import numpy as np
es_nan = vigente_castigos[["Gestor", "ID_Despacho", "mes_asignacion", "FECHA_INI", "mes_retiro", "FECHA_FIN"]].isna().any(axis=1)

# Aplicar la lógica para diferenciar NaN de False
vigente_castigos["Val_y"] = np.where(es_nan, np.nan, condicion.astype(object))

In [454]:
len(vigente_castigos)

42401

In [455]:
vigente_castigos.loc[(vigente_castigos["Descripcion"] == "") & (vigente_castigos["Val_y"] == True), "Descripcion"] = "Verdadero"

In [456]:
vigente_castigos["Descripcion"].value_counts()

Descripcion
Verdadero            22332
Retirado Castigos    16089
                      3869
Liquidado              109
Demanda                  2
Name: count, dtype: int64

In [457]:
vigente_castigos.loc[(vigente_castigos["Descripcion"] == "") & (vigente_castigos["Val_y"] == False), "Descripcion"] = "Falso"

In [458]:
faltante = vigente_castigos[vigente_castigos["Descripcion"] == ""]["operacionesid"]
lista_cuentas = faltante.astype(str).tolist()
faltante_sql = ", ".join(f"{cuenta}" for cuenta in lista_cuentas)

In [459]:
faltante_sql

'2830842, 2469500, 2743945, 2496908, 2696028'

In [460]:
##liq.head(2)
#client = bigquery.Client()
query3 = f"""
select * FROM (
select contrato AS contrato_base, status, fecha_informacion, row_number() over (partition by contrato order by fecha_informacion DESC) As rn
FROM `ws-buro-clientes.DATA.evolucion_diaria_lineas_credito` 
WHERE contrato IN ({faltante_sql})
AND STATUS = 'P') 
WHERE rn = 1 
;"""

status_base = client.query(query3).to_dataframe()

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [461]:
status_base

   contrato_base status         fecha_informacion  rn
0        2696028      P 2025-12-31 00:00:00+00:00   1
1        2743945      P 2025-12-31 00:00:00+00:00   1
2        2496908      P 2025-12-31 00:00:00+00:00   1
3        2830842      P 2025-12-31 00:00:00+00:00   1

In [462]:
status_base["contrato_base"] = status_base["contrato_base"].astype(str).str.strip()

In [463]:
vigente_castigos = vigente_castigos.merge(status_base[["contrato_base","status"]],how="left",right_on="contrato_base",left_on="operacionesid")

In [464]:
vigente_castigos[(vigente_castigos["Descripcion"] == "") & (vigente_castigos["status" ]== 'P') ]

,operacionesid,CLIENTESID,DESPACHO,suc,sucursal,FECHA_INI,FECHA_FIN,CAPINSOLUTO,TOTALADEUDO,DIASVENCIDOS,...,Gestor,mes_asignacion,mes_retiro,Descripcion,OperacionesID_liq,operacionesid_v,contrato,Val_y,contrato_base,status
6104,2830842,0.0,"MOYRAM, S.C.",0.0,CHALCO 2,2025-12-01,2026-02-28,37266.19,0.0,241,...,<NA>,NaT,NaT,,NaN,NaN,NaN,NaN,2830842,P
8970,2743945,0.0,Susana Zarate Lazcano,0.0,CUAUTITLAN,2025-11-01,2026-01-31,163.99,0.0,297,...,<NA>,NaT,NaT,,NaN,NaN,NaN,NaN,2743945,P
12564,2496908,0.0,Emmanuel Jonhatan Quijano Navarro,0.0,ERMITA,2025-11-01,2026-01-31,529.98,0.0,425,...,<NA>,NaT,NaT,,NaN,NaN,NaN,NaN,2496908,P
39352,2696028,0.0,Soluciones en Cobranza Mercantil y Penal S.C.,0.0,COATZACOALCOS CENTRO,2025-12-01,2026-02-28,22836.00,0.0,609,...,<NA>,NaT,NaT,,NaN,NaN,NaN,NaN,2696028,P

In [465]:
vigente_castigos.loc[ (vigente_castigos["Descripcion"] == "") & (vigente_castigos["status" ]== 'P')  , "Descripcion"] = "Status P"

In [466]:
vigente_castigos[vigente_castigos["Descripcion"] == ""]

,operacionesid,CLIENTESID,DESPACHO,suc,sucursal,FECHA_INI,FECHA_FIN,CAPINSOLUTO,TOTALADEUDO,DIASVENCIDOS,...,Gestor,mes_asignacion,mes_retiro,Descripcion,OperacionesID_liq,operacionesid_v,contrato,Val_y,contrato_base,status
6405,2469500,0.0,Soluciones en Cobranza Mercantil y Penal S.C.,0.0,TEOTIHUACAN,2025-12-01,2026-02-28,560.68,0.0,223,...,<NA>,NaT,NaT,,NaN,NaN,NaN,NaN,NaN,NaN

In [467]:
vigente_castigos["Descripcion"].value_counts()

Descripcion
Verdadero            22332
Retirado Castigos    16089
Falso                 3864
Liquidado              109
Status P                 4
Demanda                  2
                         1
Name: count, dtype: int64

In [468]:
condicion_agn = (vigente_castigos["ID_Despacho"] == vigente_castigos["Gestor"])

In [469]:
import numpy as np
es_nan_agn = vigente_castigos[["Gestor", "ID_Despacho"]].isna().any(axis=1)

# Aplicar la lógica para diferenciar NaN de False
vigente_castigos["Val_agn"] = np.where(es_nan_agn, np.nan, condicion_agn.astype(object))

In [470]:
vigente_castigos["Val_agn"].value_counts(dropna=False)

Val_agn
True     22550
False    13357
NaN       6494
Name: count, dtype: int64

In [471]:
vigente_castigos[vigente_castigos["Descripcion"] == "Falso"]["Val_agn"].value_counts()

Val_agn
False    3864
Name: count, dtype: int64

In [472]:
print("De las",  len(vigente_castigos[vigente_castigos["Descripcion"] == "Falso"]) , "cuentas que tenemos con val_y como falso ", 
      len(vigente_castigos[(vigente_castigos["Descripcion"] == "Falso") & (vigente_castigos["Val_agn"] == True) ]) ,"cumplen con estar en la misma agencia; por lo cual, podemos " \
      "considerarlas como correctas")

De las 3864 cuentas que tenemos con val_y como falso  0 cumplen con estar en la misma agencia; por lo cual, podemos considerarlas como correctas

In [473]:
validacion = vigente_castigos[ vigente_castigos["Descripcion"] == "Falso"]

In [549]:
validacion.to_excel("./2026/Enero/falso.xlsx")

In [550]:
vigente_castigos[vigente_castigos["operacionesid"] == "2813595"]

,operacionesid,CLIENTESID,DESPACHO,suc,sucursal,FECHA_INI,FECHA_FIN,CAPINSOLUTO,TOTALADEUDO,DIASVENCIDOS,...,mes_asignacion,mes_retiro,Descripcion,OperacionesID_liq,operacionesid_v,contrato,Val_y,contrato_base,status,Val_agn
7267,2813595,0.0,Consultores En Cobranza New Collect S.C.,0.0,TLAHUAC CENTRO,2025-09-01,2025-12-31,13094.01,0.0,284,...,2025-09-01,2026-02-28,Retirado Castigos,NaN,NaN,NaN,False,NaN,NaN,True
7268,2813595,0.0,Consultores En Cobranza New Collect S.C.,0.0,TLAHUAC CENTRO,2025-09-01,2025-12-31,13094.01,0.0,284,...,2025-09-01,2026-02-28,Retirado Castigos,NaN,NaN,NaN,False,NaN,NaN,True

In [553]:
retenciones[retenciones["contrato_legado"] == "2810332"]

Empty DataFrame
Columns: [contrato_legado, contrato_core, ACE, AGENCIA, FECHA_INICIO, FECHA_FIN, TIPO_CARTERA, Observacion, CUENTA, Agencia, Gestor, mes_asignacion, mes_retiro, Descripcion, contrato_dem, contrato_liq, Val_y, Val_agn]
Index: []

### Exclusiones Auditoria

In [475]:

query4 = f"""
select * FROM `Castigos_APL.Exclusiones_Auditoria`
WHERE Empresa = 'AEF'
;"""

exclusiones = client.query(query4).to_dataframe()

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [476]:
exclusiones.dtypes

Empresa     object
Cuenta      object
Sucursal    object
dtype: object

In [477]:
exclusiones = exclusiones.merge(propuesta["CUENTA"],how="left", left_on="Cuenta", right_on="CUENTA")

In [478]:
print("Tenemos un total de: ",len(exclusiones[exclusiones["CUENTA"].notna()]),"cuentas de las exclusiones auditoria en la propuesta")

Tenemos un total de:  0 cuentas de las exclusiones auditoria en la propuesta

### Retenciones

Analizaremos las retenciones, para ver que todas esten ahi.

In [479]:
query5 = f"""
select * FROm `Castigos_AEF.Retenciones_Puntos_AEF`
;"""

retenciones = client.query(query5).to_dataframe()

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [480]:
retenciones.dtypes

contrato_legado    object
contrato_core      object
ACE                object
AGENCIA            object
FECHA_INICIO       dbdate
FECHA_FIN          dbdate
TIPO_CARTERA       object
Observacion        object
dtype: object

In [481]:
retenciones['FECHA_INICIO'] = pd.to_datetime(retenciones['FECHA_INICIO'])
retenciones['FECHA_FIN'] = pd.to_datetime(retenciones['FECHA_FIN'])

In [482]:
propuesta.head()

,CUENTA,DIAS_VENCIDOS,SUCURSAL,CAPITAL_INSOLUTO,BUCKET,BANDERA,Agencia,Gestor,mes_asignacion,mes_retiro,x
0,2549663,728,609,8874.09,540+,RETENCION,Soluciones en Cobranza Mercantil y Penal S.C.,15059,2025-10-01,2026-02-28,NaN
1,2784168,56,584,60573.75,180 a 210,RETENCION,EnPRO Soluciones Cobranza y Servicios Especial...,44444,2025-12-01,2026-02-28,NaN
2,2771065,210,555,140237.68,180 a 210,RETENCION,Susana Zarate Lazcano,9883,2025-12-01,2026-02-28,NaN
3,2743394,315,602,28429.10,270 a 364,RETENCION,Susana Zarate Lazcano,9883,2025-10-01,2026-02-28,NaN
4,2750516,469,558,NaN,450 a 539,RETENCION,DABSA Cobranza Profesional S.A.S. De C.V.,15029,2025-06-01,2026-02-28,NaN

In [483]:
retenciones = retenciones.merge(propuesta[["CUENTA","Agencia","Gestor","mes_asignacion","mes_retiro"]],how="left",left_on="contrato_legado",right_on="CUENTA")

In [484]:
retenciones.head()

,contrato_legado,contrato_core,ACE,AGENCIA,FECHA_INICIO,FECHA_FIN,TIPO_CARTERA,Observacion,CUENTA,Agencia,Gestor,mes_asignacion,mes_retiro
0,2528086,None,9883,Susana Zarate Lazcano,2024-01-05,2026-11-30,Castigos,Judicial,2528086,Susana Zarate Lazcano,9883.0,2024-05-01,2026-02-28
1,2529216,None,9883,Susana Zarate Lazcano,2024-01-05,2026-11-30,Castigos,Judicial,2529216,Susana Zarate Lazcano,9883.0,2024-05-01,2026-02-28
2,2540104,None,9883,Susana Zarate Lazcano,2024-01-05,2026-11-30,Castigos,Judicial,2540104,Susana Zarate Lazcano,9883.0,2024-05-01,2026-02-28
3,2548196,None,9883,Susana Zarate Lazcano,2024-01-05,2026-11-30,Castigos,Judicial,2548196,Susana Zarate Lazcano,9883.0,2024-05-01,2026-02-28
4,2550158,None,9883,Susana Zarate Lazcano,2024-01-05,2026-11-30,Castigos,Judicial,2550158,Susana Zarate Lazcano,9883.0,2024-05-01,2026-02-28

In [485]:
retenciones["Descripcion"] = ""

In [486]:
retenciones.loc[  (retenciones["TIPO_CARTERA"] == "Asignacion Fenix")  , "Descripcion"] = "Fenix Pendiente"

In [487]:
Demanda = Demanda.rename(columns={"contrato":"contrato_dem"})

In [488]:
retenciones = retenciones.merge(Demanda["contrato_dem"],how="left",left_on="contrato_legado",right_on="contrato_dem")

In [489]:
retenciones.loc[  (retenciones["contrato_dem"].notna()) & (retenciones["Descripcion"] == "") , "Descripcion"] = "Demanda Judicial"

In [490]:
liq.head()

  OperacionesID                             Tipo
0       2709832              cuentas pagadas Nan
1       2779122  liquidaciones cierre abril 2025
2       2781516  liquidaciones cierre abril 2025
3       2781665  liquidaciones cierre abril 2025
4       2785474  liquidaciones cierre abril 2025

In [491]:
liq = liq.rename(columns={"OperacionesID":"contrato_liq"})

In [492]:
retenciones = retenciones.merge(liq["contrato_liq"],how="left",right_on="contrato_liq",left_on="contrato_legado")

In [493]:
retenciones[retenciones["contrato_liq"].notna()]

,contrato_legado,contrato_core,ACE,AGENCIA,FECHA_INICIO,FECHA_FIN,TIPO_CARTERA,Observacion,CUENTA,Agencia,Gestor,mes_asignacion,mes_retiro,Descripcion,contrato_dem,contrato_liq
39,2819626,None,14924,JM Servicios Corporativos Lopez Y Asociados S....,2025-12-01,2025-12-31,Asignacion Normal,Retencion ok,NaN,NaN,NaN,NaT,NaT,,NaN,2819626
71,2784413,None,9883,Susana Zarate Lazcano,2025-10-01,2025-12-31,Asignacion Normal,Retencion ok,NaN,NaN,NaN,NaT,NaT,,NaN,2784413

In [494]:
retenciones.loc[  (retenciones["contrato_liq"].notna() ) & (retenciones["Descripcion"] == "")  , "Descripcion"] = "Liquidados"

In [495]:
retenciones["FECHA_INICIO"] = pd.to_datetime(retenciones["FECHA_INICIO"])
retenciones["FECHA_FIN"] = pd.to_datetime(retenciones["FECHA_FIN"])

In [496]:
retenciones.dtypes

contrato_legado            object
contrato_core              object
ACE                        object
AGENCIA                    object
FECHA_INICIO       datetime64[ns]
FECHA_FIN          datetime64[ns]
TIPO_CARTERA               object
Observacion                object
CUENTA                     object
Agencia                    object
Gestor                    float64
mes_asignacion     datetime64[ns]
mes_retiro         datetime64[ns]
Descripcion                object
contrato_dem               object
contrato_liq               object
dtype: object

In [497]:
####PASAMOS LA COLUMNA DE  A ENTERO, YA QUE ESTABA EN FLOAT
retenciones['Gestor'] = retenciones['Gestor'].astype('Int64')
retenciones['ACE'] = retenciones['ACE'].astype('Int64')

In [498]:
condicion_ret = (retenciones["Gestor"] == retenciones["ACE"]) & \
    (retenciones["mes_asignacion"] == retenciones["FECHA_INICIO"]) & \
    (retenciones["AGENCIA"] == retenciones["Agencia"])  

es_nan_ret = retenciones[["Gestor", "ACE", "mes_asignacion", "FECHA_INICIO", "AGENCIA", "Agencia"]].isna().any(axis=1)

In [499]:
# Aplicar la lógica para diferenciar NaN de False
retenciones["Val_y"] = np.where(es_nan_ret, np.nan, condicion_ret.astype(object))

In [500]:
retenciones.loc[  (retenciones["Val_y"] == True ) & (retenciones["Descripcion"] == "")  , "Descripcion"] = "Retencion ok"
####retenciones[retenciones["Val_y"] == True]

In [501]:
condicion_ret_agn = (retenciones["Gestor"] == retenciones["ACE"]) & \
    (retenciones["AGENCIA"] == retenciones["Agencia"])  

es_nan_ret_agn = retenciones[["Gestor", "ACE",  "AGENCIA", "Agencia"]].isna().any(axis=1)

In [502]:
# Aplicar la lógica para diferenciar NaN de False
retenciones["Val_agn"] = np.where(es_nan_ret_agn, np.nan, condicion_ret_agn.astype(object))

In [503]:
retenciones.loc[  (retenciones["Val_agn"] == True) & (retenciones["Descripcion"] == "")  , "Descripcion"] = "Retencion con fechas incorrectas"

In [504]:
retenciones["Descripcion"].value_counts(dropna=False)

Descripcion
Retencion ok                        74
Fenix Pendiente                     25
Retencion con fechas incorrectas     9
Liquidados                           2
Demanda Judicial                     2
Name: count, dtype: int64

In [505]:
retenciones.head()

,contrato_legado,contrato_core,ACE,AGENCIA,FECHA_INICIO,FECHA_FIN,TIPO_CARTERA,Observacion,CUENTA,Agencia,Gestor,mes_asignacion,mes_retiro,Descripcion,contrato_dem,contrato_liq,Val_y,Val_agn
0,2528086,None,9883,Susana Zarate Lazcano,2024-01-05,2026-11-30,Castigos,Judicial,2528086,Susana Zarate Lazcano,9883,2024-05-01,2026-02-28,Retencion con fechas incorrectas,NaN,NaN,False,True
1,2529216,None,9883,Susana Zarate Lazcano,2024-01-05,2026-11-30,Castigos,Judicial,2529216,Susana Zarate Lazcano,9883,2024-05-01,2026-02-28,Retencion con fechas incorrectas,NaN,NaN,False,True
2,2540104,None,9883,Susana Zarate Lazcano,2024-01-05,2026-11-30,Castigos,Judicial,2540104,Susana Zarate Lazcano,9883,2024-05-01,2026-02-28,Retencion con fechas incorrectas,NaN,NaN,False,True
3,2548196,None,9883,Susana Zarate Lazcano,2024-01-05,2026-11-30,Castigos,Judicial,2548196,Susana Zarate Lazcano,9883,2024-05-01,2026-02-28,Retencion con fechas incorrectas,NaN,NaN,False,True
4,2550158,None,9883,Susana Zarate Lazcano,2024-01-05,2026-11-30,Castigos,Judicial,2550158,Susana Zarate Lazcano,9883,2024-05-01,2026-02-28,Retencion con fechas incorrectas,NaN,NaN,False,True

In [506]:
retenciones[retenciones["Descripcion"] == "Liquidados"]

,contrato_legado,contrato_core,ACE,AGENCIA,FECHA_INICIO,FECHA_FIN,TIPO_CARTERA,Observacion,CUENTA,Agencia,Gestor,mes_asignacion,mes_retiro,Descripcion,contrato_dem,contrato_liq,Val_y,Val_agn
39,2819626,None,14924,JM Servicios Corporativos Lopez Y Asociados S....,2025-12-01,2025-12-31,Asignacion Normal,Retencion ok,NaN,NaN,<NA>,NaT,NaT,Liquidados,NaN,2819626,NaN,NaN
71,2784413,None,9883,Susana Zarate Lazcano,2025-10-01,2025-12-31,Asignacion Normal,Retencion ok,NaN,NaN,<NA>,NaT,NaT,Liquidados,NaN,2784413,NaN,NaN

### Pagos

In [507]:
#client = bigquery.Client()
query6 = f"""
select * FROm `Castigos_AEF.Pagos_Puntos_AEF`
;"""

pagos = client.query(query6).to_dataframe()

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [508]:
pagos["Descripcion"] = ""

In [509]:
pagos = pagos.merge(propuesta[["CUENTA","Agencia","Gestor","mes_asignacion","mes_retiro"]],  how="left", left_on="contrato_legado", right_on="CUENTA")

In [510]:
pagos = pagos.merge(liq["contrato_liq"], how="left", left_on="contrato_legado", right_on="contrato_liq")

In [511]:
###Catalogamos los pagos fenix como pendientes:
pagos.loc[  (pagos["CARTERA"] == "Asignacion Fenix")  , "Descripcion"] = "Fenix Pendiente"

In [512]:
###Catalogamos los liquidados
pagos.loc[  (pagos["contrato_liq"].notna()) & (pagos["Descripcion"] == "")  , "Descripcion"] = "Liquidados"

In [513]:
##Realizamos merge con las demandas
pagos = pagos.merge(Demanda["contrato_dem"],how="left",left_on="contrato_legado",right_on="contrato_dem")

In [514]:
## Catalogamos las demandas judiciales
pagos.loc[  (pagos["contrato_dem"].notna()) & (pagos["Descripcion"] == "")  , "Descripcion"] = "Demanda Judicial"

In [515]:
pagos["FECHA_INI"] = pd.to_datetime(pagos["FECHA_INI"])
pagos["FECHA_FIN"] = pd.to_datetime(pagos["FECHA_FIN"])
####PASAMOS LA COLUMNA DE  A ENTERO, YA QUE ESTABA EN FLOAT
retenciones['Gestor'] = retenciones['Gestor'].astype('Int64')
retenciones['ACE'] = retenciones['ACE'].astype('Int64')

In [516]:
##Creamos la condicion Val_y
condicion_pagos = (pagos["Gestor"] == pagos["ACE"]) & \
    (pagos["mes_asignacion"] == pagos["FECHA_INI"]) & \
    (pagos["DESPACHO"] == pagos["Agencia"])  

es_nan_pagos = pagos[["Gestor", "ACE", "mes_asignacion", "FECHA_INI", "DESPACHO", "Agencia"]].isna().any(axis=1)

# Aplicar la lógica para diferenciar NaN de False
pagos["Val_y"] = np.where(es_nan_pagos, np.nan, condicion_pagos.astype(object))

In [517]:
pagos.loc[  (pagos["Val_y"] == True ) & (pagos["Descripcion"] == "")  , "Descripcion"] = "Pagos ok"

In [518]:
condicion_pag_agn = (pagos["Gestor"] == pagos["ACE"]) & \
    (pagos["DESPACHO"] == pagos["Agencia"])  

es_nan_pag_agn = pagos[["Gestor", "ACE",  "DESPACHO", "Agencia"]].isna().any(axis=1)

In [519]:
# Aplicar la lógica para diferenciar NaN de False
pagos["Val_agn"] = np.where(es_nan_pag_agn, np.nan, condicion_pag_agn.astype(object))

In [520]:
pagos.loc[  (pagos["Val_agn"] == True ) & (pagos["Descripcion"] == "")  , "Descripcion"] = "Pagos_ok_fechas_incorrectas"

##

In [521]:
pagos[ (pagos["Descripcion"] == "")]

,contrato_legado,contrato_core,ACE,DESPACHO,FECHA_INI,FECHA_FIN,CARTERA,TIPO,Descripcion,CUENTA,Agencia,Gestor,mes_asignacion,mes_retiro,contrato_liq,contrato_dem,Val_y,Val_agn
109,2796319,None,15079,Jose Antonio Trejo Cervantes,2025-12-01,2025-12-31,Asignacion Normal,Pagos ok,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
138,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
139,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
140,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
141,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
142,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
143,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
144,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
145,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
146,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
147,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
148,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
149,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
150,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
151,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
152,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
153,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
154,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
155,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
156,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
157,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
158,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
159,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
160,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
161,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
162,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
163,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
164,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
165,None,None,<NA>,None,NaT,NaT,None,None,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN

In [372]:
pagos["Descripcion"].value_counts(dropna=False)

Descripcion
Pagos ok    137
             29
Name: count, dtype: int64

### Liquidaciones

In [522]:
liq = liq.merge(propuesta["CUENTA"],how="left",left_on="contrato_liq",right_on="CUENTA")

In [523]:
print("Tenemos un total de:", len(liq[liq["CUENTA"].notna()]), "cuentas liquidadas en la propuesta")

Tenemos un total de: 0 cuentas liquidadas en la propuesta

### Vendido

In [524]:
###
#client = bigquery.Client()
query7 = f"""
select * FROm `Castigos_AEF.Vendido_Puntos_AEF`
;"""

vendido = client.query(query7).to_dataframe()

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [525]:
vendido

    contrato_ven                     sucursal
0        2611553  caso hallazgo venta cartera
1        2707561      Venta de cartera 202509
2        2689868      Venta de cartera 202509
3        2722538      Venta de cartera 202509
4        2649090      Venta de cartera 202509
..           ...                          ...
172      2658577                      Demanda
173      2607562                      Demanda
174      2574506                      Demanda
175      2602295                      Demanda
176      2651220                      Demanda

[177 rows x 2 columns]

In [526]:
vendido = vendido.merge(propuesta["CUENTA"],how="left", right_on="CUENTA", left_on="contrato_ven")

In [527]:
print("Tenemos un total de:", len(vendido[vendido["CUENTA"].notna()]), "cuentas vendidas en la propuesta")

Tenemos un total de: 0 cuentas vendidas en la propuesta

### Porcentajes de Asignación

In [528]:


query8 = f"""
select * FROm `Castigos_AEF.Porcentajes_AEF`
WHERE AGENCIAS IS NOT NULL 
;"""

porcentajes = client.query(query8).to_dataframe()

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [529]:
porcentajes

,AGENCIAS,_180A209,_210A269,_270A364,_365A449,_450A539,_540
0,Consultores En Cobranza New Collect S.C.,0.1,0.075,0.075,0.100,0.110,0.110
1,DABSA Cobranza Profesional S.A.S. De C.V.,0.1,0.120,0.090,0.135,0.135,0.130
2,Emmanuel Jonhatan Quijano Navarro,0.1,0.110,0.130,0.075,0.100,0.130
3,Soluciones en Cobranza Mercantil y Penal S.C.,0.1,0.070,0.070,0.090,0.075,0.160
4,Jose Antonio Trejo Cervantes,0.1,0.090,0.085,0.110,0.090,0.065
5,Susana Zarate Lazcano,0.1,0.130,0.150,0.120,0.150,0.100
6,Cobranza Objetiva Alcocer Palacios S.A. De C.V.,0.1,0.080,0.100,0.155,0.080,0.090
7,EnPRO Soluciones Cobranza y Servicios Especial...,0.1,0.100,0.080,0.080,0.120,0.070
8,JM Servicios Corporativos Lopez Y Asociados S....,0.1,0.085,0.110,0.065,0.070,0.080
9,"MOYRAM, S.C.",0.1,0.140,0.110,0.070,0.070,0.065

In [530]:
propuesta['BUCKET'] = propuesta['BUCKET'].str.replace(' a ', '-', regex=False)

In [531]:

propuesta.loc[  (propuesta["BUCKET"] == "540-1459" )   , "BUCKET"] = "540+"

In [532]:
propuesta["BUCKET"].value_counts()

BUCKET
540+       23047
270-364     5310
211-269     4141
180-210     3826
450-539     3370
365-449     2694
Name: count, dtype: int64

In [533]:
porcentajes

,AGENCIAS,_180A209,_210A269,_270A364,_365A449,_450A539,_540
0,Consultores En Cobranza New Collect S.C.,0.1,0.075,0.075,0.100,0.110,0.110
1,DABSA Cobranza Profesional S.A.S. De C.V.,0.1,0.120,0.090,0.135,0.135,0.130
2,Emmanuel Jonhatan Quijano Navarro,0.1,0.110,0.130,0.075,0.100,0.130
3,Soluciones en Cobranza Mercantil y Penal S.C.,0.1,0.070,0.070,0.090,0.075,0.160
4,Jose Antonio Trejo Cervantes,0.1,0.090,0.085,0.110,0.090,0.065
5,Susana Zarate Lazcano,0.1,0.130,0.150,0.120,0.150,0.100
6,Cobranza Objetiva Alcocer Palacios S.A. De C.V.,0.1,0.080,0.100,0.155,0.080,0.090
7,EnPRO Soluciones Cobranza y Servicios Especial...,0.1,0.100,0.080,0.080,0.120,0.070
8,JM Servicios Corporativos Lopez Y Asociados S....,0.1,0.085,0.110,0.065,0.070,0.080
9,"MOYRAM, S.C.",0.1,0.140,0.110,0.070,0.070,0.065

In [534]:
porcentajes = porcentajes.rename(columns={"_180A209":"180-209","_210A269":"210-269" ,"_270A364":"270-364","_365A449":"365-449","_450A539":"450-539","_540":"540+"})

In [535]:
propuesta.columns

Index(['CUENTA', 'DIAS_VENCIDOS', 'SUCURSAL', 'CAPITAL_INSOLUTO', 'BUCKET',
       'BANDERA', 'Agencia', 'Gestor', 'mes_asignacion', 'mes_retiro', 'x'],
      dtype='object')

In [536]:
pivot_conteo = propuesta.pivot_table(index="Agencia",columns="BUCKET",values="BANDERA",aggfunc="count", fill_value=0)

In [537]:
pivot_conteo

BUCKET,180-210,211-269,270-364,365-449,450-539,540+
Agencia,,,,,,
Cobranza Objetiva Alcocer Palacios S.A. De C.V.,382,332,507,323,290,2980
Consultores En Cobranza New Collect S.C.,386,302,470,331,267,1878
DABSA Cobranza Profesional S.A.S. De C.V.,379,480,601,406,407,2491
Emmanuel Jonhatan Quijano Navarro,389,444,629,216,436,2546
EnPRO Soluciones Cobranza y Servicios Especializados S.A.S. de C.V.,385,425,456,286,326,2467
JM Servicios Corporativos Lopez Y Asociados S. De R.L. De C.V.,380,344,504,183,234,2885
Jose Antonio Trejo Cervantes,380,396,450,221,317,1315
"MOYRAM, S.C.",381,573,513,213,230,1895
Soluciones en Cobranza Mercantil y Penal S.C.,381,293,406,258,357,2990
Susana Zarate Lazcano,383,552,774,257,506,1600

In [538]:
pivot_porcentaje = (pivot_conteo / pivot_conteo.sum()) 
pivot_porcentaje = pivot_porcentaje.reset_index()

In [539]:
porcentajes = porcentajes.set_index('AGENCIAS')

In [540]:
porcentajes

,180-209,210-269,270-364,365-449,450-539,540+
AGENCIAS,,,,,,
Consultores En Cobranza New Collect S.C.,0.1,0.075,0.075,0.100,0.110,0.110
DABSA Cobranza Profesional S.A.S. De C.V.,0.1,0.120,0.090,0.135,0.135,0.130
Emmanuel Jonhatan Quijano Navarro,0.1,0.110,0.130,0.075,0.100,0.130
Soluciones en Cobranza Mercantil y Penal S.C.,0.1,0.070,0.070,0.090,0.075,0.160
Jose Antonio Trejo Cervantes,0.1,0.090,0.085,0.110,0.090,0.065
Susana Zarate Lazcano,0.1,0.130,0.150,0.120,0.150,0.100
Cobranza Objetiva Alcocer Palacios S.A. De C.V.,0.1,0.080,0.100,0.155,0.080,0.090
EnPRO Soluciones Cobranza y Servicios Especializados S.A.S. de C.V.,0.1,0.100,0.080,0.080,0.120,0.070
JM Servicios Corporativos Lopez Y Asociados S. De R.L. De C.V.,0.1,0.085,0.110,0.065,0.070,0.080
"MOYRAM, S.C.",0.1,0.140,0.110,0.070,0.070,0.065

In [541]:
pivot_porcentaje =  pivot_porcentaje.rename(columns={"Agencia":"AGENCIAS"})

In [542]:
pivot_porcentaje = pivot_porcentaje.rename(columns={"180-210":"180-209","211-269":"210-269"})

In [543]:

pivot_porcentaje = pivot_porcentaje.set_index('AGENCIAS')

In [544]:
pivot_porcentaje

BUCKET,180-209,210-269,270-364,365-449,450-539,540+
AGENCIAS,,,,,,
Cobranza Objetiva Alcocer Palacios S.A. De C.V.,0.099843,0.080174,0.095480,0.119896,0.086053,0.129301
Consultores En Cobranza New Collect S.C.,0.100889,0.072929,0.088512,0.122866,0.079228,0.081486
DABSA Cobranza Profesional S.A.S. De C.V.,0.099059,0.115914,0.113183,0.150705,0.120772,0.108083
Emmanuel Jonhatan Quijano Navarro,0.101673,0.107220,0.118456,0.080178,0.129377,0.110470
EnPRO Soluciones Cobranza y Servicios Especializados S.A.S. de C.V.,0.100627,0.102632,0.085876,0.106162,0.096736,0.107042
JM Servicios Corporativos Lopez Y Asociados S. De R.L. De C.V.,0.099320,0.083072,0.094915,0.067929,0.069436,0.125179
Jose Antonio Trejo Cervantes,0.099320,0.095629,0.084746,0.082034,0.094065,0.057057
"MOYRAM, S.C.",0.099582,0.138372,0.096610,0.079065,0.068249,0.082223
Soluciones en Cobranza Mercantil y Penal S.C.,0.099582,0.070756,0.076460,0.095768,0.105935,0.129735
Susana Zarate Lazcano,0.100105,0.133301,0.145763,0.095397,0.150148,0.069423

In [545]:
diferencia = pivot_porcentaje - porcentajes
diferencia

BUCKET,180-209,210-269,270-364,365-449,450-539,540+
AGENCIAS,,,,,,
Cobranza Objetiva Alcocer Palacios S.A. De C.V.,-0.000157,0.000174,-0.004520,-0.035104,0.006053,0.039301
Consultores En Cobranza New Collect S.C.,0.000889,-0.002071,0.013512,0.022866,-0.030772,-0.028514
DABSA Cobranza Profesional S.A.S. De C.V.,-0.000941,-0.004086,0.023183,0.015705,-0.014228,-0.021917
Emmanuel Jonhatan Quijano Navarro,0.001673,-0.002780,-0.011544,0.005178,0.029377,-0.019530
EnPRO Soluciones Cobranza y Servicios Especializados S.A.S. de C.V.,0.000627,0.002632,0.005876,0.026162,-0.023264,0.037042
JM Servicios Corporativos Lopez Y Asociados S. De R.L. De C.V.,-0.000680,-0.001928,-0.015085,0.002929,-0.000564,0.045179
Jose Antonio Trejo Cervantes,-0.000680,0.005629,-0.000254,-0.027966,0.004065,-0.007943
"MOYRAM, S.C.",-0.000418,-0.001628,-0.013390,0.009065,-0.001751,0.017223
Soluciones en Cobranza Mercantil y Penal S.C.,-0.000418,0.000756,0.006460,0.005768,0.030935,-0.030265
Susana Zarate Lazcano,0.000105,0.003301,-0.004237,-0.024603,0.000148,-0.030577

In [397]:
diferencia[diferencia > 0.01]

BUCKET,180-209,210-269,270-364,365-449,450-539,540+
AGENCIAS,,,,,,
Cobranza Objetiva Alcocer Palacios S.A. De C.V.,NaN,NaN,NaN,NaN,0.020556,NaN
Consultores En Cobranza New Collect S.C.,NaN,NaN,0.050650,NaN,0.038505,NaN
DABSA Cobranza Profesional S.A.S. De C.V.,NaN,NaN,0.033502,NaN,NaN,NaN
Emmanuel Jonhatan Quijano Navarro,NaN,NaN,NaN,NaN,NaN,NaN
EnPRO Soluciones Cobranza y Servicios Especializados S.A.S. de C.V.,NaN,NaN,NaN,0.021111,NaN,0.030550
JM Servicios Corporativos Lopez Y Asociados S. De R.L. De C.V.,NaN,NaN,NaN,0.018123,NaN,0.027844
Jose Antonio Trejo Cervantes,NaN,NaN,0.011326,0.042286,NaN,NaN
"MOYRAM, S.C.",NaN,NaN,NaN,0.028020,NaN,0.016547
Soluciones en Cobranza Mercantil y Penal S.C.,NaN,NaN,NaN,NaN,0.041267,NaN
Susana Zarate Lazcano,NaN,NaN,0.010102,NaN,NaN,NaN

### Capacidades

In [398]:
propuesta.head()

,CUENTA,DIAS_VENCIDOS,SUCURSAL,CAPITAL_INSOLUTO,BUCKET,BANDERA,Agencia,Gestor,mes_asignacion,mes_retiro,x
0,2549663,728,609,8874.09,540+,RETENCION,Soluciones en Cobranza Mercantil y Penal S.C.,15059,2025-10-01,2026-02-28,NaN
1,2784168,56,584,60573.75,180-210,RETENCION,EnPRO Soluciones Cobranza y Servicios Especial...,44444,2025-12-01,2026-02-28,NaN
2,2771065,210,555,140237.68,180-210,RETENCION,Susana Zarate Lazcano,9883,2025-12-01,2026-02-28,NaN
3,2743394,315,602,28429.10,270-364,RETENCION,Susana Zarate Lazcano,9883,2025-10-01,2026-02-28,NaN
4,2750516,469,558,NaN,450-539,RETENCION,DABSA Cobranza Profesional S.A.S. De C.V.,15029,2025-06-01,2026-02-28,NaN

In [399]:


query9 = f"""
select Agencia, Cap_actual 
FROm `Castigos_AEF.Capacidades_Puntos_AEF`
WHERE Agencia != 'Total'
;"""

Capacidades = client.query(query9).to_dataframe()

c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [400]:
Capacidades

                                             Agencia  Cap_actual
0    Cobranza Objetiva Alcocer Palacios S.A. De C.V.        4300
1           Consultores En Cobranza New Collect S.C.        4700
2          DABSA Cobranza Profesional S.A.S. De C.V.        5500
3  EnPRO Soluciones Cobranza y Servicios Especial...        4000
4                  Emmanuel Jonhatan Quijano Navarro        5500
5  JM Servicios Corporativos Lopez Y Asociados S....        4000
6                                       MOYRAM, S.C.        2800
7                       Jose Antonio Trejo Cervantes        3000
8      Soluciones en Cobranza Mercantil y Penal S.C.        5000
9                              Susana Zarate Lazcano        4000

In [401]:
Capacidades = Capacidades.rename(columns={"Agencia":"agencia"})

In [402]:
Capacidades = Capacidades.set_index("agencia")

In [403]:
capacidad_propuesta = propuesta.pivot_table(index="Agencia",values="BANDERA",aggfunc="count")

In [404]:
capacidad_propuesta =  capacidad_propuesta.rename(columns={"BANDERA":"Cap_actual"})

In [409]:
capacidad_propuesta

                                                    Cap_actual
Agencia
Cobranza Objetiva Alcocer Palacios S.A. De C.V.           4814
Consultores En Cobranza New Collect S.C.                  3634
DABSA Cobranza Profesional S.A.S. De C.V.                 4764
Emmanuel Jonhatan Quijano Navarro                         4660
EnPRO Soluciones Cobranza y Servicios Especiali...        4345
JM Servicios Corporativos Lopez Y Asociados S. ...        4530
Jose Antonio Trejo Cervantes                              3079
MOYRAM, S.C.                                              3805
Soluciones en Cobranza Mercantil y Penal S.C.             4685
Susana Zarate Lazcano                                     4072

In [410]:
capacidad_propuesta - Capacidades

                                                    Cap_actual
Cobranza Objetiva Alcocer Palacios S.A. De C.V.            514
Consultores En Cobranza New Collect S.C.                 -1066
DABSA Cobranza Profesional S.A.S. De C.V.                 -736
Emmanuel Jonhatan Quijano Navarro                         -840
EnPRO Soluciones Cobranza y Servicios Especiali...         345
JM Servicios Corporativos Lopez Y Asociados S. ...         530
Jose Antonio Trejo Cervantes                                79
MOYRAM, S.C.                                              1005
Soluciones en Cobranza Mercantil y Penal S.C.             -315
Susana Zarate Lazcano                                       72

In [406]:
if capacidad_propuesta["Cap_actual"].sum() > Capacidades["Cap_actual"].sum() :
    print("✅Llegamos a la capacidad, pero tenemos desborde de: ", capacidad_propuesta["Cap_actual"].sum() - Capacidades["Cap_actual"].sum(), "cuentas.")
else:
    print("Faltan cuentas para llegar a la capacidad :( ")

Faltan cuentas para llegar a la capacidad :(

In [408]:
print(Capacidades["Cap_actual"].sum(),  capacidad_propuesta["Cap_actual"].sum())

42800 42388

In [172]:
import pandas as pd
from google.cloud import bigquery

# Configura tus datos aquí
PROYECTO = "findep-riesgos"
TABLA_DESTINO = "Castigos_APL.Prueba_subida"

# El DataFrame que quieres subir (ejemplo con los resultados del modelo)
df_a_subir = pd.read_csv('./2025/Diciembre/Asignacion_AEF_Dic_dem.csv')

try:
    # Subida directa
    df_a_subir.to_gbq(
        destination_table=TABLA_DESTINO,
        project_id=PROYECTO,
        if_exists='replace', # Reemplaza la tabla si ya existe
        progress_bar=True
    )
    print(f"✅ ¡Éxito! Los datos se subieron a {TABLA_DESTINO}")
except Exception as e:
    print(f"❌ Error de permisos o configuración: {e}")

C:\Users\apaloalto\AppData\Local\Temp\ipykernel_20468\2735977098.py:13: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  df_a_subir.to_gbq(
c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\auth\_default.py:108: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)
c:\Users\apaloalto\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\_pandas_helpers.py:484: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

✅ ¡Éxito! Los datos se subieron a Castigos_APL.Prueba_subida