## Programa de Division de Cartera AEF
En este notebook cargaremos los archivos de la Division y se realizara la exportacion del archivo para una ejecucion mas rapida y sin necesidad de estar pasandolo por Excel

Comenzaremos con la carga del archivo, cargaremos el archivo de `Venta` del mes en curso, para un ejemplo inicial, cargaremos el de Abril, que actualmente es a mes vencido.

In [96]:
import pandas as pd

In [97]:
###Rutas

In [98]:
control = pd.read_excel("./AEF/2026/Castigos/202601/BASE_VENTAS_AEF_202601-f.xlsx")

In [99]:
len(control)

75600

In [100]:
control.head()

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,telefonoref_5,domicilioref_5,parentescoref_5,rfc,rfc_a,rfc_c,NumPagRea,PagMensual,id,fecha_disposicion
0,2757523,8658785,7208.13,608,613,13233.58,CHM,CHIMALHUACAN,11318,AGUAYO GONZALEZ BRANDON,...,,,,AUGB000216C63,,,0,426.0,96848,2024-03-26 00:00:00 UTC
1,2752054,8645389,11581.56,608,613,22685.80,ZMP,ZUMPANGO,14609,HERNANDEZ DURAN LUIS,...,,,,HEDL921226LL4,,,0,745.0,98278,2024-03-06 00:00:00 UTC
2,2722383,8569102,11269.49,608,613,18975.89,TNG,SANTIAGO TIANGUISTENCO,18855,LEONARDO OSORIO OLGA LIDIA,...,,,,LEOO730626B42,,,0,1185.0,92351,2023-11-15 00:00:00 UTC
3,2738480,8287548,21533.07,608,613,41337.69,ZMP,ZUMPANGO,14491,CARRILLO HERNANDEZ KARLA KARINA,...,,,,CAHK8807238K8,,,0,523.0,88331,2024-01-15 00:00:00 UTC
4,2764093,8675035,9932.07,608,613,18435.70,TLC,TOLUCA CENTRO,18770,CUENCA HERNANDEZ PRISCILA GUADALUPE,...,,,,CUHP020825Q99,,,0,490.0,97149,2024-04-18 00:00:00 UTC

In [101]:
#control = control[control["id_contrato_migrado"].isna()]

In [102]:
#control = control.drop(columns=["id_contrato_migrado"])

In [103]:
control["estado"].unique()

array(['MEX', 'MEXICO', 'CIUDAD DE MEXICO', 'CAMPECHE', 'MORELOS',
       'HIDALGO', 'TAMAULIPAS', 'YUCATAN', 'MICHOACAN DE OCAMPO',
       'QUINTANA ROO', 'SAN LUIS POTOSI', 'DISTRITO FEDERAL',
       'VERACRUZ DE IGNACIO DE LA LLAVE', 'GUERRERO', 'CHIAPAS', 'JAL',
       'JALISCO', 'GUANAJUATO', 'CDMX', 'QR', 'HGO', 'CAM', 'QUERETARO',
       'CHS', 'AGUASCALIENTES', 'QUERETARO ARTEAGA', 'VERACRUZ', 'VER',
       'MÃ‰XICO', 'PUEBLA', 'CIUDAD DE MÃ‰XICO', 'NAYARIT', 'YUC', 'QRO',
       'MIC', 'GRO', 'MOR', 'VERACRUZ DE IGNACIO DE LA', 'GTO', 'TAM',
       'NUEVO LEON', nan, 'AGS', 'VERACRUZ DE IGNACIO DE LA LLAV', 'SLP',
       'NAY', 'TLA', 'NL', 'YUCATÃ\x81N'], dtype=object)

In [104]:
control.loc[(control["estado"] == "CDMX") | (control["estado"] == "DISTRITO FEDERAL"), "estado"] = "CIUDAD DE MÉXICO"

In [105]:
control.loc[(control["estado"] == "MEX") | (control["estado"] == "MÉXICO"), "estado"] = "MEXICO"

In [ ]:
control.loc[ (control["estado"] == "YUC") , "estado"] = "YUCATAN"
control.loc[ (control["estado"] == "TLA") , "estado"] = "TLAXCALA"
control.loc[ (control["estado"] == "GTO") , "estado"] = "GUANAJUATO"
control.loc[ (control["estado"] == "QR") , "estado"] = "QUINTANA ROO"
control.loc[ (control["estado"] == "JAL") , "estado"] = "JALISCO"
control.loc[ (control["estado"] == "SLP") , "estado"] = "SAN LUIS POTOSI"
control.loc[ (control["estado"] == "CHS") , "estado"] = "CHIAPAS"
control.loc[ (control["estado"] == "TAM") , "estado"] = "TAMAULIPAS"
control.loc[ (control["estado"] == "NAY") , "estado"] = "NAYARIT"
control.loc[ (control["estado"] == "CAM") , "estado"] = "CAMPECHE"
control.loc[ (control["estado"] == "AGS") , "estado"] = "AGUASCALIENTES"
control.loc[ (control["estado"] == "GRO") , "estado"] = "GUERRERO"
control.loc[ (control["estado"] == "QRO") , "estado"] = "QUERETARO"
control.loc[ (control["estado"] == "MOR") , "estado"] = "MORELOS"
control.loc[ (control["estado"] == "HGO") , "estado"] = "HIDALGO"
control.loc[ (control["estado"] == "MIC") , "estado"] = "MICHOACAN"
control.loc[ (control["estado"] == "NL") , "estado"] = "NUEVO LEON"
control.loc[ (control["estado"] == "CIUDAD DE MÃ‰XICO") , "estado"] = "CIUDAD DE MÉXICO"
control.loc[ (control["estado"] == "CIUDAD DE MEXICO") , "estado"] = "CIUDAD DE MÉXICO"
control.loc[ (control["estado"] == "MICHOACAN DE OCAMPO") , "estado"] = "MICHOACAN"
control.loc[ (control["estado"] == "MÃ‰XICO") , "estado"] = "MEXICO"

In [107]:
control.loc[control["estado"].str.contains('VER', na=False, regex=False), "estado"] = "VERACRUZ"

In [108]:
control[control["estado"].str.contains('VER', na=False)]["estado"].unique()  ##2133640

array(['VERACRUZ'], dtype=object)

In [109]:
control.estado.unique()

array(['MEXICO', 'CIUDAD DE MÉXICO', 'CAMPECHE', 'MORELOS', 'HIDALGO',
       'TAMAULIPAS', 'YUCATAN', 'MICHOACAN', 'QUINTANA ROO',
       'SAN LUIS POTOSI', 'VERACRUZ', 'GUERRERO', 'CHIAPAS', 'JALISCO',
       'GUANAJUATO', 'QUERETARO', 'AGUASCALIENTES', 'QUERETARO ARTEAGA',
       'PUEBLA', 'NAYARIT', 'NUEVO LEON', nan, 'TLAXCALA', 'YUCATÃ\x81N'],
      dtype=object)

In [110]:
len(control["estado"].unique())

24

In [111]:
print(len(control))

75600

In [112]:
control = control.drop_duplicates(subset=["operacionesid"])

In [113]:
len(control)

75598

In [114]:
vendido = pd.read_excel("./AEF/2026/Castigos/202601/Historico Venta de Cartera AEF DICIEMBRE 2025 (ID).xlsx")

In [115]:
control = control.drop_duplicates(subset=["operacionesid"])

In [116]:
print(len(control))

75598

In [117]:
vendido["CONTRATO"] = vendido["CONTRATO"].astype(str).str.strip()
vendido["CONTRATO"] = vendido["CONTRATO"].astype(str)

In [118]:
control.dtypes

operacionesid          int64
CLIENTESID             int64
CAPINSOLUTO          float64
DIASVENCIDOS           int64
DV_ACTUALES            int64
                      ...
rfc_c                 object
NumPagRea              int64
PagMensual           float64
id                     int64
fecha_disposicion     object
Length: 106, dtype: object

In [119]:
vendido.dtypes

CONTRATO    object
ESTATUS     object
dtype: object

In [120]:
print(control["operacionesid"].dtype)  # Muestra el tipo de dato actual
#print(control["operacionesid"].unique())  # Verifica valores únicos

int64

In [121]:
control["operacionesid"] = control["operacionesid"].astype(str).str.strip()
#control["operacionesid"] = pd.to_numeric(control["operacionesid"], errors="coerce").astype("Int64")

In [122]:
control.iloc[:, control.columns.get_loc("operacionesid")] = control["operacionesid"].astype(str).str.strip()

In [123]:
control.dtypes

operacionesid         object
CLIENTESID             int64
CAPINSOLUTO          float64
DIASVENCIDOS           int64
DV_ACTUALES            int64
                      ...
rfc_c                 object
NumPagRea              int64
PagMensual           float64
id                     int64
fecha_disposicion     object
Length: 106, dtype: object

In [124]:
control = control.merge(vendido,how="left",left_on="operacionesid",right_on="CONTRATO")

In [125]:
control.columns

Index(['operacionesid', 'CLIENTESID', 'CAPINSOLUTO', 'DIASVENCIDOS',
       'DV_ACTUALES', 'TOTALADEUDO', 'suc', 'sucursal', 'cta', 'cte',
       ...
       'parentescoref_5', 'rfc', 'rfc_a', 'rfc_c', 'NumPagRea', 'PagMensual',
       'id', 'fecha_disposicion', 'CONTRATO', 'ESTATUS'],
      dtype='object', length=108)

In [126]:
print(len(control[control["ESTATUS"].notna()]))

0

In [127]:
control = control[control["ESTATUS"].isna()]

In [128]:
control.head(2)

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,parentescoref_5,rfc,rfc_a,rfc_c,NumPagRea,PagMensual,id,fecha_disposicion,CONTRATO,ESTATUS
0,2757523,8658785,7208.13,608,613,13233.58,CHM,CHIMALHUACAN,11318,AGUAYO GONZALEZ BRANDON,...,,AUGB000216C63,,,0,426.0,96848,2024-03-26 00:00:00 UTC,NaN,NaN
1,2752054,8645389,11581.56,608,613,22685.80,ZMP,ZUMPANGO,14609,HERNANDEZ DURAN LUIS,...,,HEDL921226LL4,,,0,745.0,98278,2024-03-06 00:00:00 UTC,NaN,NaN

In [129]:
print(len(control))

75598

In [130]:
liquidado = pd.read_excel("./AEF/2026/Castigos/202601/Liquidaciones AEF.xlsx")

In [131]:
liquidado.head(2)

   OperacionesID                             Tipo  estatus
0        2709832              cuentas pagadas Nan      NaN
1        2779122  liquidaciones cierre abril 2025      NaN

In [132]:
liquidado["OperacionesID"] = liquidado["OperacionesID"].astype(str).str.strip()

In [133]:
control = control.merge(liquidado, how="left", left_on="operacionesid",right_on="OperacionesID")

In [134]:
control.head(2)

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,rfc_c,NumPagRea,PagMensual,id,fecha_disposicion,CONTRATO,ESTATUS,OperacionesID,Tipo,estatus
0,2757523,8658785,7208.13,608,613,13233.58,CHM,CHIMALHUACAN,11318,AGUAYO GONZALEZ BRANDON,...,,0,426.0,96848,2024-03-26 00:00:00 UTC,NaN,NaN,NaN,NaN,NaN
1,2752054,8645389,11581.56,608,613,22685.80,ZMP,ZUMPANGO,14609,HERNANDEZ DURAN LUIS,...,,0,745.0,98278,2024-03-06 00:00:00 UTC,NaN,NaN,NaN,NaN,NaN

In [135]:
control = control[control["OperacionesID"].isna()]

In [136]:
control.head(2)

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,rfc_c,NumPagRea,PagMensual,id,fecha_disposicion,CONTRATO,ESTATUS,OperacionesID,Tipo,estatus
0,2757523,8658785,7208.13,608,613,13233.58,CHM,CHIMALHUACAN,11318,AGUAYO GONZALEZ BRANDON,...,,0,426.0,96848,2024-03-26 00:00:00 UTC,NaN,NaN,NaN,NaN,NaN
1,2752054,8645389,11581.56,608,613,22685.80,ZMP,ZUMPANGO,14609,HERNANDEZ DURAN LUIS,...,,0,745.0,98278,2024-03-06 00:00:00 UTC,NaN,NaN,NaN,NaN,NaN

In [137]:
control = control.drop(columns=["CONTRATO",	"ESTATUS",	"OperacionesID",	"Tipo",	"estatus"])

In [138]:
control.head(2)

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,telefonoref_5,domicilioref_5,parentescoref_5,rfc,rfc_a,rfc_c,NumPagRea,PagMensual,id,fecha_disposicion
0,2757523,8658785,7208.13,608,613,13233.58,CHM,CHIMALHUACAN,11318,AGUAYO GONZALEZ BRANDON,...,,,,AUGB000216C63,,,0,426.0,96848,2024-03-26 00:00:00 UTC
1,2752054,8645389,11581.56,608,613,22685.80,ZMP,ZUMPANGO,14609,HERNANDEZ DURAN LUIS,...,,,,HEDL921226LL4,,,0,745.0,98278,2024-03-06 00:00:00 UTC

In [139]:
len(control)

75598

In [140]:
pagares = pd.read_excel("Pagares.xlsx", sheet_name="Pagares AEF")

In [141]:
len(pagares)

303421

In [142]:
pagares.head()

,Contrato,Nombre del cliente,Pagaré,Fecha Disposición,AC - Expedientes,Año,En sucursal reportados
0,2374004.0,DE LA LUZ DE JESUS NORMA KARINA,No Localizado,2020-08-14 00:00:00,Recibido,2020.0,NaN
1,2379663.0,BALDERAS ROMERO GRACIELA,No Localizado,2020-09-09 00:00:00,Recibido,2020.0,NaN
2,2381566.0,MORALES BRITO YURIDIA,No Localizado,2020-09-15 00:00:00,Recibido,2020.0,NaN
3,2381696.0,ARELLANO CHAIREZ TEODOCIO,No Localizado,2020-09-17 00:00:00,Recibido,2020.0,NaN
4,2381805.0,VIZCARRA ESTRADA NORA LIZ,No Localizado,2020-09-17 00:00:00,Recibido,2020.0,NaN

Quitamos duplicamos y convertimos la columna `Contrato` de Pagares en String, para que podamos cruzar la informacion de manera correcta

In [143]:
pagares = pagares.drop_duplicates(subset=["Contrato"])

In [144]:
len(pagares)

147713

In [145]:

pagares["Contrato"] = pagares["Contrato"].astype(str).str.strip()
pagares["Contrato"] = pagares["Contrato"].astype(str)

In [146]:
pagares.dtypes

Contrato                   object
Nombre del cliente         object
Pagaré                     object
Fecha Disposición          object
AC - Expedientes           object
Año                       float64
En sucursal reportados     object
dtype: object

In [147]:
pagares.head(2)

,Contrato,Nombre del cliente,Pagaré,Fecha Disposición,AC - Expedientes,Año,En sucursal reportados
0,2374004.0,DE LA LUZ DE JESUS NORMA KARINA,No Localizado,2020-08-14 00:00:00,Recibido,2020.0,NaN
1,2379663.0,BALDERAS ROMERO GRACIELA,No Localizado,2020-09-09 00:00:00,Recibido,2020.0,NaN

In [148]:
pagares["Contrato"] = pagares["Contrato"].astype(str).str.strip()
pagares["Contrato"] = pagares["Contrato"].astype(str)

In [149]:
pagares["Contrato"] = pagares["Contrato"].astype(float).astype('Int64')

#pagares["Contrato"] = pagares["Contrato"].astype('Int64')

In [150]:
pagares["Contrato"] = pagares["Contrato"].astype(str).str.strip()
pagares["Contrato"] = pagares["Contrato"].astype(str)

In [151]:
Sucursales = pd.read_excel("Pagares.xlsx", sheet_name="Sucursales")

In [152]:
Sucursales.head()

   Id_Sucursal          Sucursal  Id_Sucursal.1
0            1            Toluca              1
1            2          Celaya 1              2
2            3       Querétaro 1              3
3            5        Irapuato 1              5
4            6  Aguascalientes 1              6

Convertimos en String la columna `operacionesid` del dataframe control.

In [153]:
control["operacionesid"] = control["operacionesid"].astype(str).str.strip()
control["operacionesid"] = control["operacionesid"].astype(str)

Cruzamos la informacion para poder tener todo junto en `control`

In [154]:
control.head()

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,telefonoref_5,domicilioref_5,parentescoref_5,rfc,rfc_a,rfc_c,NumPagRea,PagMensual,id,fecha_disposicion
0,2757523,8658785,7208.13,608,613,13233.58,CHM,CHIMALHUACAN,11318,AGUAYO GONZALEZ BRANDON,...,,,,AUGB000216C63,,,0,426.0,96848,2024-03-26 00:00:00 UTC
1,2752054,8645389,11581.56,608,613,22685.80,ZMP,ZUMPANGO,14609,HERNANDEZ DURAN LUIS,...,,,,HEDL921226LL4,,,0,745.0,98278,2024-03-06 00:00:00 UTC
2,2722383,8569102,11269.49,608,613,18975.89,TNG,SANTIAGO TIANGUISTENCO,18855,LEONARDO OSORIO OLGA LIDIA,...,,,,LEOO730626B42,,,0,1185.0,92351,2023-11-15 00:00:00 UTC
3,2738480,8287548,21533.07,608,613,41337.69,ZMP,ZUMPANGO,14491,CARRILLO HERNANDEZ KARLA KARINA,...,,,,CAHK8807238K8,,,0,523.0,88331,2024-01-15 00:00:00 UTC
4,2764093,8675035,9932.07,608,613,18435.70,TLC,TOLUCA CENTRO,18770,CUENCA HERNANDEZ PRISCILA GUADALUPE,...,,,,CUHP020825Q99,,,0,490.0,97149,2024-04-18 00:00:00 UTC

In [155]:
control.dtypes

operacionesid         object
CLIENTESID             int64
CAPINSOLUTO          float64
DIASVENCIDOS           int64
DV_ACTUALES            int64
                      ...
rfc_c                 object
NumPagRea              int64
PagMensual           float64
id                     int64
fecha_disposicion     object
Length: 106, dtype: object

In [156]:
control = control.merge(pagares[["Contrato", "Pagaré","AC - Expedientes"]], left_on="operacionesid",right_on="Contrato", how="left")

In [157]:
pagares.head()

,Contrato,Nombre del cliente,Pagaré,Fecha Disposición,AC - Expedientes,Año,En sucursal reportados
0,2374004,DE LA LUZ DE JESUS NORMA KARINA,No Localizado,2020-08-14 00:00:00,Recibido,2020.0,NaN
1,2379663,BALDERAS ROMERO GRACIELA,No Localizado,2020-09-09 00:00:00,Recibido,2020.0,NaN
2,2381566,MORALES BRITO YURIDIA,No Localizado,2020-09-15 00:00:00,Recibido,2020.0,NaN
3,2381696,ARELLANO CHAIREZ TEODOCIO,No Localizado,2020-09-17 00:00:00,Recibido,2020.0,NaN
4,2381805,VIZCARRA ESTRADA NORA LIZ,No Localizado,2020-09-17 00:00:00,Recibido,2020.0,NaN

In [158]:
control.head()

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,rfc,rfc_a,rfc_c,NumPagRea,PagMensual,id,fecha_disposicion,Contrato,Pagaré,AC - Expedientes
0,2757523,8658785,7208.13,608,613,13233.58,CHM,CHIMALHUACAN,11318,AGUAYO GONZALEZ BRANDON,...,AUGB000216C63,,,0,426.0,96848,2024-03-26 00:00:00 UTC,2757523,Digital,Digital
1,2752054,8645389,11581.56,608,613,22685.80,ZMP,ZUMPANGO,14609,HERNANDEZ DURAN LUIS,...,HEDL921226LL4,,,0,745.0,98278,2024-03-06 00:00:00 UTC,2752054,Digital,Digital
2,2722383,8569102,11269.49,608,613,18975.89,TNG,SANTIAGO TIANGUISTENCO,18855,LEONARDO OSORIO OLGA LIDIA,...,LEOO730626B42,,,0,1185.0,92351,2023-11-15 00:00:00 UTC,2722383,Digital,Digital
3,2738480,8287548,21533.07,608,613,41337.69,ZMP,ZUMPANGO,14491,CARRILLO HERNANDEZ KARLA KARINA,...,CAHK8807238K8,,,0,523.0,88331,2024-01-15 00:00:00 UTC,2738480,Recibido,Recibido
4,2764093,8675035,9932.07,608,613,18435.70,TLC,TOLUCA CENTRO,18770,CUENCA HERNANDEZ PRISCILA GUADALUPE,...,CUHP020825Q99,,,0,490.0,97149,2024-04-18 00:00:00 UTC,2764093,Digital,Digital

In [159]:
len(control)

75598

In [160]:
control["Pagaré"] = control["Pagaré"].str.upper()

Analizamos los valores unicos

In [161]:
valores_unicos = control["Pagaré"].unique()
print(valores_unicos)

['DIGITAL' 'RECIBIDO' 'NO RECIBIDO' 'NO LOCALIZADO' nan]

In [162]:
print(len(control),len(control[control["Pagaré"].isna()]))

75598 13018

Eliminamos la columna de `Contrato`, ya que es la misma que `operacionesId`

In [163]:
control = control.drop(columns=["Contrato"])
#control = control.drop(columns=["contrato_x","contrato_y","Pagaré_x","Id_Sucursal_x","Modelo_x","Id_Sucursal_y","Modelo_y","Sucursal_x"])

In [164]:
control.head()

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,parentescoref_5,rfc,rfc_a,rfc_c,NumPagRea,PagMensual,id,fecha_disposicion,Pagaré,AC - Expedientes
0,2757523,8658785,7208.13,608,613,13233.58,CHM,CHIMALHUACAN,11318,AGUAYO GONZALEZ BRANDON,...,,AUGB000216C63,,,0,426.0,96848,2024-03-26 00:00:00 UTC,DIGITAL,Digital
1,2752054,8645389,11581.56,608,613,22685.80,ZMP,ZUMPANGO,14609,HERNANDEZ DURAN LUIS,...,,HEDL921226LL4,,,0,745.0,98278,2024-03-06 00:00:00 UTC,DIGITAL,Digital
2,2722383,8569102,11269.49,608,613,18975.89,TNG,SANTIAGO TIANGUISTENCO,18855,LEONARDO OSORIO OLGA LIDIA,...,,LEOO730626B42,,,0,1185.0,92351,2023-11-15 00:00:00 UTC,DIGITAL,Digital
3,2738480,8287548,21533.07,608,613,41337.69,ZMP,ZUMPANGO,14491,CARRILLO HERNANDEZ KARLA KARINA,...,,CAHK8807238K8,,,0,523.0,88331,2024-01-15 00:00:00 UTC,RECIBIDO,Recibido
4,2764093,8675035,9932.07,608,613,18435.70,TLC,TOLUCA CENTRO,18770,CUENCA HERNANDEZ PRISCILA GUADALUPE,...,,CUHP020825Q99,,,0,490.0,97149,2024-04-18 00:00:00 UTC,DIGITAL,Digital

In [165]:
print(len(control[control["Pagaré"] == "RECIBIDO"]),len(control[control["Pagaré"] != "RECIBIDO"]))

53607 21991

In [166]:
#control["DIASVENCIDOS"].value_counts()

Cargamos los precios de las cuentas

In [167]:
Precios_AEF = pd.read_excel("Pagares.xlsx",sheet_name="Precios AEF")

In [168]:
Precios_AEF

,Bucket,Rango DV inferior,Rango DV superior,Precio comercial,Precio CON pagare,Precio SIN pagare o CON error
0,bk1,180,360,0.144,0.12,0.060
1,bk2,361,540,0.126,0.10,0.050
2,bk3,541,720,0.088,0.08,0.040
3,bk4,721,900,0.080,0.07,0.035
4,bk5,901,1080,0.075,0.06,0.030
5,bk6,1081,1260,0.040,0.03,0.015
6,bk7,1261,1440,0.040,0.03,0.015
7,fenix,1441,99999,0.030,0.02,0.010

In [169]:
control.head()

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,parentescoref_5,rfc,rfc_a,rfc_c,NumPagRea,PagMensual,id,fecha_disposicion,Pagaré,AC - Expedientes
0,2757523,8658785,7208.13,608,613,13233.58,CHM,CHIMALHUACAN,11318,AGUAYO GONZALEZ BRANDON,...,,AUGB000216C63,,,0,426.0,96848,2024-03-26 00:00:00 UTC,DIGITAL,Digital
1,2752054,8645389,11581.56,608,613,22685.80,ZMP,ZUMPANGO,14609,HERNANDEZ DURAN LUIS,...,,HEDL921226LL4,,,0,745.0,98278,2024-03-06 00:00:00 UTC,DIGITAL,Digital
2,2722383,8569102,11269.49,608,613,18975.89,TNG,SANTIAGO TIANGUISTENCO,18855,LEONARDO OSORIO OLGA LIDIA,...,,LEOO730626B42,,,0,1185.0,92351,2023-11-15 00:00:00 UTC,DIGITAL,Digital
3,2738480,8287548,21533.07,608,613,41337.69,ZMP,ZUMPANGO,14491,CARRILLO HERNANDEZ KARLA KARINA,...,,CAHK8807238K8,,,0,523.0,88331,2024-01-15 00:00:00 UTC,RECIBIDO,Recibido
4,2764093,8675035,9932.07,608,613,18435.70,TLC,TOLUCA CENTRO,18770,CUENCA HERNANDEZ PRISCILA GUADALUPE,...,,CUHP020825Q99,,,0,490.0,97149,2024-04-18 00:00:00 UTC,DIGITAL,Digital

Realizamos una categorizacion de los dias vencidos, asi les asignamos un Buket para poder cruzar la informacion con los precios

In [170]:

import numpy as np

control["Bucket"] = np.select([
    control["DIASVENCIDOS"].between(180, 360),
    control["DIASVENCIDOS"].between(361, 540),
    control["DIASVENCIDOS"].between(541, 720),
    control["DIASVENCIDOS"].between(721, 900),
    control["DIASVENCIDOS"].between(901, 1080),
    control["DIASVENCIDOS"].between(1081, 1260),
    control["DIASVENCIDOS"].between(1261, 1440),
    control["DIASVENCIDOS"] > 1440
], ["bk1", "bk2", "bk3","bk4", "bk5", "bk6", "bk7", "fenix"], default="sin_bucket")

In [171]:
control.head()

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,rfc,rfc_a,rfc_c,NumPagRea,PagMensual,id,fecha_disposicion,Pagaré,AC - Expedientes,Bucket
0,2757523,8658785,7208.13,608,613,13233.58,CHM,CHIMALHUACAN,11318,AGUAYO GONZALEZ BRANDON,...,AUGB000216C63,,,0,426.0,96848,2024-03-26 00:00:00 UTC,DIGITAL,Digital,bk3
1,2752054,8645389,11581.56,608,613,22685.80,ZMP,ZUMPANGO,14609,HERNANDEZ DURAN LUIS,...,HEDL921226LL4,,,0,745.0,98278,2024-03-06 00:00:00 UTC,DIGITAL,Digital,bk3
2,2722383,8569102,11269.49,608,613,18975.89,TNG,SANTIAGO TIANGUISTENCO,18855,LEONARDO OSORIO OLGA LIDIA,...,LEOO730626B42,,,0,1185.0,92351,2023-11-15 00:00:00 UTC,DIGITAL,Digital,bk3
3,2738480,8287548,21533.07,608,613,41337.69,ZMP,ZUMPANGO,14491,CARRILLO HERNANDEZ KARLA KARINA,...,CAHK8807238K8,,,0,523.0,88331,2024-01-15 00:00:00 UTC,RECIBIDO,Recibido,bk3
4,2764093,8675035,9932.07,608,613,18435.70,TLC,TOLUCA CENTRO,18770,CUENCA HERNANDEZ PRISCILA GUADALUPE,...,CUHP020825Q99,,,0,490.0,97149,2024-04-18 00:00:00 UTC,DIGITAL,Digital,bk3

In [172]:
print(len(control[control["Pagaré"] == "RECIBIDO"]))

53607

In [173]:
print(len(control[control["Pagaré"] != "RECIBIDO"]))

21991

Realizamos el cruce con los precios

In [174]:
control = control.merge(Precios_AEF, on="Bucket", how="left")

In [175]:
print(len(control[control["Pagaré"] == "RECIBIDO"]))

53607

Corregiremos un detalle con los encabezados, mas que nada tenemos un detalle que no nos deja avanzar si los nombres de las columnas tiene espacios

In [176]:
print(control.columns)

Index(['operacionesid', 'CLIENTESID', 'CAPINSOLUTO', 'DIASVENCIDOS',
       'DV_ACTUALES', 'TOTALADEUDO', 'suc', 'sucursal', 'cta', 'cte',
       ...
       'id', 'fecha_disposicion', 'Pagaré', 'AC - Expedientes', 'Bucket',
       'Rango DV inferior', 'Rango DV superior', 'Precio comercial',
       'Precio CON pagare', 'Precio SIN pagare o CON error'],
      dtype='object', length=114)

In [177]:
control.columns = control.columns.str.strip().str.replace(" ", "_")  # Limpia espacios

In [178]:
print(control.columns)

Index(['operacionesid', 'CLIENTESID', 'CAPINSOLUTO', 'DIASVENCIDOS',
       'DV_ACTUALES', 'TOTALADEUDO', 'suc', 'sucursal', 'cta', 'cte',
       ...
       'id', 'fecha_disposicion', 'Pagaré', 'AC_-_Expedientes', 'Bucket',
       'Rango_DV_inferior', 'Rango_DV_superior', 'Precio_comercial',
       'Precio_CON_pagare', 'Precio_SIN_pagare_o_CON_error'],
      dtype='object', length=114)

In [179]:
#control["Precio_Multiplicador"] = np.where(control["Pagaré"] == "Recibido", control["Precio_CON_pagare"], control["Precio_SIN_pagare_o_CON_error"])

Asignamos al dataframe un nuevo nombre

In [180]:
control_df = control

In [181]:
print(len(control_df[control_df["Pagaré"] == "RECIBIDO"]))

53607

Aqui eliminamos las columnas que nos informan de los rangos de los bukets, que estaban ahi despues del cruce con los precios

In [182]:
control_df = control_df.drop(columns=["Rango_DV_inferior","Rango_DV_superior"])
control_df.head()

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,NumPagRea,PagMensual,id,fecha_disposicion,Pagaré,AC_-_Expedientes,Bucket,Precio_comercial,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error
0,2757523,8658785,7208.13,608,613,13233.58,CHM,CHIMALHUACAN,11318,AGUAYO GONZALEZ BRANDON,...,0,426.0,96848,2024-03-26 00:00:00 UTC,DIGITAL,Digital,bk3,0.088,0.08,0.04
1,2752054,8645389,11581.56,608,613,22685.80,ZMP,ZUMPANGO,14609,HERNANDEZ DURAN LUIS,...,0,745.0,98278,2024-03-06 00:00:00 UTC,DIGITAL,Digital,bk3,0.088,0.08,0.04
2,2722383,8569102,11269.49,608,613,18975.89,TNG,SANTIAGO TIANGUISTENCO,18855,LEONARDO OSORIO OLGA LIDIA,...,0,1185.0,92351,2023-11-15 00:00:00 UTC,DIGITAL,Digital,bk3,0.088,0.08,0.04
3,2738480,8287548,21533.07,608,613,41337.69,ZMP,ZUMPANGO,14491,CARRILLO HERNANDEZ KARLA KARINA,...,0,523.0,88331,2024-01-15 00:00:00 UTC,RECIBIDO,Recibido,bk3,0.088,0.08,0.04
4,2764093,8675035,9932.07,608,613,18435.70,TLC,TOLUCA CENTRO,18770,CUENCA HERNANDEZ PRISCILA GUADALUPE,...,0,490.0,97149,2024-04-18 00:00:00 UTC,DIGITAL,Digital,bk3,0.088,0.08,0.04

In [183]:
print(control["Pagaré"].unique())

['DIGITAL' 'RECIBIDO' 'NO RECIBIDO' 'NO LOCALIZADO' nan]

Calculamos el vaalor comercial de acuerdo a lo que esta en precios

In [184]:
control_df["Valor_Comercial"] = control["CAPINSOLUTO"] * control["Precio_comercial"]

In [185]:
control_df.head()

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,PagMensual,id,fecha_disposicion,Pagaré,AC_-_Expedientes,Bucket,Precio_comercial,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error,Valor_Comercial
0,2757523,8658785,7208.13,608,613,13233.58,CHM,CHIMALHUACAN,11318,AGUAYO GONZALEZ BRANDON,...,426.0,96848,2024-03-26 00:00:00 UTC,DIGITAL,Digital,bk3,0.088,0.08,0.04,634.31544
1,2752054,8645389,11581.56,608,613,22685.80,ZMP,ZUMPANGO,14609,HERNANDEZ DURAN LUIS,...,745.0,98278,2024-03-06 00:00:00 UTC,DIGITAL,Digital,bk3,0.088,0.08,0.04,1019.17728
2,2722383,8569102,11269.49,608,613,18975.89,TNG,SANTIAGO TIANGUISTENCO,18855,LEONARDO OSORIO OLGA LIDIA,...,1185.0,92351,2023-11-15 00:00:00 UTC,DIGITAL,Digital,bk3,0.088,0.08,0.04,991.71512
3,2738480,8287548,21533.07,608,613,41337.69,ZMP,ZUMPANGO,14491,CARRILLO HERNANDEZ KARLA KARINA,...,523.0,88331,2024-01-15 00:00:00 UTC,RECIBIDO,Recibido,bk3,0.088,0.08,0.04,1894.91016
4,2764093,8675035,9932.07,608,613,18435.70,TLC,TOLUCA CENTRO,18770,CUENCA HERNANDEZ PRISCILA GUADALUPE,...,490.0,97149,2024-04-18 00:00:00 UTC,DIGITAL,Digital,bk3,0.088,0.08,0.04,874.02216

Se ajustan los pagares afectados, ya que se van a menor precio, primero lo categorizamos y los identificamos. Todo lo que este fuera de la ciudad de México y este entre enero del 2020 y julio del 2022, esta afectado

In [186]:
control_df["fecha_disposicion"] = pd.to_datetime(control_df["fecha_disposicion"])

# Extraer año y mes
control_df["Año"] = control_df["fecha_disposicion"].dt.year
control_df["Mes"] = control_df["fecha_disposicion"].dt.month

# Definir condición de fecha
condicion_fecha = (
    (control_df["Año"] == 2020) | 
    (control_df["Año"] == 2021) | 
    ((control_df["Año"] == 2022) & (control_df["Mes"] < 8))
)

# Definir condición de sucursal
condicion_sucursal = ~control_df["estado"].isin(["CDMX", "CIUDAD DE MÉXICO", "DISTRITO FEDERAL"])

# Asignar el estado de afectación
control_df["Estado"] = np.where(condicion_fecha & condicion_sucursal, "Afectado", "No Afectado")

In [187]:
print(len(control_df[control_df["Pagaré"] == "RECIBIDO"]))

53607

In [188]:
print(len(control_df))

75598

Calculo del precio, tenemos varios casos, primero que nada los que tienen pagares recibidos y no esten afectados o con pagare digital, para que se multiplique por el precio con pagare, los demas se van con el precio de sin pagare

In [189]:
control_df["Precio_Multiplicador"] = np.where(((control_df["Pagaré"] == "RECIBIDO") & (control_df["Estado"] == "No Afectado")) , control_df["Precio_CON_pagare"], control_df["Precio_SIN_pagare_o_CON_error"])

In [190]:
print(len(control_df[control_df["Pagaré"] == "RECIBIDO"]))

53607

Se multiplica  por el Capital Insoluto de la cuenta

In [191]:
control_df["Precio"] = control_df["CAPINSOLUTO"] * control_df["Precio_Multiplicador"]

In [192]:
control_df["fecha_disposicion"] = control_df["fecha_disposicion"].dt.tz_localize(None)  # Elimina la zona horaria
#control_df.to_excel("mi_archivo.xlsx", index=False)  # Exportar sin errores


#control_df.to_excel("prueba.xlsx")

Creamos una Tabla Dinamica, para determinar las sucursales que se van a ir a Subasta

In [193]:
#subasta = control_df.pivot_table(values="Precio",index="sucursal",aggfunc={"Precio":["sum","count"]})

In [194]:
#subasta_suc = subasta[subasta["sum"]<30000]

In [195]:
#subasta_suc = subasta_suc.reset_index()

In [196]:
#subasta_suc

##### Las siguientes sucursales se van a subasta

In [197]:
#subasta_fin = subasta_suc[subasta_suc["count"] < 4]
#subasta_fin

In [198]:
#filtro_suc = subasta_fin["sucursal"].tolist()

In [199]:
#subasta = control_df[control_df["sucursal"].isin(filtro_suc)]

In [200]:
#subasta

Base sin la subasta

In [201]:
#control_df = control_df[~control_df["sucursal"].isin(filtro_suc)]

In [202]:
print(len(control_df))

75598

##### Asignacion de porcentajes

In [203]:
#municipios = pd.read_excel("municipios_1.0.xlsx")

In [204]:
municipios = control_df.pivot_table(values="Precio",index="municipio",aggfunc={"Precio":["count"]})

In [205]:
municipios = municipios.reset_index()

In [206]:
municipios.head()

  municipio  count
0               59
1     ABALA     20
2   ABASOLO      0
3     ACALA      1
4   ACAMBAY      0

In [207]:
import numpy as np

municipios["Solicitud OSC"] = np.random.rand(len(municipios))
municipios["Solicitud GUS"] = np.random.rand(len(municipios))
municipios["Solicitud LIZ"] = np.random.rand(len(municipios))

suma_solicitudes = municipios["Solicitud OSC"] + municipios["Solicitud GUS"] + municipios["Solicitud LIZ"]

In [208]:
municipios["Solicitud OSC"] = municipios["Solicitud OSC"] / suma_solicitudes
municipios["Solicitud GUS"] = municipios["Solicitud GUS"] / suma_solicitudes
municipios["Solicitud LIZ"] = municipios["Solicitud LIZ"] / suma_solicitudes

In [209]:
municipios

        municipio  count  Solicitud OSC  Solicitud GUS  Solicitud LIZ
0                     59       0.395817       0.577564       0.026619
1           ABALA     20       0.140716       0.564368       0.294916
2         ABASOLO      0       0.368228       0.444127       0.187645
3           ACALA      1       0.074748       0.503040       0.422213
4         ACAMBAY      0       0.450514       0.295439       0.254047
..            ...    ...            ...            ...            ...
372      ZEMPOALA     86       0.135098       0.505859       0.359043
373  ZINACANTEPEC     82       0.437063       0.308926       0.254011
374     ZONGOLICA      1       0.381797       0.599616       0.018587
375   ZUMPAHUACAN     22       0.236505       0.598488       0.165007
376      ZUMPANGO    637       0.044020       0.238821       0.717158

[377 rows x 5 columns]

In [210]:
len(control_df)

75598

Se calcula el porcentaje, para determinar quien solicito mas y por quien se inicia la solicitud

In [211]:
municipios["M_mayor"] = municipios[["Solicitud OSC", "Solicitud GUS", "Solicitud LIZ"]].idxmax(axis=1).str.replace('Solicitud ', '')

In [212]:
municipios.head()

  municipio  count  Solicitud OSC  Solicitud GUS  Solicitud LIZ M_mayor
0               59       0.395817       0.577564       0.026619     GUS
1     ABALA     20       0.140716       0.564368       0.294916     GUS
2   ABASOLO      0       0.368228       0.444127       0.187645     GUS
3     ACALA      1       0.074748       0.503040       0.422213     GUS
4   ACAMBAY      0       0.450514       0.295439       0.254047     OSC

In [213]:
municipios["Suma_prob"] = municipios["Solicitud OSC"] + municipios["Solicitud GUS"] + municipios["Solicitud LIZ"]

In [214]:
municipios["Suma_prob"].value_counts(dropna=False)

Suma_prob
1.0    299
1.0     60
1.0     13
1.0      5
Name: count, dtype: int64

In [215]:
print(len(control_df[control_df["Pagaré"] == "RECIBIDO"]))

53607

In [216]:
print(len(control_df))

75598

In [217]:
municipios.columns

Index(['municipio', 'count', 'Solicitud OSC', 'Solicitud GUS', 'Solicitud LIZ',
       'M_mayor', 'Suma_prob'],
      dtype='object')

In [218]:
patrones_OSC = {
    "UNA-UNA-UNA": ["OSC", "GUS", "LIZ"]
}
patrones_GUS = {
    "UNA-UNA-UNA": ["GUS", "LIZ","OSC"]
}
patrones_LIZ = {
    "UNA-UNA-UNA": ["LIZ", "OSC", "GUS"]
}

In [219]:
patrones = {
    "OSC": patrones_OSC,
    "GUS": patrones_GUS,
    "LIZ": patrones_LIZ
}

In [220]:
print(patrones)

{'OSC': {'UNA-UNA-UNA': ['OSC', 'GUS', 'LIZ']}, 'GUS': {'UNA-UNA-UNA': ['GUS', 'LIZ', 'OSC']}, 'LIZ': {'UNA-UNA-UNA': ['LIZ', 'OSC', 'GUS']}}

Ajustamos los diferentes casos de acuerdo a los porcentajes de la solicitud

In [221]:
municipios["Regla_Div"] =  'UNA-UNA-UNA'

In [222]:
print(municipios["Regla_Div"].unique())

['UNA-UNA-UNA']

In [223]:
municipios

,municipio,count,Solicitud OSC,Solicitud GUS,Solicitud LIZ,M_mayor,Suma_prob,Regla_Div
0,,59,0.395817,0.577564,0.026619,GUS,1.0,UNA-UNA-UNA
1,ABALA,20,0.140716,0.564368,0.294916,GUS,1.0,UNA-UNA-UNA
2,ABASOLO,0,0.368228,0.444127,0.187645,GUS,1.0,UNA-UNA-UNA
3,ACALA,1,0.074748,0.503040,0.422213,GUS,1.0,UNA-UNA-UNA
4,ACAMBAY,0,0.450514,0.295439,0.254047,OSC,1.0,UNA-UNA-UNA
...,...,...,...,...,...,...,...,...
372,ZEMPOALA,86,0.135098,0.505859,0.359043,GUS,1.0,UNA-UNA-UNA
373,ZINACANTEPEC,82,0.437063,0.308926,0.254011,OSC,1.0,UNA-UNA-UNA
374,ZONGOLICA,1,0.381797,0.599616,0.018587,GUS,1.0,UNA-UNA-UNA
375,ZUMPAHUACAN,22,0.236505,0.598488,0.165007,GUS,1.0,UNA-UNA-UNA
376,ZUMPANGO,637,0.044020,0.238821,0.717158,LIZ,1.0,UNA-UNA-UNA

In [224]:
print(len(control_df[control_df["Pagaré"] == "RECIBIDO"]))

53607

In [225]:
print(len(control_df))

75598

In [226]:
import pandas as pd
import numpy as np

##Patron correcto JM:  "UNA-UNA-UNA": ["JM","GB","LIZ"]
##Patron correcto GB:  "UNA-UNA-UNA": ["GB","LIZ","JM"]
##Patron correcto LIZ:  "UNA-UNA-UNA": ["LIZ","GB","JM"]
print(patrones)

# Convertir fechas antes de hacer cálculos
control_df["CAPINSOLUTO"] = pd.to_numeric(control_df["CAPINSOLUTO"], errors="coerce")
control_df = control_df.sort_values(by=["CAPINSOLUTO"])  # Ordenación rápida

#solicitudes = solicitudes.drop_duplicates(subset=["Estado / Municipio"])

{'OSC': {'UNA-UNA-UNA': ['OSC', 'GUS', 'LIZ']}, 'GUS': {'UNA-UNA-UNA': ['GUS', 'LIZ', 'OSC']}, 'LIZ': {'UNA-UNA-UNA': ['LIZ', 'OSC', 'GUS']}}

In [227]:
print(len(control_df))

75598

In [228]:
control_df.head()

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,Bucket,Precio_comercial,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio
65254,1045544,820961,0.0,4529,4534,NaN,PCH,PACHUCA CENTRO,3388,BOLAÃ‘OS SUAREZ NORMA AURORA,...,fenix,0.03,0.02,0.01,0.0,2011,2,No Afectado,0.01,0.0
29224,1179552,2176354,0.0,4844,4849,NaN,C65,CALLE 65,20935,PUERTO FRANCO MYRNA MARGARITA,...,fenix,0.03,0.02,0.01,0.0,2012,2,No Afectado,0.01,0.0
7328,830511,570786,0.0,5618,5623,NaN,TLJ,TOLUCA JUAREZ,1172,MERCADO JARAMILLO OBDULIA,...,fenix,0.03,0.02,0.01,0.0,2009,5,No Afectado,0.01,0.0
42396,679490,435782,0.0,6031,6036,NaN,XCH,XOCHIMILCO,2688,LEON ALVARADO GUADALUPE,...,fenix,0.03,0.02,0.01,0.0,2008,9,No Afectado,0.01,0.0
36713,1970490,3769059,0.0,2833,2838,NaN,NOP,SAN MATEO NOPALA,4053,LOPEZ DIAZ MARICELA,...,fenix,0.03,0.02,0.01,0.0,2017,1,No Afectado,0.01,0.0

In [229]:
print(len(control_df[control_df["Pagaré"] == "RECIBIDO"])) ################
print("Filas en control_df antes del merge:", control_df.shape[0])
print("Filas en solicitudes antes del merge:", municipios.shape[0])

53607
Filas en control_df antes del merge: 75598
Filas en solicitudes antes del merge: 377

Realizamos el Merge del archivo de control con las solicitudes

In [230]:
control["operacionesid"] = control["operacionesid"].astype(str).str.strip()
pagares["Contrato"] = pagares["Contrato"].astype(str).str.strip()
# Unir `solicitudes` con `control_df` para aplicar reglas directamente
control_df = control_df.merge(municipios[["municipio", "Regla_Div", "M_mayor"]], 
                              left_on="municipio", 
                              right_on="municipio", 
                              how="left")

In [231]:
len(control_df)

75598

In [232]:
print(len(control_df[control_df["Pagaré"] == "RECIBIDO"]))
print("Filas en control_df después del merge:", control_df.shape[0])

53607
Filas en control_df después del merge: 75598

In [233]:
print(control_df["Pagaré"].unique())

[nan 'RECIBIDO' 'NO LOCALIZADO' 'NO RECIBIDO' 'DIGITAL']

In [234]:
#print(len(control_df)) 
control.columns

Index(['operacionesid', 'CLIENTESID', 'CAPINSOLUTO', 'DIASVENCIDOS',
       'DV_ACTUALES', 'TOTALADEUDO', 'suc', 'sucursal', 'cta', 'cte',
       ...
       'id', 'fecha_disposicion', 'Pagaré', 'AC_-_Expedientes', 'Bucket',
       'Rango_DV_inferior', 'Rango_DV_superior', 'Precio_comercial',
       'Precio_CON_pagare', 'Precio_SIN_pagare_o_CON_error'],
      dtype='object', length=114)

Utilizamos primero solo los digitales

In [235]:
control_df_digital = control_df[control_df["Pagaré"] == "DIGITAL"].copy()

In [236]:
control_df_digital.head(2)

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor
1469,2477222,7609491,565.21,1411,1416,NaN,CDE,CERRO DE LA ESTRELLA,13266,GONZALEZ RODRIGUEZ MITZI MARISSA,...,0.03,0.015,22.6084,2021,9,No Afectado,0.015,8.47815,UNA-UNA-UNA,LIZ
1527,2488192,7667180,698.68,1365,1370,NaN,NVODIG,NUEVOS DIGITALES,1446,TOTO ANTEMATE JOSE IGNACIO,...,0.03,0.015,27.9472,2021,10,No Afectado,0.015,10.48020,UNA-UNA-UNA,LIZ

In [237]:
control_df_digital['patron'] = np.select(
    [
        control_df_digital['M_mayor'] == 'OSC',
        control_df_digital['M_mayor'] == 'GUS',
        control_df_digital['M_mayor'] == 'LIZ'
    ],
    [
        control_df_digital['Regla_Div'].map(patrones['OSC']),
        control_df_digital['Regla_Div'].map(patrones['GUS']),
        control_df_digital['Regla_Div'].map(patrones['LIZ'])
    ],
    default=None
)

In [238]:
control_df_digital.head(2)

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,Precio_SIN_pagare_o_CON_error,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor,patron
1469,2477222,7609491,565.21,1411,1416,NaN,CDE,CERRO DE LA ESTRELLA,13266,GONZALEZ RODRIGUEZ MITZI MARISSA,...,0.015,22.6084,2021,9,No Afectado,0.015,8.47815,UNA-UNA-UNA,LIZ,"[LIZ, OSC, GUS]"
1527,2488192,7667180,698.68,1365,1370,NaN,NVODIG,NUEVOS DIGITALES,1446,TOTO ANTEMATE JOSE IGNACIO,...,0.015,27.9472,2021,10,No Afectado,0.015,10.48020,UNA-UNA-UNA,LIZ,"[LIZ, OSC, GUS]"

In [239]:
control_df_digital["Asignacion"] = control_df_digital.groupby("municipio")["patron"].transform(
    lambda x: np.tile(x.dropna().values[0], len(x))[:len(x)] if x.dropna().values.size > 0 else ""
)

In [240]:
len(control_df_digital)

1288

In [241]:
control_df = control_df[control_df["Pagaré"] != "DIGITAL"].copy()

Luego seguimos con la base general

In [242]:
len(control_df)

74310

In [243]:
control_df.head(2)

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor
0,1045544,820961,0.0,4529,4534,NaN,PCH,PACHUCA CENTRO,3388,BOLAÃ‘OS SUAREZ NORMA AURORA,...,0.02,0.01,0.0,2011,2,No Afectado,0.01,0.0,UNA-UNA-UNA,OSC
1,1179552,2176354,0.0,4844,4849,NaN,C65,CALLE 65,20935,PUERTO FRANCO MYRNA MARGARITA,...,0.02,0.01,0.0,2012,2,No Afectado,0.01,0.0,UNA-UNA-UNA,OSC

In [244]:
control_df['patron'] = np.select(
    [
        control_df['M_mayor'] == 'OSC',
        control_df['M_mayor'] == 'GUS',
        control_df['M_mayor'] == 'LIZ'
    ],
    [
        control_df['Regla_Div'].map(patrones['OSC']),
        control_df['Regla_Div'].map(patrones['GUS']),
        control_df['Regla_Div'].map(patrones['LIZ'])
    ],
    default=None
)

In [245]:
control_df.head(2)

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,Precio_SIN_pagare_o_CON_error,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor,patron
0,1045544,820961,0.0,4529,4534,NaN,PCH,PACHUCA CENTRO,3388,BOLAÃ‘OS SUAREZ NORMA AURORA,...,0.01,0.0,2011,2,No Afectado,0.01,0.0,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]"
1,1179552,2176354,0.0,4844,4849,NaN,C65,CALLE 65,20935,PUERTO FRANCO MYRNA MARGARITA,...,0.01,0.0,2012,2,No Afectado,0.01,0.0,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]"

In [246]:
## Solo separamos los casos en los que tenemos pagares
control_df_afectados = control_df[control_df["Estado"] == "Afectado"].copy()

In [247]:
len(control_df_afectados)

20296

In [248]:
control_df_afectados['patron'] = np.select(
    [
        control_df_afectados['M_mayor'] == 'OSC',
        control_df_afectados['M_mayor'] == 'GUS',
        control_df_afectados['M_mayor'] == 'LIZ'
    ],
    [
        control_df_afectados['Regla_Div'].map(patrones['OSC']),
        control_df_afectados['Regla_Div'].map(patrones['GUS']),
        control_df_afectados['Regla_Div'].map(patrones['LIZ'])
    ],
    default=None
)

In [249]:
# Aplicar los valores de alternancia de manera eficiente
control_df_afectados["Asignacion"] = control_df_afectados.groupby("municipio")["patron"].transform(
    lambda x: np.tile(x.dropna().values[0], len(x))[:len(x)] if x.dropna().values.size > 0 else ""
)

In [250]:
control_df_afectados.head()

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor,patron,Asignacion
78,2480016,7366406,0.0,1531,1536,NaN,TG2,TULANCINGOII,4119,MARTINEZ FRANCO JOSE LUIS,...,0.0,2021,9,Afectado,0.01,0.0,UNA-UNA-UNA,GUS,"[GUS, LIZ, OSC]",GUS
215,2431406,7289431,0.0,1659,1664,NaN,TXP,TUXTLA POLIFORUM,8497,VERA CRUZ RAMON ENRIQUE,...,0.0,2021,3,Afectado,0.01,0.0,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]",OSC
310,2433803,7332916,0.0,1549,1554,NaN,NZ3,NEZA 3 CHIMALHUACAN,7572,GIL BLAS LETICIA,...,0.0,2021,4,Afectado,0.01,0.0,UNA-UNA-UNA,GUS,"[GUS, LIZ, OSC]",GUS
316,2459330,7499642,0.0,1548,1553,NaN,TLL,TOLUCA TOLLOCAN,9104,ALVAREZ VIDAL ROBERTO,...,0.0,2021,7,Afectado,0.01,0.0,UNA-UNA-UNA,LIZ,"[LIZ, OSC, GUS]",LIZ
354,2479261,7622149,0.0,1555,1560,NaN,MOL,MOLINITO,15186,RAMIREZ ROJAS LUIS ENRIQUE,...,0.0,2021,9,Afectado,0.01,0.0,UNA-UNA-UNA,GUS,"[GUS, LIZ, OSC]",GUS

In [251]:
control_df = control_df[control_df["Estado"] != "Afectado"].copy()

In [252]:
print("Tenemos ahora solo", len(control_df), "cuentas, originalmente: ", len(control),"donde las afectadas son: ", len(control_df_afectados), "y", 
      len(control_df_digital),"digitales" )

Tenemos ahora solo 54014 cuentas, originalmente:  75598 donde las afectadas son:  20296 y 1288 digitales

In [253]:
## Solo separamos los casos en los que tenemos pagares
control_df_recibido = control_df[(control_df["Pagaré"] == "RECIBIDO")].copy()

In [254]:
print("Tenemos un total de:", len(control_df_recibido),"cuentas con pagare recibido y estatus no afectado")

Tenemos un total de: 35450 cuentas con pagare recibido y estatus no afectado

In [255]:
#control_df_recibido = control_df[(control_df["Pagaré"] == "RECIBIDO")].copy()

In [256]:
control_df_recibido['patron'] = np.select(
    [
        control_df_recibido['M_mayor'] == 'OSC',
        control_df_recibido['M_mayor'] == 'GUS',
        control_df_recibido['M_mayor'] == 'LIZ'
    ],
    [
        control_df_recibido['Regla_Div'].map(patrones['GUS']),
        control_df_recibido['Regla_Div'].map(patrones['LIZ']),
        control_df_recibido['Regla_Div'].map(patrones['OSC'])
    ],
    default=None
)

In [257]:
control_df_recibido["Asignacion"] = control_df_recibido.groupby("municipio")["patron"].transform(
    lambda x: np.tile(x.dropna().values[0], len(x))[:len(x)] if x.dropna().values.size > 0 else ""
)

In [258]:
control_df_recibido.head(2)

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor,patron,Asignacion
8,2094146,5876208,0.0,2412,2417,NaN,ALA,ALAMEDAS,13196,MARTINEZ GONZALEZ VICTOR,...,0.0,2017,12,No Afectado,0.02,0.0,UNA-UNA-UNA,GUS,"[LIZ, OSC, GUS]",LIZ
33,2022930,5286853,0.0,2219,2224,NaN,VNR,VILLA NICOLAS ROMERO,5543,CHAPARRO TERRAZAS LIDIA,...,0.0,2017,6,No Afectado,0.02,0.0,UNA-UNA-UNA,OSC,"[GUS, LIZ, OSC]",GUS

Con esto terminamos la division de la cartera, separamos los dataframes, pero ahora los vamos a combinar para la exportación

In [259]:
control_df_sin_pagare = control_df[(control_df["Pagaré"] == "NO LOCALIZADO") | (control_df["Pagaré"] == "NO RECIBIDO")].copy()

In [260]:
print("Tenemos",len(control_df_sin_pagare),"cuentas sin pagare")

Tenemos 5566 cuentas sin pagare

In [261]:
control_df_sin_pagare['patron'] = np.select(
    [
        control_df_sin_pagare['M_mayor'] == 'OSC',
        control_df_sin_pagare['M_mayor'] == 'GUS',
        control_df_sin_pagare['M_mayor'] == 'LIZ'
    ],
    [
        control_df_sin_pagare['Regla_Div'].map(patrones['LIZ']),
        control_df_sin_pagare['Regla_Div'].map(patrones['OSC']),
        control_df_sin_pagare['Regla_Div'].map(patrones['GUS'])
    ],
    default=None
)

In [262]:
# Aplicar los valores de alternancia de manera eficiente
control_df_sin_pagare["Asignacion"] = control_df_sin_pagare.groupby("municipio")["patron"].transform(
    lambda x: np.tile(x.dropna().values[0], len(x))[:len(x)] if x.dropna().values.size > 0 else ""
)

In [263]:
len(control_df_sin_pagare)

5566

In [264]:
print("Con esto podemos determinar que existen", len(control_df_recibido),"cuentas recibidas,",len(control_df_afectados),
      "cuentas afectadas,",len(control_df_digital),"con pagare digital y", len(control_df_sin_pagare), "cuentas sin pagare, con un total de:",
     len(control_df_recibido) + len(control_df_afectados) + len(control_df_digital) + len(control_df_sin_pagare))

Con esto podemos determinar que existen 35450 cuentas recibidas, 20296 cuentas afectadas, 1288 con pagare digital y 5566 cuentas sin pagare, con un total de: 62600

In [265]:
print(len(control_df[control_df["Pagaré"].isna()]))

12998

In [266]:
control_final = pd.concat([control_df_afectados, control_df_recibido, control_df_sin_pagare,control_df_digital], ignore_index=True)

In [267]:
columna_inicio = "Asignacion"  # Columna que quieres mover
otras_columnas = [col for col in control_final.columns if col != columna_inicio]  # Mantiene las demás
control_final = control_final[[columna_inicio] + otras_columnas]  # Reordena el DataFrame

In [268]:
control_final = control_final.rename(columns={"Asignacion": "Acuerdos"})

In [269]:
control_final.columns

Index(['Acuerdos', 'operacionesid', 'CLIENTESID', 'CAPINSOLUTO',
       'DIASVENCIDOS', 'DV_ACTUALES', 'TOTALADEUDO', 'suc', 'sucursal', 'cta',
       ...
       'Precio_SIN_pagare_o_CON_error', 'Valor_Comercial', 'Año', 'Mes',
       'Estado', 'Precio_Multiplicador', 'Precio', 'Regla_Div', 'M_mayor',
       'patron'],
      dtype='object', length=122)

In [270]:
control_final_exp = control_final[["Acuerdos", "operacionesid", "CLIENTESID",  "CAPINSOLUTO", "DIASVENCIDOS", "DV_ACTUALES", "Precio_comercial","Valor_Comercial", "Precio_Multiplicador",  "Precio", "Estado", "Pagaré", "TOTALADEUDO", "suc", "sucursal", "colonia", "estado", "municipio", "cp", "Año", "Mes"]]

Reordenaremos las columnas:

In [271]:
control_final_exp[control_final_exp["Acuerdos"].isna()].head()

Empty DataFrame
Columns: [Acuerdos, operacionesid, CLIENTESID, CAPINSOLUTO, DIASVENCIDOS, DV_ACTUALES, Precio_comercial, Valor_Comercial, Precio_Multiplicador, Precio, Estado, Pagaré, TOTALADEUDO, suc, sucursal, colonia, estado, municipio, cp, Año, Mes]
Index: []

[0 rows x 21 columns]

In [272]:
#control_final_exp.to_excel("Junio_1.0.xlsx")

In [273]:
#municipios.to_excel("municipios_1.0.xlsx")

In [274]:
control_df[control_df["Pagaré"].isna()]

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,Precio_SIN_pagare_o_CON_error,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor,patron
0,1045544,820961,0.0,4529,4534,NaN,PCH,PACHUCA CENTRO,3388,BOLAÃ‘OS SUAREZ NORMA AURORA,...,0.01,0.0,2011,2,No Afectado,0.01,0.0,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]"
1,1179552,2176354,0.0,4844,4849,NaN,C65,CALLE 65,20935,PUERTO FRANCO MYRNA MARGARITA,...,0.01,0.0,2012,2,No Afectado,0.01,0.0,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]"
2,830511,570786,0.0,5618,5623,NaN,TLJ,TOLUCA JUAREZ,1172,MERCADO JARAMILLO OBDULIA,...,0.01,0.0,2009,5,No Afectado,0.01,0.0,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]"
3,679490,435782,0.0,6031,6036,NaN,XCH,XOCHIMILCO,2688,LEON ALVARADO GUADALUPE,...,0.01,0.0,2008,9,No Afectado,0.01,0.0,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]"
4,1970490,3769059,0.0,2833,2838,NaN,NOP,SAN MATEO NOPALA,4053,LOPEZ DIAZ MARICELA,...,0.01,0.0,2017,1,No Afectado,0.01,0.0,UNA-UNA-UNA,LIZ,"[LIZ, OSC, GUS]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75593,2150888,5788649,NaN,2381,2386,NaN,AGU,JOSE MA. CHAVEZ AGUASCALIENTES,2265,BECERRA GARCIA ANASTACIO,...,0.01,NaN,2018,6,No Afectado,0.01,NaN,UNA-UNA-UNA,GUS,"[GUS, LIZ, OSC]"
75594,706871,449910,NaN,5706,5711,NaN,CMR,CAMARONES,1173,AGUILAR GARCIA REFUGIO,...,0.01,NaN,2008,9,No Afectado,0.01,NaN,UNA-UNA-UNA,GUS,"[GUS, LIZ, OSC]"
75595,1652124,1939371,NaN,3449,3454,NaN,NaN,NaN,8211,MUÃ‘OZ GOMEZ TEOFILA,...,0.01,NaN,2015,1,No Afectado,0.01,NaN,UNA-UNA-UNA,LIZ,"[LIZ, OSC, GUS]"
75596,2030303,5586848,NaN,2773,2778,NaN,NaN,NaN,2307,SAAVEDRA MONTAÃ‘O CARMEN ADRIANA,...,0.01,NaN,2017,7,No Afectado,0.01,NaN,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]"
75597,1981006,5378258,NaN,2786,2791,NaN,NaN,NaN,4014,ZEPEDA SARMIENTO ROCIO,...,0.01,NaN,2017,2,No Afectado,0.01,NaN,UNA-UNA-UNA,LIZ,"[LIZ, OSC, GUS]"

In [275]:
control_sin_div = control_df[control_df["Pagaré"].isna()]

In [276]:
control_sin_div["Acuerdos"] = ""

C:\Users\apaloalto\AppData\Local\Temp\ipykernel_20008\2101146474.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  control_sin_div["Acuerdos"] = ""

In [277]:
control_sin_div

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor,patron,Acuerdos
0,1045544,820961,0.0,4529,4534,NaN,PCH,PACHUCA CENTRO,3388,BOLAÃ‘OS SUAREZ NORMA AURORA,...,0.0,2011,2,No Afectado,0.01,0.0,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]",
1,1179552,2176354,0.0,4844,4849,NaN,C65,CALLE 65,20935,PUERTO FRANCO MYRNA MARGARITA,...,0.0,2012,2,No Afectado,0.01,0.0,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]",
2,830511,570786,0.0,5618,5623,NaN,TLJ,TOLUCA JUAREZ,1172,MERCADO JARAMILLO OBDULIA,...,0.0,2009,5,No Afectado,0.01,0.0,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]",
3,679490,435782,0.0,6031,6036,NaN,XCH,XOCHIMILCO,2688,LEON ALVARADO GUADALUPE,...,0.0,2008,9,No Afectado,0.01,0.0,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]",
4,1970490,3769059,0.0,2833,2838,NaN,NOP,SAN MATEO NOPALA,4053,LOPEZ DIAZ MARICELA,...,0.0,2017,1,No Afectado,0.01,0.0,UNA-UNA-UNA,LIZ,"[LIZ, OSC, GUS]",
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75593,2150888,5788649,NaN,2381,2386,NaN,AGU,JOSE MA. CHAVEZ AGUASCALIENTES,2265,BECERRA GARCIA ANASTACIO,...,NaN,2018,6,No Afectado,0.01,NaN,UNA-UNA-UNA,GUS,"[GUS, LIZ, OSC]",
75594,706871,449910,NaN,5706,5711,NaN,CMR,CAMARONES,1173,AGUILAR GARCIA REFUGIO,...,NaN,2008,9,No Afectado,0.01,NaN,UNA-UNA-UNA,GUS,"[GUS, LIZ, OSC]",
75595,1652124,1939371,NaN,3449,3454,NaN,NaN,NaN,8211,MUÃ‘OZ GOMEZ TEOFILA,...,NaN,2015,1,No Afectado,0.01,NaN,UNA-UNA-UNA,LIZ,"[LIZ, OSC, GUS]",
75596,2030303,5586848,NaN,2773,2778,NaN,NaN,NaN,2307,SAAVEDRA MONTAÃ‘O CARMEN ADRIANA,...,NaN,2017,7,No Afectado,0.01,NaN,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]",
75597,1981006,5378258,NaN,2786,2791,NaN,NaN,NaN,4014,ZEPEDA SARMIENTO ROCIO,...,NaN,2017,2,No Afectado,0.01,NaN,UNA-UNA-UNA,LIZ,"[LIZ, OSC, GUS]",

In [278]:
control_sin_div = control_sin_div.rename(columns={"Asignacion": "Acuerdos"})

In [279]:
control_sin_div

,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,TOTALADEUDO,suc,sucursal,cta,cte,...,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor,patron,Acuerdos
0,1045544,820961,0.0,4529,4534,NaN,PCH,PACHUCA CENTRO,3388,BOLAÃ‘OS SUAREZ NORMA AURORA,...,0.0,2011,2,No Afectado,0.01,0.0,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]",
1,1179552,2176354,0.0,4844,4849,NaN,C65,CALLE 65,20935,PUERTO FRANCO MYRNA MARGARITA,...,0.0,2012,2,No Afectado,0.01,0.0,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]",
2,830511,570786,0.0,5618,5623,NaN,TLJ,TOLUCA JUAREZ,1172,MERCADO JARAMILLO OBDULIA,...,0.0,2009,5,No Afectado,0.01,0.0,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]",
3,679490,435782,0.0,6031,6036,NaN,XCH,XOCHIMILCO,2688,LEON ALVARADO GUADALUPE,...,0.0,2008,9,No Afectado,0.01,0.0,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]",
4,1970490,3769059,0.0,2833,2838,NaN,NOP,SAN MATEO NOPALA,4053,LOPEZ DIAZ MARICELA,...,0.0,2017,1,No Afectado,0.01,0.0,UNA-UNA-UNA,LIZ,"[LIZ, OSC, GUS]",
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75593,2150888,5788649,NaN,2381,2386,NaN,AGU,JOSE MA. CHAVEZ AGUASCALIENTES,2265,BECERRA GARCIA ANASTACIO,...,NaN,2018,6,No Afectado,0.01,NaN,UNA-UNA-UNA,GUS,"[GUS, LIZ, OSC]",
75594,706871,449910,NaN,5706,5711,NaN,CMR,CAMARONES,1173,AGUILAR GARCIA REFUGIO,...,NaN,2008,9,No Afectado,0.01,NaN,UNA-UNA-UNA,GUS,"[GUS, LIZ, OSC]",
75595,1652124,1939371,NaN,3449,3454,NaN,NaN,NaN,8211,MUÃ‘OZ GOMEZ TEOFILA,...,NaN,2015,1,No Afectado,0.01,NaN,UNA-UNA-UNA,LIZ,"[LIZ, OSC, GUS]",
75596,2030303,5586848,NaN,2773,2778,NaN,NaN,NaN,2307,SAAVEDRA MONTAÃ‘O CARMEN ADRIANA,...,NaN,2017,7,No Afectado,0.01,NaN,UNA-UNA-UNA,OSC,"[OSC, GUS, LIZ]",
75597,1981006,5378258,NaN,2786,2791,NaN,NaN,NaN,4014,ZEPEDA SARMIENTO ROCIO,...,NaN,2017,2,No Afectado,0.01,NaN,UNA-UNA-UNA,LIZ,"[LIZ, OSC, GUS]",

In [280]:
control_sin_div_fin = control_sin_div[["Acuerdos", "operacionesid", "CLIENTESID",  "CAPINSOLUTO", 
                                   "DIASVENCIDOS", "DV_ACTUALES", "Precio_comercial","Valor_Comercial", 
                                   "Precio_Multiplicador",  "Precio", "Estado", "Pagaré", "AC_-_Expedientes", 
                                   "TOTALADEUDO", "suc", "sucursal", "colonia", 
                                   "estado", "municipio", "cp", "Año", "Mes"]]

In [281]:
control_sin_div_fin

,Acuerdos,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,Precio_comercial,Valor_Comercial,Precio_Multiplicador,Precio,...,AC_-_Expedientes,TOTALADEUDO,suc,sucursal,colonia,estado,municipio,cp,Año,Mes
0,,1045544,820961,0.0,4529,4534,0.03,0.0,0.01,0.0,...,NaN,NaN,PCH,PACHUCA CENTRO,NUEVO HIDALGO,HIDALGO,PACHUCA DE SOTO,42036,2011,2
1,,1179552,2176354,0.0,4844,4849,0.03,0.0,0.01,0.0,...,NaN,NaN,C65,CALLE 65,LAS BRISAS,YUCATAN,MERIDA,97144,2012,2
2,,830511,570786,0.0,5618,5623,0.03,0.0,0.01,0.0,...,NaN,NaN,TLJ,TOLUCA JUAREZ,ZINACANTEPEC,MEXICO,ZINACANTEPEC,51350,2009,5
3,,679490,435782,0.0,6031,6036,0.03,0.0,0.01,0.0,...,NaN,NaN,XCH,XOCHIMILCO,LA ASUNCION,CIUDAD DE MÉXICO,XOCHIMILCO,16040,2008,9
4,,1970490,3769059,0.0,2833,2838,0.03,0.0,0.01,0.0,...,NaN,NaN,NOP,SAN MATEO NOPALA,SAN MIGUEL TECPAN,MEXICO,JILOTZINGO,54571,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75593,,2150888,5788649,NaN,2381,2386,0.03,NaN,0.01,NaN,...,NaN,NaN,AGU,JOSE MA. CHAVEZ AGUASCALIENTES,OJOCALIENTE,AGUASCALIENTES,AGUASCALIENTES,20196,2018,6
75594,,706871,449910,NaN,5706,5711,0.03,NaN,0.01,NaN,...,NaN,NaN,CMR,CAMARONES,VICTORIA DE LAS DEMOCRACIAS,CIUDAD DE MÉXICO,AZCAPOTZALCO,2810,2008,9
75595,,1652124,1939371,NaN,3449,3454,0.03,NaN,0.01,NaN,...,NaN,NaN,NaN,NaN,RANCHO DON ANTONIO,HIDALGO,TIZAYUCA,43810,2015,1
75596,,2030303,5586848,NaN,2773,2778,0.03,NaN,0.01,NaN,...,NaN,NaN,NaN,NaN,SAN MARTIN DE LAS FLORES DE ABAJO,JALISCO,SAN PEDRO TLAQUEPAQUE,45629,2017,7
75597,,1981006,5378258,NaN,2786,2791,0.03,NaN,0.01,NaN,...,NaN,NaN,NaN,NaN,CONSEJO AGRARISTA MEXICANO,CIUDAD DE MÉXICO,IZTAPALAPA,9760,2017,2

In [282]:
control_df_digital =  control_df_digital[["Asignacion", "operacionesid", "CLIENTESID",  "CAPINSOLUTO", 
                                   "DIASVENCIDOS", "DV_ACTUALES", "Precio_comercial","Valor_Comercial", 
                                   "Precio_Multiplicador",  "Precio", "Estado", "Pagaré", "AC_-_Expedientes", 
                                   "TOTALADEUDO", "suc", "sucursal", "colonia", 
                                   "estado", "municipio", "cp", "Año", "Mes"]]

In [283]:
control_df_digital

,Asignacion,operacionesid,CLIENTESID,CAPINSOLUTO,DIASVENCIDOS,DV_ACTUALES,Precio_comercial,Valor_Comercial,Precio_Multiplicador,Precio,...,AC_-_Expedientes,TOTALADEUDO,suc,sucursal,colonia,estado,municipio,cp,Año,Mes
1469,LIZ,2477222,7609491,565.21,1411,1416,0.040,22.60840,0.015,8.47815,...,Recibido,NaN,CDE,CERRO DE LA ESTRELLA,PARAJE SAN JUAN,CIUDAD DE MÉXICO,IZTAPALAPA,9830,2021,9
1527,OSC,2488192,7667180,698.68,1365,1370,0.040,27.94720,0.015,10.48020,...,Digital,NaN,NVODIG,NUEVOS DIGITALES,SANTA MARIA AZTAHUACAN,CIUDAD DE MÉXICO,IZTAPALAPA,9500,2021,10
1858,OSC,2537708,7900099,1313.29,1323,1328,0.040,52.53160,0.015,19.69935,...,Digital,NaN,NVODIG,NUEVOS DIGITALES,MORELOS,CIUDAD DE MÉXICO,CUAUHTEMOC,6200,2022,3
1859,LIZ,2540924,7919230,1313.29,1306,1311,0.040,52.53160,0.015,19.69935,...,Digital,NaN,NVODIG,NUEVOS DIGITALES,IMSS TLALNEPANTLA,MEXICO,TLALNEPANTLA DE BAZ,54030,2022,4
1882,GUS,2563423,8032927,1353.92,1246,1251,0.040,54.15680,0.015,20.30880,...,Digital,NaN,NVODIG,NUEVOS DIGITALES,BENITO JUAREZ,CAMPECHE,CARMEN,24180,2022,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63750,GUS,2664241,8408863,79262.20,729,734,0.080,6340.97600,0.035,2774.17700,...,Recibido,132232.0,TNL,TONALA,SANTA PAULA,JALISCO,TONALA,45420,2023,5
63779,LIZ,2758924,2516405,90783.34,483,488,0.126,11438.70084,0.050,4539.16700,...,Digital,NaN,ATL,ATLACOMULCO,CENTRO,MEXICO,ATLACOMULCO,50450,2024,3
63782,GUS,2770145,8262769,94131.64,578,583,0.088,8283.58432,0.040,3765.26560,...,Digital,NaN,THC,TLAHUAC CENTRO,GUADALUPE TLALTENCO,CIUDAD DE MÉXICO,TLAHUAC,13450,2024,5
63805,LIZ,2579700,7917880,126627.54,1107,1112,0.040,5065.10160,0.015,1899.41310,...,Recibido,NaN,HDA,VILLA DE LA HACIENDA,REFORMA URBANA,MEXICO,TLALNEPANTLA DE BAZ,54110,2022,7
63811,LIZ,2540187,7876260,168447.79,1168,1173,0.040,6737.91160,0.015,2526.71685,...,Recibido,NaN,ZRG,ZARAGOZA QUERETARO,SAN JOSE ITURBIDE CENTRO,GUANAJUATO,SAN JOSE ITURBIDE,37980,2022,3

In [284]:
import pandas as pd

# Ruta del archivo de Excel
ruta_excel = "./AEF/2026/Castigos/202601//Base_Ventas_AEF_Ene.xlsx"

# Guardar ambos DataFrames en distintas hojas
with pd.ExcelWriter(ruta_excel, engine="openpyxl") as writer:
    control_final_exp.to_excel(writer, sheet_name="Base_Ventas", index=False)  # Primera hoja
    control_sin_div_fin.to_excel(writer, sheet_name="Sin_Division", index=False)  # Segunda hoja

In [285]:
municipios.to_excel("./AEF/2026/Castigos/202601/municipios_050126.xlsx")

In [286]:
print(len(control_final_exp))

62600