## Programa de Ventas PyMe
En este notebook cargaremos los archivos de la Division y se realizara la exportacion del archivo para una ejecucion mas rapida y sin necesidad de estar pasandolo por Excel

Comenzaremos con la carga del archivo, cargaremos el archivo de `Venta` del mes en curso, para un ejemplo inicial, cargaremos el archivo de PYME, que actualmente es a mes vencido.

In [190]:
import pandas as pd

In [191]:
control = pd.read_excel("./2026/PYME/202601/PYME_202601.xlsx")

In [192]:
control

,Tipo,operacionesid_c,clientesid,suc,sucursal,cta,cliente,Capital,TOTALADEUDO,PayOff,...,DIASVENCIDOS,fecha_disposicion,producto,tipocredito,municipio,estado,no_pagos,no_ult_pago,id_contrato_migrado,Bandera
0,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,7377.0,VALENCIA HERNANDEZ FERNANDO OSCAR JESUS,21246.3845,NaN,26539.2445,...,1147,2021-06-08,PYME24REG.57%,NUEVO,NAUCALPAN DE JUAREZ,MEXICO,24,17.0,NaN,Agencias
1,castigos anticipados,2496446,NaN,CIZ,MULTIPLAZA IZCALLI,6270.0,RITO HERNANDEZ CLAUDIA NAYELI,58974.2000,NaN,76130.6400,...,1137,2021-10-30,PYME24REG.57%,NUEVO,IZTAPALAPA,CIUDAD DE MEXICO,24,10.0,NaN,Agencias
2,castigos anticipados,2503123,NaN,ZMP,ZUMPANGO,12902.0,SORIA ARELLANO VIRGINIA MONTSERRAT,72682.7600,NaN,102911.1000,...,895,2021-11-20,MICPREFNVOR,NUEVO,JALTENCO,MEXICO,36,20.0,NaN,Agencias
3,castigos anticipados,2505837,7008784.0,ZMP,ZUMPANGO,12916.0,BONILLA VARGAS MANUEL,43065.1500,0.00,NaN,...,956,2021-11-29,PYME24 REG.FCO75%,RENOVA,ZUMPANGO,MEXICO,24,17.0,NaN,Ventas
4,castigos anticipados,2521992,NaN,NOP,SAN MATEO NOPALA,8091.0,PEREZ LOPEZ EFRAIN,50823.2500,NaN,69928.1300,...,987,2022-01-25,PYME24 REG.FCO80%,NUEVO,NAUCALPAN DE JUAREZ,MEXICO,24,13.0,NaN,Agencias
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,Normal,2707468,8462978.0,NZ3,NEZA 3 CHIMALHUACAN,9286.0,CRUZ TELLEZ VERONICA,42471.0500,69635.24,NaN,...,651,2023-09-22,PYME18 REG.FCO80%,NUEVO,NEZAHUALCOYOTL,MEXICO,1,6.0,1.000476e+09,Ventas
272,Normal,2737019,8375525.0,TYH,TULYEHUALCO,9449.0,TAPIA VIRTO SINUE,55491.6600,95411.85,NaN,...,638,2024-01-10,PYME18 REG.FCO85%,RENOVA,TLAHUAC,CIUDAD DE MEXICO,1,3.0,1.000476e+09,Ventas
273,Normal,2692867,7650898.0,PGS,PACHUCA GRAN SUR,9549.0,SANTIAGO FUENTES HAZAEL,47235.5700,75099.90,NaN,...,751,2023-08-05,PYME48PREM.49.9%,RESTRUCTURA,MINERAL DE LA REFORMA,HIDALGO,1,4.0,1.000477e+09,Ventas
274,Normal,2610328,8236886.0,PGS,PACHUCA GRAN SUR,8927.0,BARAJAS CERVANTES JOSE ANTONIO,28778.3300,46155.71,NaN,...,650,2022-10-26,PYME24 REG.FCO80%,NUEVO,PACHUCA DE SOTO,HIDALGO,1,16.0,1.000477e+09,Ventas
275,Normal,2658083,8383953.0,PAL,PACHUCA EL PALMAR,6068.0,CABALLERO GARNICA MAGNOLIA,38345.3900,64041.81,NaN,...,660,2023-04-11,PYME24 REG.FCO80%,NUEVO,ACTOPAN,HIDALGO,1,11.0,1.000477e+09,Ventas

In [7]:
#control = control[~control["estado"].isin(["MEXICO", "MEX"])]

In [193]:
print(len(control))

276

In [194]:
ruta = r"C:\Users\apaloalto\Documents\Programas\Division de Cartera\AEF\2026\Castigos\202601\Historico Venta de Cartera AEF DICIEMBRE 2025 (ID).xlsx"
vendido = pd.read_excel(ruta)

In [195]:
ruta_liq = r"C:\Users\apaloalto\Documents\Programas\Division de Cartera\AEF\2026\Castigos\202601\Liquidaciones AEF.xlsx"
liq = pd.read_excel(ruta_liq)

In [196]:
liq.dtypes

OperacionesID      int64
Tipo              object
estatus          float64
dtype: object

In [197]:
liq["OperacionesID"] = liq["OperacionesID"].astype(str).str.strip()
liq["OperacionesID"] = liq["OperacionesID"].astype(str)

In [198]:
vendido["CONTRATO"] = vendido["CONTRATO"].astype(str).str.strip()
vendido["CONTRATO"] = vendido["CONTRATO"].astype(str)

In [199]:
control.dtypes

Tipo                           object
operacionesid_c                 int64
clientesid                    float64
suc                            object
sucursal                       object
cta                           float64
cliente                        object
Capital                       float64
TOTALADEUDO                   float64
PayOff                        float64
bucket                         object
DIASVENCIDOS                    int64
fecha_disposicion      datetime64[ns]
producto                       object
tipocredito                    object
municipio                      object
estado                         object
no_pagos                        int64
no_ult_pago                   float64
id_contrato_migrado           float64
Bandera                        object
dtype: object

In [200]:
vendido.dtypes

CONTRATO    object
ESTATUS     object
dtype: object

In [201]:
control = control.rename(columns={"operacionesid_c": "OPERACIONESID"})

In [204]:
print(control["OPERACIONESID"].dtype)  # Muestra el tipo de dato actual
#print(control["OPERACIONESID"].unique())  # Verifica valores únicos

object

In [203]:
control["OPERACIONESID"] = control["OPERACIONESID"].astype(str).str.strip()
#control["operacionesid"] = pd.to_numeric(control["operacionesid"], errors="coerce").astype("Int64")

In [205]:
control.head(2)

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,Capital,TOTALADEUDO,PayOff,...,DIASVENCIDOS,fecha_disposicion,producto,tipocredito,municipio,estado,no_pagos,no_ult_pago,id_contrato_migrado,Bandera
0,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,7377.0,VALENCIA HERNANDEZ FERNANDO OSCAR JESUS,21246.3845,NaN,26539.2445,...,1147,2021-06-08,PYME24REG.57%,NUEVO,NAUCALPAN DE JUAREZ,MEXICO,24,17.0,NaN,Agencias
1,castigos anticipados,2496446,NaN,CIZ,MULTIPLAZA IZCALLI,6270.0,RITO HERNANDEZ CLAUDIA NAYELI,58974.2000,NaN,76130.6400,...,1137,2021-10-30,PYME24REG.57%,NUEVO,IZTAPALAPA,CIUDAD DE MEXICO,24,10.0,NaN,Agencias

In [206]:
control.iloc[:, control.columns.get_loc("OPERACIONESID")] = control["OPERACIONESID"].astype(str).str.strip()

In [207]:
control.dtypes

Tipo                           object
OPERACIONESID                  object
clientesid                    float64
suc                            object
sucursal                       object
cta                           float64
cliente                        object
Capital                       float64
TOTALADEUDO                   float64
PayOff                        float64
bucket                         object
DIASVENCIDOS                    int64
fecha_disposicion      datetime64[ns]
producto                       object
tipocredito                    object
municipio                      object
estado                         object
no_pagos                        int64
no_ult_pago                   float64
id_contrato_migrado           float64
Bandera                        object
dtype: object

In [208]:
control = control.merge(vendido,how="left",left_on="OPERACIONESID",right_on="CONTRATO")

In [209]:
control.columns

Index(['Tipo', 'OPERACIONESID', 'clientesid', 'suc', 'sucursal', 'cta',
       'cliente', 'Capital', 'TOTALADEUDO', 'PayOff', 'bucket', 'DIASVENCIDOS',
       'fecha_disposicion', 'producto', 'tipocredito', 'municipio', 'estado',
       'no_pagos', 'no_ult_pago', 'id_contrato_migrado', 'Bandera', 'CONTRATO',
       'ESTATUS'],
      dtype='object')

In [210]:
print(len(control[control["CONTRATO"].notna()]))

0

In [211]:
control_vendido = control[control["CONTRATO"].notna() ]

In [213]:
print(len(control[control["CONTRATO"].isna()]))

276

In [214]:
control.columns

Index(['Tipo', 'OPERACIONESID', 'clientesid', 'suc', 'sucursal', 'cta',
       'cliente', 'Capital', 'TOTALADEUDO', 'PayOff', 'bucket', 'DIASVENCIDOS',
       'fecha_disposicion', 'producto', 'tipocredito', 'municipio', 'estado',
       'no_pagos', 'no_ult_pago', 'id_contrato_migrado', 'Bandera', 'CONTRATO',
       'ESTATUS'],
      dtype='object')

In [215]:
control["ESTATUS"].unique()

array([nan], dtype=object)

In [216]:
control[control["ESTATUS"].isna()]

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,Capital,TOTALADEUDO,PayOff,...,producto,tipocredito,municipio,estado,no_pagos,no_ult_pago,id_contrato_migrado,Bandera,CONTRATO,ESTATUS
0,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,7377.0,VALENCIA HERNANDEZ FERNANDO OSCAR JESUS,21246.3845,NaN,26539.2445,...,PYME24REG.57%,NUEVO,NAUCALPAN DE JUAREZ,MEXICO,24,17.0,NaN,Agencias,NaN,NaN
1,castigos anticipados,2496446,NaN,CIZ,MULTIPLAZA IZCALLI,6270.0,RITO HERNANDEZ CLAUDIA NAYELI,58974.2000,NaN,76130.6400,...,PYME24REG.57%,NUEVO,IZTAPALAPA,CIUDAD DE MEXICO,24,10.0,NaN,Agencias,NaN,NaN
2,castigos anticipados,2503123,NaN,ZMP,ZUMPANGO,12902.0,SORIA ARELLANO VIRGINIA MONTSERRAT,72682.7600,NaN,102911.1000,...,MICPREFNVOR,NUEVO,JALTENCO,MEXICO,36,20.0,NaN,Agencias,NaN,NaN
3,castigos anticipados,2505837,7008784.0,ZMP,ZUMPANGO,12916.0,BONILLA VARGAS MANUEL,43065.1500,0.00,NaN,...,PYME24 REG.FCO75%,RENOVA,ZUMPANGO,MEXICO,24,17.0,NaN,Ventas,NaN,NaN
4,castigos anticipados,2521992,NaN,NOP,SAN MATEO NOPALA,8091.0,PEREZ LOPEZ EFRAIN,50823.2500,NaN,69928.1300,...,PYME24 REG.FCO80%,NUEVO,NAUCALPAN DE JUAREZ,MEXICO,24,13.0,NaN,Agencias,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,Normal,2707468,8462978.0,NZ3,NEZA 3 CHIMALHUACAN,9286.0,CRUZ TELLEZ VERONICA,42471.0500,69635.24,NaN,...,PYME18 REG.FCO80%,NUEVO,NEZAHUALCOYOTL,MEXICO,1,6.0,1.000476e+09,Ventas,NaN,NaN
272,Normal,2737019,8375525.0,TYH,TULYEHUALCO,9449.0,TAPIA VIRTO SINUE,55491.6600,95411.85,NaN,...,PYME18 REG.FCO85%,RENOVA,TLAHUAC,CIUDAD DE MEXICO,1,3.0,1.000476e+09,Ventas,NaN,NaN
273,Normal,2692867,7650898.0,PGS,PACHUCA GRAN SUR,9549.0,SANTIAGO FUENTES HAZAEL,47235.5700,75099.90,NaN,...,PYME48PREM.49.9%,RESTRUCTURA,MINERAL DE LA REFORMA,HIDALGO,1,4.0,1.000477e+09,Ventas,NaN,NaN
274,Normal,2610328,8236886.0,PGS,PACHUCA GRAN SUR,8927.0,BARAJAS CERVANTES JOSE ANTONIO,28778.3300,46155.71,NaN,...,PYME24 REG.FCO80%,NUEVO,PACHUCA DE SOTO,HIDALGO,1,16.0,1.000477e+09,Ventas,NaN,NaN
275,Normal,2658083,8383953.0,PAL,PACHUCA EL PALMAR,6068.0,CABALLERO GARNICA MAGNOLIA,38345.3900,64041.81,NaN,...,PYME24 REG.FCO80%,NUEVO,ACTOPAN,HIDALGO,1,11.0,1.000477e+09,Ventas,NaN,NaN

In [217]:
control.head()

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,Capital,TOTALADEUDO,PayOff,...,producto,tipocredito,municipio,estado,no_pagos,no_ult_pago,id_contrato_migrado,Bandera,CONTRATO,ESTATUS
0,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,7377.0,VALENCIA HERNANDEZ FERNANDO OSCAR JESUS,21246.3845,NaN,26539.2445,...,PYME24REG.57%,NUEVO,NAUCALPAN DE JUAREZ,MEXICO,24,17.0,NaN,Agencias,NaN,NaN
1,castigos anticipados,2496446,NaN,CIZ,MULTIPLAZA IZCALLI,6270.0,RITO HERNANDEZ CLAUDIA NAYELI,58974.2000,NaN,76130.6400,...,PYME24REG.57%,NUEVO,IZTAPALAPA,CIUDAD DE MEXICO,24,10.0,NaN,Agencias,NaN,NaN
2,castigos anticipados,2503123,NaN,ZMP,ZUMPANGO,12902.0,SORIA ARELLANO VIRGINIA MONTSERRAT,72682.7600,NaN,102911.1000,...,MICPREFNVOR,NUEVO,JALTENCO,MEXICO,36,20.0,NaN,Agencias,NaN,NaN
3,castigos anticipados,2505837,7008784.0,ZMP,ZUMPANGO,12916.0,BONILLA VARGAS MANUEL,43065.1500,0.0,NaN,...,PYME24 REG.FCO75%,RENOVA,ZUMPANGO,MEXICO,24,17.0,NaN,Ventas,NaN,NaN
4,castigos anticipados,2521992,NaN,NOP,SAN MATEO NOPALA,8091.0,PEREZ LOPEZ EFRAIN,50823.2500,NaN,69928.1300,...,PYME24 REG.FCO80%,NUEVO,NAUCALPAN DE JUAREZ,MEXICO,24,13.0,NaN,Agencias,NaN,NaN

In [218]:
print(len(control))

276

In [219]:
control = control.merge(liq["OperacionesID"],how="left",left_on="OPERACIONESID",right_on="OperacionesID")

In [220]:
control.head(2)

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,Capital,TOTALADEUDO,PayOff,...,tipocredito,municipio,estado,no_pagos,no_ult_pago,id_contrato_migrado,Bandera,CONTRATO,ESTATUS,OperacionesID
0,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,7377.0,VALENCIA HERNANDEZ FERNANDO OSCAR JESUS,21246.3845,NaN,26539.2445,...,NUEVO,NAUCALPAN DE JUAREZ,MEXICO,24,17.0,NaN,Agencias,NaN,NaN,NaN
1,castigos anticipados,2496446,NaN,CIZ,MULTIPLAZA IZCALLI,6270.0,RITO HERNANDEZ CLAUDIA NAYELI,58974.2000,NaN,76130.6400,...,NUEVO,IZTAPALAPA,CIUDAD DE MEXICO,24,10.0,NaN,Agencias,NaN,NaN,NaN

In [222]:
control[control["OperacionesID"].notna()]

Empty DataFrame
Columns: [Tipo, OPERACIONESID, clientesid, suc, sucursal, cta, cliente, Capital, TOTALADEUDO, PayOff, bucket, DIASVENCIDOS, fecha_disposicion, producto, tipocredito, municipio, estado, no_pagos, no_ult_pago, id_contrato_migrado, Bandera, CONTRATO, ESTATUS, OperacionesID]
Index: []

[0 rows x 24 columns]

In [36]:
control.head(2)

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,Capital,TOTALADEUDO,PayOff,...,tipocredito,municipio,estado,no_pagos,no_ult_pago,id_contrato_migrado,Bandera,CONTRATO,ESTATUS,OperacionesID
0,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,7377.0,VALENCIA HERNANDEZ FERNANDO OSCAR JESUS,21246.3845,NaN,26539.2445,...,NUEVO,NAUCALPAN DE JUAREZ,MEXICO,24,17.0,NaN,Agencias,NaN,NaN,NaN
1,castigos anticipados,2496446,NaN,CIZ,MULTIPLAZA IZCALLI,6270.0,RITO HERNANDEZ CLAUDIA NAYELI,58974.2000,NaN,76130.6400,...,NUEVO,IZTAPALAPA,CIUDAD DE MEXICO,24,10.0,NaN,Agencias,NaN,NaN,NaN

In [223]:
control = control[control["OperacionesID"].isna()]

In [224]:
len(control)

276

In [225]:
ruta_p = r"C:\Users\apaloalto\Documents\Programas\Division de Cartera\Pagares.xlsx"

In [226]:
pagares = pd.read_excel(ruta_p, sheet_name="Pagares AEF")

In [227]:
pagares.head()

,Contrato,Nombre del cliente,Pagaré,Fecha Disposición,AC - Expedientes,Año,En sucursal reportados
0,2374004.0,DE LA LUZ DE JESUS NORMA KARINA,No Localizado,2020-08-14 00:00:00,Recibido,2020.0,NaN
1,2379663.0,BALDERAS ROMERO GRACIELA,No Localizado,2020-09-09 00:00:00,Recibido,2020.0,NaN
2,2381566.0,MORALES BRITO YURIDIA,No Localizado,2020-09-15 00:00:00,Recibido,2020.0,NaN
3,2381696.0,ARELLANO CHAIREZ TEODOCIO,No Localizado,2020-09-17 00:00:00,Recibido,2020.0,NaN
4,2381805.0,VIZCARRA ESTRADA NORA LIZ,No Localizado,2020-09-17 00:00:00,Recibido,2020.0,NaN

In [228]:
len(pagares)

303421

Quitamos duplicamos y convertimos la columna `Contrato` de Pagares en String, para que podamos cruzar la informacion de manera correcta

In [229]:
pagares = pagares.drop_duplicates(subset=["Contrato"])
pagares["Contrato"] = pagares["Contrato"].astype(str).str.strip()
pagares["Contrato"] = pagares["Contrato"].astype(str)

In [230]:
Sucursales = pd.read_excel("Pagares.xlsx", sheet_name="Sucursales")

In [231]:
Sucursales.head()

   Id_Sucursal          Sucursal  Id_Sucursal.1
0            1            Toluca              1
1            2          Celaya 1              2
2            3       Querétaro 1              3
3            5        Irapuato 1              5
4            6  Aguascalientes 1              6

Convertimos en String la columna `operacionesid` del dataframe control.

In [232]:
control["OPERACIONESID"] = control["OPERACIONESID"].astype(str).str.strip()
control["OPERACIONESID"] = control["OPERACIONESID"].astype(str)

Cruzamos la informacion para poder tener todo junto en `control`

In [233]:
control.head()

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,Capital,TOTALADEUDO,PayOff,...,tipocredito,municipio,estado,no_pagos,no_ult_pago,id_contrato_migrado,Bandera,CONTRATO,ESTATUS,OperacionesID
0,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,7377.0,VALENCIA HERNANDEZ FERNANDO OSCAR JESUS,21246.3845,NaN,26539.2445,...,NUEVO,NAUCALPAN DE JUAREZ,MEXICO,24,17.0,NaN,Agencias,NaN,NaN,NaN
1,castigos anticipados,2496446,NaN,CIZ,MULTIPLAZA IZCALLI,6270.0,RITO HERNANDEZ CLAUDIA NAYELI,58974.2000,NaN,76130.6400,...,NUEVO,IZTAPALAPA,CIUDAD DE MEXICO,24,10.0,NaN,Agencias,NaN,NaN,NaN
2,castigos anticipados,2503123,NaN,ZMP,ZUMPANGO,12902.0,SORIA ARELLANO VIRGINIA MONTSERRAT,72682.7600,NaN,102911.1000,...,NUEVO,JALTENCO,MEXICO,36,20.0,NaN,Agencias,NaN,NaN,NaN
3,castigos anticipados,2505837,7008784.0,ZMP,ZUMPANGO,12916.0,BONILLA VARGAS MANUEL,43065.1500,0.0,NaN,...,RENOVA,ZUMPANGO,MEXICO,24,17.0,NaN,Ventas,NaN,NaN,NaN
4,castigos anticipados,2521992,NaN,NOP,SAN MATEO NOPALA,8091.0,PEREZ LOPEZ EFRAIN,50823.2500,NaN,69928.1300,...,NUEVO,NAUCALPAN DE JUAREZ,MEXICO,24,13.0,NaN,Agencias,NaN,NaN,NaN

In [234]:
control.columns

Index(['Tipo', 'OPERACIONESID', 'clientesid', 'suc', 'sucursal', 'cta',
       'cliente', 'Capital', 'TOTALADEUDO', 'PayOff', 'bucket', 'DIASVENCIDOS',
       'fecha_disposicion', 'producto', 'tipocredito', 'municipio', 'estado',
       'no_pagos', 'no_ult_pago', 'id_contrato_migrado', 'Bandera', 'CONTRATO',
       'ESTATUS', 'OperacionesID'],
      dtype='object')

In [235]:
pagares.head()

,Contrato,Nombre del cliente,Pagaré,Fecha Disposición,AC - Expedientes,Año,En sucursal reportados
0,2374004.0,DE LA LUZ DE JESUS NORMA KARINA,No Localizado,2020-08-14 00:00:00,Recibido,2020.0,NaN
1,2379663.0,BALDERAS ROMERO GRACIELA,No Localizado,2020-09-09 00:00:00,Recibido,2020.0,NaN
2,2381566.0,MORALES BRITO YURIDIA,No Localizado,2020-09-15 00:00:00,Recibido,2020.0,NaN
3,2381696.0,ARELLANO CHAIREZ TEODOCIO,No Localizado,2020-09-17 00:00:00,Recibido,2020.0,NaN
4,2381805.0,VIZCARRA ESTRADA NORA LIZ,No Localizado,2020-09-17 00:00:00,Recibido,2020.0,NaN

In [236]:
pagares["Contrato"] = pagares["Contrato"].astype(float).astype('Int64')

#pagares["Contrato"] = pagares["Contrato"].astype('Int64')

In [237]:
pagares.head(2)

,Contrato,Nombre del cliente,Pagaré,Fecha Disposición,AC - Expedientes,Año,En sucursal reportados
0,2374004,DE LA LUZ DE JESUS NORMA KARINA,No Localizado,2020-08-14 00:00:00,Recibido,2020.0,NaN
1,2379663,BALDERAS ROMERO GRACIELA,No Localizado,2020-09-09 00:00:00,Recibido,2020.0,NaN

In [241]:
pagares.dtypes

Contrato                   object
Nombre del cliente         object
Pagaré                     object
Fecha Disposición          object
AC - Expedientes           object
Año                       float64
En sucursal reportados     object
dtype: object

In [239]:
pagares["Contrato"] = pagares["Contrato"].astype(str).str.strip()
pagares["Contrato"] = pagares["Contrato"].astype(str)

In [240]:
pagares.head(2)

,Contrato,Nombre del cliente,Pagaré,Fecha Disposición,AC - Expedientes,Año,En sucursal reportados
0,2374004,DE LA LUZ DE JESUS NORMA KARINA,No Localizado,2020-08-14 00:00:00,Recibido,2020.0,NaN
1,2379663,BALDERAS ROMERO GRACIELA,No Localizado,2020-09-09 00:00:00,Recibido,2020.0,NaN

In [244]:
len(control)

276

In [243]:
control = control.merge(pagares[["Contrato", "Pagaré","AC - Expedientes"]], left_on="OPERACIONESID",right_on="Contrato", how="left")

In [245]:
control["Pagaré"] = control["Pagaré"].str.upper()

Analizamos los valores unicos

In [246]:
valores_unicos = control["Pagaré"].unique()
print(valores_unicos)

['RECIBIDO' 'NO LOCALIZADO' 'DIGITAL' 'NO RECIBIDO' nan]

In [247]:
len(control[control["Pagaré"].isna()])

2

Eliminamos la columna de `Contrato`, ya que es la misma que `operacionesId`

In [248]:
control = control.drop(columns=["Contrato"])
#control = control.drop(columns=["contrato_x","contrato_y","Pagaré_x","Id_Sucursal_x","Modelo_x","Id_Sucursal_y","Modelo_y","Sucursal_x"])

In [249]:
control.head()

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,Capital,TOTALADEUDO,PayOff,...,estado,no_pagos,no_ult_pago,id_contrato_migrado,Bandera,CONTRATO,ESTATUS,OperacionesID,Pagaré,AC - Expedientes
0,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,7377.0,VALENCIA HERNANDEZ FERNANDO OSCAR JESUS,21246.3845,NaN,26539.2445,...,MEXICO,24,17.0,NaN,Agencias,NaN,NaN,NaN,RECIBIDO,Recibido
1,castigos anticipados,2496446,NaN,CIZ,MULTIPLAZA IZCALLI,6270.0,RITO HERNANDEZ CLAUDIA NAYELI,58974.2000,NaN,76130.6400,...,CIUDAD DE MEXICO,24,10.0,NaN,Agencias,NaN,NaN,NaN,RECIBIDO,Recibido
2,castigos anticipados,2503123,NaN,ZMP,ZUMPANGO,12902.0,SORIA ARELLANO VIRGINIA MONTSERRAT,72682.7600,NaN,102911.1000,...,MEXICO,36,20.0,NaN,Agencias,NaN,NaN,NaN,RECIBIDO,Recibido
3,castigos anticipados,2505837,7008784.0,ZMP,ZUMPANGO,12916.0,BONILLA VARGAS MANUEL,43065.1500,0.0,NaN,...,MEXICO,24,17.0,NaN,Ventas,NaN,NaN,NaN,RECIBIDO,Recibido
4,castigos anticipados,2521992,NaN,NOP,SAN MATEO NOPALA,8091.0,PEREZ LOPEZ EFRAIN,50823.2500,NaN,69928.1300,...,MEXICO,24,13.0,NaN,Agencias,NaN,NaN,NaN,RECIBIDO,Recibido

In [250]:
print(len(control[control["Pagaré"] == "RECIBIDO"]))

207

In [251]:
control["Pagaré"].value_counts(dropna=False)

Pagaré
RECIBIDO         207
NO LOCALIZADO     33
DIGITAL           24
NO RECIBIDO       10
NaN                2
Name: count, dtype: int64

Cargamos los precios de las cuentas

In [252]:
print(len(control[control["Pagaré"].isna()]))

2

In [253]:
Precios_AEF = pd.read_excel("Pagares.xlsx",sheet_name="Precios PYME")

In [254]:
Precios_AEF

,Bucket,Rango DV inferior,Rango DV superior,Precio comercial,Precio CON pagare,Precio SIN pagare o CON error
0,bk1,90,119,0.18,0.180,0.144
1,bk2,120,149,0.15,0.150,0.120
2,bk3,150,179,0.12,0.120,0.096
3,bk4,180,360,0.10,0.090,0.052
4,bk5,361,540,0.09,0.080,0.040
5,bk6,541,720,0.09,0.080,0.040
6,bk7,721,900,0.08,0.075,0.038
7,bk8,901,1080,0.08,0.075,0.038
8,bk9,1081,1260,0.07,0.070,0.035
9,bk10,1261,1440,0.07,0.060,0.030
10,fenix,1441,99999,0.06,0.060,0.030

In [255]:
control.head()

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,Capital,TOTALADEUDO,PayOff,...,estado,no_pagos,no_ult_pago,id_contrato_migrado,Bandera,CONTRATO,ESTATUS,OperacionesID,Pagaré,AC - Expedientes
0,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,7377.0,VALENCIA HERNANDEZ FERNANDO OSCAR JESUS,21246.3845,NaN,26539.2445,...,MEXICO,24,17.0,NaN,Agencias,NaN,NaN,NaN,RECIBIDO,Recibido
1,castigos anticipados,2496446,NaN,CIZ,MULTIPLAZA IZCALLI,6270.0,RITO HERNANDEZ CLAUDIA NAYELI,58974.2000,NaN,76130.6400,...,CIUDAD DE MEXICO,24,10.0,NaN,Agencias,NaN,NaN,NaN,RECIBIDO,Recibido
2,castigos anticipados,2503123,NaN,ZMP,ZUMPANGO,12902.0,SORIA ARELLANO VIRGINIA MONTSERRAT,72682.7600,NaN,102911.1000,...,MEXICO,36,20.0,NaN,Agencias,NaN,NaN,NaN,RECIBIDO,Recibido
3,castigos anticipados,2505837,7008784.0,ZMP,ZUMPANGO,12916.0,BONILLA VARGAS MANUEL,43065.1500,0.0,NaN,...,MEXICO,24,17.0,NaN,Ventas,NaN,NaN,NaN,RECIBIDO,Recibido
4,castigos anticipados,2521992,NaN,NOP,SAN MATEO NOPALA,8091.0,PEREZ LOPEZ EFRAIN,50823.2500,NaN,69928.1300,...,MEXICO,24,13.0,NaN,Agencias,NaN,NaN,NaN,RECIBIDO,Recibido

Realizamos una categorizacion de los dias vencidos, asi les asignamos un Buket para poder cruzar la informacion con los precios

In [256]:

import numpy as np

control["Bucket"] = np.select([
    control["DIASVENCIDOS"].between(90, 119),
    control["DIASVENCIDOS"].between(120, 149),
    control["DIASVENCIDOS"].between(150, 179),
    control["DIASVENCIDOS"].between(180, 360),
    control["DIASVENCIDOS"].between(361, 540),
    control["DIASVENCIDOS"].between(541, 720),
    control["DIASVENCIDOS"].between(721, 900),
    control["DIASVENCIDOS"].between(901, 1080),
    control["DIASVENCIDOS"].between(1081, 1260),
    control["DIASVENCIDOS"].between(1261, 1440),
    control["DIASVENCIDOS"] > 1440
], ["bk1", "bk2", "bk3","bk4", "bk5", "bk6", "bk7","bk8", "bk9", "bk10", "fenix"], default="sin_bucket")

In [257]:
control.head()

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,Capital,TOTALADEUDO,PayOff,...,no_pagos,no_ult_pago,id_contrato_migrado,Bandera,CONTRATO,ESTATUS,OperacionesID,Pagaré,AC - Expedientes,Bucket
0,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,7377.0,VALENCIA HERNANDEZ FERNANDO OSCAR JESUS,21246.3845,NaN,26539.2445,...,24,17.0,NaN,Agencias,NaN,NaN,NaN,RECIBIDO,Recibido,bk9
1,castigos anticipados,2496446,NaN,CIZ,MULTIPLAZA IZCALLI,6270.0,RITO HERNANDEZ CLAUDIA NAYELI,58974.2000,NaN,76130.6400,...,24,10.0,NaN,Agencias,NaN,NaN,NaN,RECIBIDO,Recibido,bk9
2,castigos anticipados,2503123,NaN,ZMP,ZUMPANGO,12902.0,SORIA ARELLANO VIRGINIA MONTSERRAT,72682.7600,NaN,102911.1000,...,36,20.0,NaN,Agencias,NaN,NaN,NaN,RECIBIDO,Recibido,bk7
3,castigos anticipados,2505837,7008784.0,ZMP,ZUMPANGO,12916.0,BONILLA VARGAS MANUEL,43065.1500,0.0,NaN,...,24,17.0,NaN,Ventas,NaN,NaN,NaN,RECIBIDO,Recibido,bk8
4,castigos anticipados,2521992,NaN,NOP,SAN MATEO NOPALA,8091.0,PEREZ LOPEZ EFRAIN,50823.2500,NaN,69928.1300,...,24,13.0,NaN,Agencias,NaN,NaN,NaN,RECIBIDO,Recibido,bk8

In [258]:
print(len(control[control["Pagaré"] == "RECIBIDO"]))

207

Realizamos el cruce con los precios

In [259]:
control = control[control["DIASVENCIDOS"].notna()]

In [260]:
print(len(control))

276

In [261]:
control = control.merge(Precios_AEF, on="Bucket", how="left")

In [262]:
print(len(control[control["Pagaré"] == "RECIBIDO"]))

207

Corregiremos un detalle con los encabezados, mas que nada tenemos un detalle que no nos deja avanzar si los nombres de las columnas tiene espacios

In [263]:
print(control.columns)

Index(['Tipo', 'OPERACIONESID', 'clientesid', 'suc', 'sucursal', 'cta',
       'cliente', 'Capital', 'TOTALADEUDO', 'PayOff', 'bucket', 'DIASVENCIDOS',
       'fecha_disposicion', 'producto', 'tipocredito', 'municipio', 'estado',
       'no_pagos', 'no_ult_pago', 'id_contrato_migrado', 'Bandera', 'CONTRATO',
       'ESTATUS', 'OperacionesID', 'Pagaré', 'AC - Expedientes', 'Bucket',
       'Rango DV inferior', 'Rango DV superior', 'Precio comercial',
       'Precio CON pagare', 'Precio SIN pagare o CON error'],
      dtype='object')

In [264]:
control.columns = control.columns.str.strip().str.replace(" ", "_")  # Limpia espacios

In [265]:
print(control.columns)

Index(['Tipo', 'OPERACIONESID', 'clientesid', 'suc', 'sucursal', 'cta',
       'cliente', 'Capital', 'TOTALADEUDO', 'PayOff', 'bucket', 'DIASVENCIDOS',
       'fecha_disposicion', 'producto', 'tipocredito', 'municipio', 'estado',
       'no_pagos', 'no_ult_pago', 'id_contrato_migrado', 'Bandera', 'CONTRATO',
       'ESTATUS', 'OperacionesID', 'Pagaré', 'AC_-_Expedientes', 'Bucket',
       'Rango_DV_inferior', 'Rango_DV_superior', 'Precio_comercial',
       'Precio_CON_pagare', 'Precio_SIN_pagare_o_CON_error'],
      dtype='object')

In [77]:
#control["Precio_Multiplicador"] = np.where(control["Pagaré"] == "Recibido", control["Precio_CON_pagare"], control["Precio_SIN_pagare_o_CON_error"])

Asignamos al dataframe un nuevo nombre

In [299]:
control_df = control

In [300]:
print(len(control_df[control_df["Pagaré"] == "RECIBIDO"]))

207

Aqui eliminamos las columnas que nos informan de los rangos de los bukets, que estaban ahi despues del cruce con los precios

In [301]:
control_df = control_df.drop(columns=["Rango_DV_inferior","Rango_DV_superior"])
control_df.head()

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,Capital,TOTALADEUDO,PayOff,...,Bandera,CONTRATO,ESTATUS,OperacionesID,Pagaré,AC_-_Expedientes,Bucket,Precio_comercial,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error
0,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,7377.0,VALENCIA HERNANDEZ FERNANDO OSCAR JESUS,21246.3845,NaN,26539.2445,...,Agencias,NaN,NaN,NaN,RECIBIDO,Recibido,bk9,0.07,0.070,0.035
1,castigos anticipados,2496446,NaN,CIZ,MULTIPLAZA IZCALLI,6270.0,RITO HERNANDEZ CLAUDIA NAYELI,58974.2000,NaN,76130.6400,...,Agencias,NaN,NaN,NaN,RECIBIDO,Recibido,bk9,0.07,0.070,0.035
2,castigos anticipados,2503123,NaN,ZMP,ZUMPANGO,12902.0,SORIA ARELLANO VIRGINIA MONTSERRAT,72682.7600,NaN,102911.1000,...,Agencias,NaN,NaN,NaN,RECIBIDO,Recibido,bk7,0.08,0.075,0.038
3,castigos anticipados,2505837,7008784.0,ZMP,ZUMPANGO,12916.0,BONILLA VARGAS MANUEL,43065.1500,0.0,NaN,...,Ventas,NaN,NaN,NaN,RECIBIDO,Recibido,bk8,0.08,0.075,0.038
4,castigos anticipados,2521992,NaN,NOP,SAN MATEO NOPALA,8091.0,PEREZ LOPEZ EFRAIN,50823.2500,NaN,69928.1300,...,Agencias,NaN,NaN,NaN,RECIBIDO,Recibido,bk8,0.08,0.075,0.038

In [302]:
print(control["Pagaré"].unique())

['RECIBIDO' 'NO LOCALIZADO' 'DIGITAL' 'NO RECIBIDO' nan]

Calculamos el vaalor comercial de acuerdo a lo que esta en precios

In [303]:
control["Pagaré"].value_counts(dropna=False)

Pagaré
RECIBIDO         207
NO LOCALIZADO     33
DIGITAL           24
NO RECIBIDO       10
NaN                2
Name: count, dtype: int64

In [304]:
control_df = control_df.rename(columns={"Capital": "CAPINSOLUTO"})

In [305]:
control_df["Valor_Comercial"] = control_df["CAPINSOLUTO"] * control_df["Precio_comercial"]

In [306]:
control_df.head()

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,CAPINSOLUTO,TOTALADEUDO,PayOff,...,CONTRATO,ESTATUS,OperacionesID,Pagaré,AC_-_Expedientes,Bucket,Precio_comercial,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error,Valor_Comercial
0,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,7377.0,VALENCIA HERNANDEZ FERNANDO OSCAR JESUS,21246.3845,NaN,26539.2445,...,NaN,NaN,NaN,RECIBIDO,Recibido,bk9,0.07,0.070,0.035,1487.246915
1,castigos anticipados,2496446,NaN,CIZ,MULTIPLAZA IZCALLI,6270.0,RITO HERNANDEZ CLAUDIA NAYELI,58974.2000,NaN,76130.6400,...,NaN,NaN,NaN,RECIBIDO,Recibido,bk9,0.07,0.070,0.035,4128.194000
2,castigos anticipados,2503123,NaN,ZMP,ZUMPANGO,12902.0,SORIA ARELLANO VIRGINIA MONTSERRAT,72682.7600,NaN,102911.1000,...,NaN,NaN,NaN,RECIBIDO,Recibido,bk7,0.08,0.075,0.038,5814.620800
3,castigos anticipados,2505837,7008784.0,ZMP,ZUMPANGO,12916.0,BONILLA VARGAS MANUEL,43065.1500,0.0,NaN,...,NaN,NaN,NaN,RECIBIDO,Recibido,bk8,0.08,0.075,0.038,3445.212000
4,castigos anticipados,2521992,NaN,NOP,SAN MATEO NOPALA,8091.0,PEREZ LOPEZ EFRAIN,50823.2500,NaN,69928.1300,...,NaN,NaN,NaN,RECIBIDO,Recibido,bk8,0.08,0.075,0.038,4065.860000

Se ajustan los pagares afectados, ya que se van a menor precio, primero lo categorizamos y los identificamos. Todo lo que este fuera de la ciudad de México y este entre enero del 2020 y julio del 2022, esta afectado

In [307]:
control_df["fecha_disposicion"] = pd.to_datetime(control_df["fecha_disposicion"])

# Extraer año y mes
control_df["Año"] = control_df["fecha_disposicion"].dt.year
control_df["Mes"] = control_df["fecha_disposicion"].dt.month

# Definir condición de fecha
condicion_fecha = (
    (control_df["Año"] == 2020) | 
    (control_df["Año"] == 2021) | 
    ((control_df["Año"] == 2022) & (control_df["Mes"] < 8))
)

# Definir condición de sucursal
condicion_sucursal = ~control_df["estado"].isin(["CDMX", "CIUDAD DE MEXICO", "DISTRITO FEDERAL"])

# Asignar el estado de afectación
control_df["Estado"] = np.where(condicion_fecha & condicion_sucursal, "Afectado", "No Afectado")

In [308]:
print(len(control_df[control_df["Pagaré"] == "RECIBIDO"]))

207

In [309]:
print(len(control_df))

276

Calculo del precio, tenemos varios casos, primero que nada los que tienen pagares recibidos y no esten afectados o con pagare digital, para que se multiplique por el precio con pagare, los demas se van con el precio de sin pagare

In [310]:
control_df["Precio_Multiplicador"] = np.where(((control_df["Pagaré"] == "RECIBIDO") & (control_df["Estado"] == "No Afectado")) , control_df["Precio_CON_pagare"], control_df["Precio_SIN_pagare_o_CON_error"])

In [311]:
print(len(control_df[control_df["Pagaré"] == "RECIBIDO"]))

207

Se multiplica  por el Capital Insoluto de la cuenta

In [312]:
control_df["Precio"] = control_df["CAPINSOLUTO"] * control_df["Precio_Multiplicador"]

In [313]:
control_df["fecha_disposicion"] = control_df["fecha_disposicion"].dt.tz_localize(None)  # Elimina la zona horaria
#control_df.to_excel("mi_archivo.xlsx", index=False)  # Exportar sin errores


#control_df.to_excel("prueba.xlsx")

Base sin la subasta

In [314]:
import pandas as pd
import numpy as np

# 📌 Cargar el historial de asignaciones
try:
    municipios_previos = pd.read_excel("municipios_1.0.xlsx")
except FileNotFoundError:
    municipios_previos = pd.DataFrame(columns=["municipio", "M_mayor"])  # En caso de que el archivo no exista

# 📌 Generar la nueva tabla dinámica
municipios = control_df.pivot_table(values="Precio", index="municipio", aggfunc={"Precio": ["count"]})
municipios = municipios.reset_index()
print(len(municipios))

# 📌 Generar aleatoriedad para la nueva asignación
municipios["Solicitud JM"] = np.random.rand(len(municipios))
municipios["Solicitud GB"] = 1 - municipios["Solicitud JM"]

# 📌 Determinar el coordinador asignado en esta versión (sin alternar aún)
municipios["M_mayor"] = np.where(municipios["Solicitud GB"] > municipios["Solicitud JM"], "GB", "JM")

# 🔥 **Alternar la asignación si el municipio ya tiene historial**
for index, row in municipios.iterrows():
    municipio = row["municipio"]
    
    # 📌 Buscar si ya tiene asignación previa
    asignacion_previa = municipios_previos.loc[municipios_previos["municipio"] == municipio, "M_mayor"]
    
    if not asignacion_previa.empty:
        # 📌 Si el municipio ya tenía un coordinador, alternarlo
        nuevo_asignado = "JM" if asignacion_previa.values[0] == "GB" else "GB"
        municipios.at[index, "M_mayor"] = nuevo_asignado

# 📌 Calcular porcentajes y reglas de división (manteniendo la lógica)
municipios["Porcentaje"] = np.where(
    (municipios["Solicitud GB"] > 0) & (municipios["Solicitud JM"] == 0), 
    1,
    np.where(
        (municipios["Solicitud JM"] > 0) & (municipios["Solicitud GB"] == 0),
        1,
        np.where(municipios["M_mayor"] == "GB", 
                 municipios["Solicitud JM"] / municipios["Solicitud GB"],
                 municipios["Solicitud GB"] / municipios["Solicitud JM"])
    )
)

municipios["Regla_Div"] = np.select(
    [
        (municipios["Porcentaje"] >= 0.0) & (municipios["Porcentaje"] <= 0.20),
        (municipios["Porcentaje"] > 0.20) & (municipios["Porcentaje"] <= 0.80),
        (municipios["Porcentaje"] > 0.80) & (municipios["Porcentaje"] < 1),
        (municipios["Porcentaje"] == 1)
    ],
    ["UNA-UNA", "UNA-UNA", "UNA-UNA", "UNA-UNA"],
    default="UNA-UNA"
)

# 💾 Exportar el nuevo DataFrame para que puedas consultar la asignación en futuros cálculos
municipios.to_excel("municipios_2.0.xlsx", index=False)

print("✅ Nueva asignación generada con alternancia! 🚀", len(municipios))

72
✅ Nueva asignación generada con alternancia! 🚀 72

In [315]:
#municipios = pd.read_excel("municipios_1.0.xlsx")

In [316]:
#municipios = control_df.pivot_table(values="Precio",index="municipio",aggfunc={"Precio":["count"]})

In [317]:
#municipios = municipios.reset_index()

In [318]:
#municipios.head()

In [319]:
#import numpy as np

#municipios["Solicitud JM"] = np.random.rand(len(municipios))
#municipios["Solicitud GB"] = 1 - municipios["Solicitud JM"]

In [320]:
print(len(municipios_previos))

0

Cargamos las solicitudes de los Coordinadores

In [321]:
#solicitudes = pd.read_excel("Solicitudes cartera AEF 2025.xlsx",sheet_name="Mayo JM")

#solicitudes = solicitudes.fillna(0)

In [322]:
#solicitudes

Se calcula el porcentaje, para determinar quien solicito mas y por quien se inicia la solicitud

In [323]:
#import numpy as np
#municipios["M_mayor"] = np.where(municipios["Solicitud GB"] > municipios["Solicitud JM"],"GB","JM")

In [324]:
#print(len(control_df[control_df["Pagaré"] == "RECIBIDO"]))

In [325]:
#print(len(control_df))

In [326]:
#municipios.columns

In [327]:
#municipios["Porcentaje"] = np.where((municipios["Solicitud GB"] > 0) & (municipios["Solicitud JM"] == 0), 
 #                                    1,
  #                                   np.where( (municipios["Solicitud JM"] > 0) & (municipios["Solicitud GB"] == 0),
   #                                          1,
    #                                         np.where(municipios["M_mayor"] == "GB", 
     #                                         municipios["Solicitud JM"]/municipios["Solicitud GB"],
      #                                        municipios["Solicitud GB"]/municipios["Solicitud JM"]))
       #                              )

In [328]:
len(municipios)

72

Ajustamos los diferentes casos de acuerdo a los porcentajes de la solicitud

In [329]:
#municipios["Regla_Div"] = np.select([
 #   (municipios["Porcentaje"] >= 0.0) & (municipios["Porcentaje"] <= 0.20),
  #  (municipios["Porcentaje"] > 0.20) & (municipios["Porcentaje"] <= 0.80),
   # (municipios["Porcentaje"] > 0.80) & (municipios["Porcentaje"] < 1),
    #(municipios["Porcentaje"] == 1)
#], ["UNA-UNA", "UNA-UNA", "UNA-UNA", "UNA-UNA"], default="Sin division")

In [330]:
print(municipios["Regla_Div"].unique())

['UNA-UNA']

In [331]:
municipios

,municipio,count,Solicitud JM,Solicitud GB,M_mayor,Porcentaje,Regla_Div
0,ACAPULCO DE JUAREZ,6,0.580718,0.419282,JM,0.722007,UNA-UNA
1,ACTOPAN,1,0.666987,0.333013,JM,0.499280,UNA-UNA
2,ALMOLOYA DE JUAREZ,1,0.022385,0.977615,GB,0.022898,UNA-UNA
3,ALVARO OBREGON,7,0.885891,0.114109,JM,0.128808,UNA-UNA
4,ATENCO,1,0.233838,0.766162,GB,0.305208,UNA-UNA
...,...,...,...,...,...,...,...
67,UMAN,1,0.140508,0.859492,GB,0.163479,UNA-UNA
68,VENUSTIANO CARRANZA,5,0.731190,0.268810,JM,0.367634,UNA-UNA
69,XALATLACO,1,0.389478,0.610522,GB,0.637941,UNA-UNA
70,XOCHIMILCO,3,0.787867,0.212133,JM,0.269249,UNA-UNA
71,ZUMPANGO,2,0.481065,0.518935,GB,0.927022,UNA-UNA

In [332]:
print(len(control_df[control_df["Pagaré"] == "RECIBIDO"]))

207

In [333]:
print(len(control_df))

276

In [334]:
import pandas as pd
import numpy as np

# Diccionarios de patrones
patrones_JM = {
    "UNA-UNA": ["JM", "GB"],
    "DOS-UNA": ["JM", "JM", "GB"],
    "TRES-UNA": ["JM", "JM", "JM", "GB"],
    "Com":["JM"]
}
patrones_GB = {
    "UNA-UNA": ["GB", "JM"],
    "DOS-UNA": ["GB", "GB", "JM"],
    "TRES-UNA": ["GB", "GB", "GB", "JM"],
    "Com":["GB"]
}


# Convertir fechas antes de hacer cálculos
control_df["CAPINSOLUTO"] = pd.to_numeric(control_df["CAPINSOLUTO"], errors="coerce")
control_df = control_df.sort_values(by=["CAPINSOLUTO"])  # Ordenación rápida

#solicitudes = solicitudes.drop_duplicates(subset=["Estado / Municipio"])

In [335]:
print(len(control_df))

276

In [336]:
control_df.head()

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,CAPINSOLUTO,TOTALADEUDO,PayOff,...,Bucket,Precio_comercial,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio
48,Normal,2421620,NaN,TGO,TENANCINGO,5952.0,SALINAS OCAMPO JUAN CARLOS,2002.65,NaN,2002.65,...,fenix,0.06,0.060,0.030,120.1590,2021,2,Afectado,0.030,60.07950
162,Normal,2704174,NaN,NaN,NaN,NaN,NaN,3693.08,3746.96,NaN,...,bk4,0.10,0.090,0.052,369.3080,2023,9,No Afectado,0.090,332.37720
70,Normal,2529699,NaN,OTE,MERIDA PLAZA ORIENTE,15286.0,NAVARRETE SOSA LUIS ROBERTO,6013.96,NaN,6013.96,...,bk8,0.08,0.075,0.038,481.1168,2022,2,Afectado,0.038,228.53048
49,Normal,2425224,NaN,MTP,METEPEC PILARES,15079.0,IGLESIAS VALDES JOSE CONCEPCION,8904.40,NaN,9354.26,...,bk8,0.08,0.075,0.038,712.3520,2021,3,Afectado,0.038,338.36720
129,Normal,2641360,NaN,CÑA,CORUÑA,12931.0,HIDALGO TEMPLOS MAURICIO,9462.14,NaN,9638.05,...,bk5,0.09,0.080,0.040,851.5926,2023,2,No Afectado,0.080,756.97120

In [337]:
print(len(control_df[control_df["Pagaré"] == "RECIBIDO"])) 
print("Filas en control_df antes del merge:", control_df.shape[0])
print("Filas en solicitudes antes del merge:", municipios.shape[0])

207
Filas en control_df antes del merge: 276
Filas en solicitudes antes del merge: 72

Realizamos el Merge del archivo de control con las solicitudes

In [338]:
control.columns

Index(['Tipo', 'OPERACIONESID', 'clientesid', 'suc', 'sucursal', 'cta',
       'cliente', 'Capital', 'TOTALADEUDO', 'PayOff', 'bucket', 'DIASVENCIDOS',
       'fecha_disposicion', 'producto', 'tipocredito', 'municipio', 'estado',
       'no_pagos', 'no_ult_pago', 'id_contrato_migrado', 'Bandera', 'CONTRATO',
       'ESTATUS', 'OperacionesID', 'Pagaré', 'AC_-_Expedientes', 'Bucket',
       'Rango_DV_inferior', 'Rango_DV_superior', 'Precio_comercial',
       'Precio_CON_pagare', 'Precio_SIN_pagare_o_CON_error'],
      dtype='object')

In [339]:
control["OPERACIONESID"] = control["OPERACIONESID"].astype(str).str.strip()
pagares["Contrato"] = pagares["Contrato"].astype(str).str.strip()
# Unir `solicitudes` con `control_df` para aplicar reglas directamente
control_df = control_df.merge(municipios[["municipio", "Regla_Div", "M_mayor"]], 
                              left_on="municipio", 
                              right_on="municipio", 
                              how="left")

In [340]:
print(len(control_df[control_df["Pagaré"] == "RECIBIDO"]))
print("Filas en control_df después del merge:", control_df.shape[0])

207
Filas en control_df después del merge: 276

In [341]:
print(control_df["Pagaré"].unique())

['RECIBIDO' 'DIGITAL' nan 'NO RECIBIDO' 'NO LOCALIZADO']

In [342]:
#print(len(control_df)) 
control.columns

Index(['Tipo', 'OPERACIONESID', 'clientesid', 'suc', 'sucursal', 'cta',
       'cliente', 'Capital', 'TOTALADEUDO', 'PayOff', 'bucket', 'DIASVENCIDOS',
       'fecha_disposicion', 'producto', 'tipocredito', 'municipio', 'estado',
       'no_pagos', 'no_ult_pago', 'id_contrato_migrado', 'Bandera', 'CONTRATO',
       'ESTATUS', 'OperacionesID', 'Pagaré', 'AC_-_Expedientes', 'Bucket',
       'Rango_DV_inferior', 'Rango_DV_superior', 'Precio_comercial',
       'Precio_CON_pagare', 'Precio_SIN_pagare_o_CON_error'],
      dtype='object')

Utilizamos primero solo los afectados

In [343]:
control_df_digital = control_df[control_df["Pagaré"] == "DIGITAL"].copy()

In [344]:
control_df = control_df[control_df["Pagaré"] != "DIGITAL"].copy()

In [345]:
print(len(control_df_digital), len(control_df))

24 252

In [346]:
## Solo separamos los casos en los que tenemos pagares
control_df_afectados = control_df[control_df["Estado"] == "Afectado"].copy()

In [347]:
len(control_df_afectados)

69

In [135]:

# Asignar el patrón de alternancia basado en `Regla_Div` y `M_mayor`

control_df_afectados["patron"] = np.where(
    control_df_afectados["M_mayor"] == "JM",
    control_df_afectados["Regla_Div"].map(patrones_JM),  # Extrae el primer valor de la lista
    control_df_afectados["Regla_Div"].map(patrones_GB)   # Extrae el primer valor de la lista
)


# Aplicar los valores de alternancia de manera eficiente
control_df_afectados["Asignacion"] = control_df_afectados.groupby("municipio")["patron"].transform(
    lambda x: np.tile(x.dropna().values[0], len(x))[:len(x)] if x.dropna().values.size > 0 else ""
)

In [136]:
print(len(control_df_afectados))

67

In [348]:
control_df_afectados.head()

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,CAPINSOLUTO,TOTALADEUDO,PayOff,...,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor
0,Normal,2421620,NaN,TGO,TENANCINGO,5952.0,SALINAS OCAMPO JUAN CARLOS,2002.6500,NaN,2002.6500,...,0.060,0.030,120.159000,2021,2,Afectado,0.030,60.079500,UNA-UNA,GB
2,Normal,2529699,NaN,OTE,MERIDA PLAZA ORIENTE,15286.0,NAVARRETE SOSA LUIS ROBERTO,6013.9600,NaN,6013.9600,...,0.075,0.038,481.116800,2022,2,Afectado,0.038,228.530480,UNA-UNA,JM
3,Normal,2425224,NaN,MTP,METEPEC PILARES,15079.0,IGLESIAS VALDES JOSE CONCEPCION,8904.4000,NaN,9354.2600,...,0.075,0.038,712.352000,2021,3,Afectado,0.038,338.367200,UNA-UNA,JM
13,Normal,2481390,7599172.0,RY2,LOS REYES 2,16114.0,CAMACHO LUNA VERONICA,20663.1000,0.0,NaN,...,0.075,0.038,1653.048000,2021,9,Afectado,0.038,785.197800,UNA-UNA,JM
14,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,7377.0,VALENCIA HERNANDEZ FERNANDO OSCAR JESUS,21246.3845,NaN,26539.2445,...,0.070,0.035,1487.246915,2021,6,Afectado,0.035,743.623458,UNA-UNA,JM

In [349]:
control_df = control_df[control_df["Estado"] != "Afectado"].copy()

In [350]:
print("Tenemos ahora solo", len(control_df), "cuentas, originalmente: ", len(control),"donde las afectadas son: ", len(control_df_afectados) )

Tenemos ahora solo 183 cuentas, originalmente:  276 donde las afectadas son:  69

Utilizaremos ahora los que tienen pagares como recibido

In [351]:
## Solo separamos los casos en los que tenemos pagares
control_df_recibido = control_df[(control_df["Pagaré"] == "RECIBIDO")].copy()

In [352]:
print("Tenemos un total de:", len(control_df_recibido),"cuentas con pagare recibido")

Tenemos un total de: 163 cuentas con pagare recibido

In [353]:
# Asignar el patrón de alternancia basado en `Regla_Div` y `M_mayor`

control_df_recibido["patron"] = np.where(
    control_df_recibido["M_mayor"] == "JM",
    control_df_recibido["Regla_Div"].map(patrones_JM),  # Extrae el primer valor de la lista
    control_df_recibido["Regla_Div"].map(patrones_GB)   # Extrae el primer valor de la lista
)

# Aplicar los valores de alternancia de manera eficiente
control_df_recibido["Asignacion"] = control_df_recibido.groupby("municipio")["patron"].transform(
    lambda x: np.tile(x.dropna().values[0], len(x))[:len(x)] if x.dropna().values.size > 0 else ""
)

In [354]:
control_df_recibido.head(2)

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,CAPINSOLUTO,TOTALADEUDO,PayOff,...,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor,patron,Asignacion
1,Normal,2704174,NaN,NaN,NaN,NaN,NaN,3693.08,3746.96,NaN,...,369.3080,2023,9,No Afectado,0.09,332.3772,NaN,NaN,NaN,NaN
4,Normal,2641360,NaN,CÑA,CORUÑA,12931.0,HIDALGO TEMPLOS MAURICIO,9462.14,NaN,9638.05,...,851.5926,2023,2,No Afectado,0.08,756.9712,UNA-UNA,JM,"[JM, GB]",JM

In [144]:
#control_df_digital = control_df[control_df["Pagaré"] == "DIGITAL"].copy()

In [145]:
#print(len(control_df_digital))

In [146]:
# Asignar el patrón de alternancia basado en `Regla_Div` y `M_mayor`

#control_df_digital["patron"] = np.where(
 #   control_df_digital["M_mayor"] == "JM",
  #  control_df_digital["Regla_Div"].map(patrones_JM),  # Extrae el primer valor de la lista
   # control_df_digital["Regla_Div"].map(patrones_GB)   # Extrae el primer valor de la lista
#)


# Aplicar los valores de alternancia de manera eficiente
#control_df_digital["Asignacion"] = control_df_digital.groupby("municipio")["patron"].transform(
 #   lambda x: np.tile(x.dropna().values[0], len(x))[:len(x)] if x.dropna().values.size > 0 else ""
#)

In [147]:
#control_df_digital.head()

In [355]:
control_df["Pagaré"].unique()

array(['RECIBIDO', nan, 'NO RECIBIDO', 'NO LOCALIZADO'], dtype=object)

In [356]:
control_df_sin_pagare = control_df[(control_df["Pagaré"] == "NO LOCALIZADO") | (control_df["Pagaré"] == "NO RECIBIDO")].copy()

In [357]:
print("Tenemos",len(control_df_sin_pagare),"cuentas sin pagare")

Tenemos 18 cuentas sin pagare

In [358]:
# Asignar el patrón de alternancia basado en `Regla_Div` y `M_mayor`

control_df_sin_pagare["patron"] = np.where(
    control_df_sin_pagare["M_mayor"] == "JM",
    control_df_sin_pagare["Regla_Div"].map(patrones_JM),  # Extrae el primer valor de la lista
    control_df_sin_pagare["Regla_Div"].map(patrones_GB)   # Extrae el primer valor de la lista
)


# Aplicar los valores de alternancia de manera eficiente
control_df_sin_pagare["Asignacion"] = control_df_sin_pagare.groupby("municipio")["patron"].transform(
    lambda x: np.tile(x.dropna().values[0], len(x))[:len(x)] if x.dropna().values.size > 0 else ""
)

In [359]:
len(control_df_sin_pagare[control_df_sin_pagare["Asignacion"].isna() == True])

0

In [360]:
print("Con esto podemos determinar que existen", len(control_df_recibido),"cuentas recibidas,",len(control_df_afectados), "cuentas afectadas,",len(control_df_digital),"con pagare digital y", len(control_df_sin_pagare), "cuentas sin pagare")

Con esto podemos determinar que existen 163 cuentas recibidas, 69 cuentas afectadas, 24 con pagare digital y 18 cuentas sin pagare

In [361]:
print(len(control_df[control_df["Pagaré"].isna()]))

2

Con esto terminamos la division de la cartera, separamos los dataframes, pero ahora los vamos a combinar para la exportación

In [362]:
control_final = pd.concat([control_df_afectados, control_df_digital, control_df_recibido, control_df_sin_pagare], ignore_index=True)

In [363]:
control_final

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,CAPINSOLUTO,TOTALADEUDO,PayOff,...,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor,patron,Asignacion
0,Normal,2421620,NaN,TGO,TENANCINGO,5952.0,SALINAS OCAMPO JUAN CARLOS,2002.6500,NaN,2002.6500,...,120.159000,2021,2,Afectado,0.030,60.079500,UNA-UNA,GB,NaN,NaN
1,Normal,2529699,NaN,OTE,MERIDA PLAZA ORIENTE,15286.0,NAVARRETE SOSA LUIS ROBERTO,6013.9600,NaN,6013.9600,...,481.116800,2022,2,Afectado,0.038,228.530480,UNA-UNA,JM,NaN,NaN
2,Normal,2425224,NaN,MTP,METEPEC PILARES,15079.0,IGLESIAS VALDES JOSE CONCEPCION,8904.4000,NaN,9354.2600,...,712.352000,2021,3,Afectado,0.038,338.367200,UNA-UNA,JM,NaN,NaN
3,Normal,2481390,7599172.0,RY2,LOS REYES 2,16114.0,CAMACHO LUNA VERONICA,20663.1000,0.0,NaN,...,1653.048000,2021,9,Afectado,0.038,785.197800,UNA-UNA,JM,NaN,NaN
4,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,7377.0,VALENCIA HERNANDEZ FERNANDO OSCAR JESUS,21246.3845,NaN,26539.2445,...,1487.246915,2021,6,Afectado,0.035,743.623458,UNA-UNA,JM,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,Normal,2564228,NaN,AZC,AZCAPOTZALCO,4221.0,LUNA GONZALEZ ALEXA,116720.3800,NaN,150624.3300,...,8170.426600,2022,6,No Afectado,0.035,4085.213300,UNA-UNA,JM,"[JM, GB]",JM
270,castigos anticipados,2528952,NaN,RY2,LOS REYES 2,16431.0,MARIN RODRIGUEZ GUADALUPE,124299.8304,NaN,159433.1904,...,8700.988128,2022,2,No Afectado,0.035,4350.494064,UNA-UNA,JM,"[JM, GB]",JM
271,Normal,2549184,NaN,AGR,AGRICOLA ORIENTAL,15149.0,CAMPERO HERRERA OSCAR,124745.5300,NaN,161796.8500,...,9979.642400,2022,4,No Afectado,0.038,4740.330140,UNA-UNA,GB,"[GB, JM]",GB
272,Normal,2384066,7064360.0,SPM,SAN PEDRO MARTIR,4540.0,NUÃ‘EZ ALONSO ALFREDO,345734.6700,0.0,NaN,...,20744.080200,2020,9,No Afectado,0.030,10372.040100,UNA-UNA,GB,"[GB, JM]",JM
273,Normal,2615594,NaN,MOL,MOLINITO,16104.0,ROMERO AMAYA EDGAR ISRAEL,360562.1400,NaN,490530.0700,...,28844.971200,2022,11,No Afectado,0.038,13701.361320,UNA-UNA,GB,"[GB, JM]",JM

Reordenaremos las columnas:

In [364]:
columna_inicio = "Asignacion"  # Columna que quieres mover
otras_columnas = [col for col in control_final.columns if col != columna_inicio]  # Mantiene las demás
control_final = control_final[[columna_inicio] + otras_columnas]  # Reordena el DataFrame

In [365]:
control_final = control_final.rename(columns={"Asignacion": "Acuerdos"})

In [366]:
control_final

,Acuerdos,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,CAPINSOLUTO,TOTALADEUDO,...,Precio_SIN_pagare_o_CON_error,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor,patron
0,NaN,Normal,2421620,NaN,TGO,TENANCINGO,5952.0,SALINAS OCAMPO JUAN CARLOS,2002.6500,NaN,...,0.030,120.159000,2021,2,Afectado,0.030,60.079500,UNA-UNA,GB,NaN
1,NaN,Normal,2529699,NaN,OTE,MERIDA PLAZA ORIENTE,15286.0,NAVARRETE SOSA LUIS ROBERTO,6013.9600,NaN,...,0.038,481.116800,2022,2,Afectado,0.038,228.530480,UNA-UNA,JM,NaN
2,NaN,Normal,2425224,NaN,MTP,METEPEC PILARES,15079.0,IGLESIAS VALDES JOSE CONCEPCION,8904.4000,NaN,...,0.038,712.352000,2021,3,Afectado,0.038,338.367200,UNA-UNA,JM,NaN
3,NaN,Normal,2481390,7599172.0,RY2,LOS REYES 2,16114.0,CAMACHO LUNA VERONICA,20663.1000,0.0,...,0.038,1653.048000,2021,9,Afectado,0.038,785.197800,UNA-UNA,JM,NaN
4,NaN,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,7377.0,VALENCIA HERNANDEZ FERNANDO OSCAR JESUS,21246.3845,NaN,...,0.035,1487.246915,2021,6,Afectado,0.035,743.623458,UNA-UNA,JM,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,JM,Normal,2564228,NaN,AZC,AZCAPOTZALCO,4221.0,LUNA GONZALEZ ALEXA,116720.3800,NaN,...,0.035,8170.426600,2022,6,No Afectado,0.035,4085.213300,UNA-UNA,JM,"[JM, GB]"
270,JM,castigos anticipados,2528952,NaN,RY2,LOS REYES 2,16431.0,MARIN RODRIGUEZ GUADALUPE,124299.8304,NaN,...,0.035,8700.988128,2022,2,No Afectado,0.035,4350.494064,UNA-UNA,JM,"[JM, GB]"
271,GB,Normal,2549184,NaN,AGR,AGRICOLA ORIENTAL,15149.0,CAMPERO HERRERA OSCAR,124745.5300,NaN,...,0.038,9979.642400,2022,4,No Afectado,0.038,4740.330140,UNA-UNA,GB,"[GB, JM]"
272,JM,Normal,2384066,7064360.0,SPM,SAN PEDRO MARTIR,4540.0,NUÃ‘EZ ALONSO ALFREDO,345734.6700,0.0,...,0.030,20744.080200,2020,9,No Afectado,0.030,10372.040100,UNA-UNA,GB,"[GB, JM]"
273,JM,Normal,2615594,NaN,MOL,MOLINITO,16104.0,ROMERO AMAYA EDGAR ISRAEL,360562.1400,NaN,...,0.038,28844.971200,2022,11,No Afectado,0.038,13701.361320,UNA-UNA,GB,"[GB, JM]"

In [367]:
print(control_final.columns)

Index(['Acuerdos', 'Tipo', 'OPERACIONESID', 'clientesid', 'suc', 'sucursal',
       'cta', 'cliente', 'CAPINSOLUTO', 'TOTALADEUDO', 'PayOff', 'bucket',
       'DIASVENCIDOS', 'fecha_disposicion', 'producto', 'tipocredito',
       'municipio', 'estado', 'no_pagos', 'no_ult_pago', 'id_contrato_migrado',
       'Bandera', 'CONTRATO', 'ESTATUS', 'OperacionesID', 'Pagaré',
       'AC_-_Expedientes', 'Bucket', 'Precio_comercial', 'Precio_CON_pagare',
       'Precio_SIN_pagare_o_CON_error', 'Valor_Comercial', 'Año', 'Mes',
       'Estado', 'Precio_Multiplicador', 'Precio', 'Regla_Div', 'M_mayor',
       'patron'],
      dtype='object')

In [368]:
##Columnas de interes
##"Acuerdos", "operacionesid", "CLIENTESID",  "CAPINSOLUTO", "DIASVENCIDOS", "DV_ACTUALES",  "Precio_Multiplicador" ,  "Precio",  "TOTALADEUDO",  "INTERESORD", "suc", "sucursal", "colonia", "estado", "municipio", "cp", "Año", "Mes", "Pagaré

In [369]:
control_final_exp = control_final   ###[["Acuerdos", "operacionesid", "CLIENTESID",  "CAPINSOLUTO", "DIASVENCIDOS", "DV_ACTUALES", "Precio_comercial","Valor_Comercial", "Precio_Multiplicador",  "Precio", "Estado", "Pagaré", "TOTALADEUDO",  "INTERESORD", "suc", "sucursal", "colonia", "estado", "municipio", "cp", "Año", "Mes"]]

In [370]:
control_final_exp["Acuerdos"].isna()

0       True
1       True
2       True
3       True
4       True
       ...
269    False
270    False
271    False
272    False
273    False
Name: Acuerdos, Length: 274, dtype: bool

In [371]:
#control_final_exp.to_excel("Junio_1.0.xlsx")

In [372]:
#municipios.to_excel("municipios_2.0.xlsx")

In [373]:
control_df[control_df["Pagaré"].isna()]

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,CAPINSOLUTO,TOTALADEUDO,PayOff,...,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor
12,Normal,2677246,NaN,NaN,NaN,NaN,NaN,17865.38,28001.80,NaN,...,0.09,0.052,1786.538,2023,6,No Afectado,0.052,928.99976,NaN,NaN
61,Normal,2833948,NaN,NaN,NaN,NaN,NaN,42452.61,61342.01,NaN,...,0.09,0.052,4245.261,2025,2,No Afectado,0.052,2207.53572,NaN,NaN

In [374]:
control_sin_div = control_df[control_df["Pagaré"].isna()]

In [375]:
control_sin_div["Acuerdos"] = ""

C:\Users\apaloalto\AppData\Local\Temp\ipykernel_19628\2101146474.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  control_sin_div["Acuerdos"] = ""

In [376]:
control_sin_div

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,CAPINSOLUTO,TOTALADEUDO,PayOff,...,Precio_SIN_pagare_o_CON_error,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor,Acuerdos
12,Normal,2677246,NaN,NaN,NaN,NaN,NaN,17865.38,28001.80,NaN,...,0.052,1786.538,2023,6,No Afectado,0.052,928.99976,NaN,NaN,
61,Normal,2833948,NaN,NaN,NaN,NaN,NaN,42452.61,61342.01,NaN,...,0.052,4245.261,2025,2,No Afectado,0.052,2207.53572,NaN,NaN,

In [377]:
control_final2 = pd.concat([control_df_afectados, control_df_recibido, control_df_sin_pagare], ignore_index=True)

In [378]:
control_final2

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,CAPINSOLUTO,TOTALADEUDO,PayOff,...,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor,patron,Asignacion
0,Normal,2421620,NaN,TGO,TENANCINGO,5952.0,SALINAS OCAMPO JUAN CARLOS,2002.6500,NaN,2002.6500,...,120.159000,2021,2,Afectado,0.030,60.079500,UNA-UNA,GB,NaN,NaN
1,Normal,2529699,NaN,OTE,MERIDA PLAZA ORIENTE,15286.0,NAVARRETE SOSA LUIS ROBERTO,6013.9600,NaN,6013.9600,...,481.116800,2022,2,Afectado,0.038,228.530480,UNA-UNA,JM,NaN,NaN
2,Normal,2425224,NaN,MTP,METEPEC PILARES,15079.0,IGLESIAS VALDES JOSE CONCEPCION,8904.4000,NaN,9354.2600,...,712.352000,2021,3,Afectado,0.038,338.367200,UNA-UNA,JM,NaN,NaN
3,Normal,2481390,7599172.0,RY2,LOS REYES 2,16114.0,CAMACHO LUNA VERONICA,20663.1000,0.0,NaN,...,1653.048000,2021,9,Afectado,0.038,785.197800,UNA-UNA,JM,NaN,NaN
4,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,7377.0,VALENCIA HERNANDEZ FERNANDO OSCAR JESUS,21246.3845,NaN,26539.2445,...,1487.246915,2021,6,Afectado,0.035,743.623458,UNA-UNA,JM,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Normal,2564228,NaN,AZC,AZCAPOTZALCO,4221.0,LUNA GONZALEZ ALEXA,116720.3800,NaN,150624.3300,...,8170.426600,2022,6,No Afectado,0.035,4085.213300,UNA-UNA,JM,"[JM, GB]",JM
246,castigos anticipados,2528952,NaN,RY2,LOS REYES 2,16431.0,MARIN RODRIGUEZ GUADALUPE,124299.8304,NaN,159433.1904,...,8700.988128,2022,2,No Afectado,0.035,4350.494064,UNA-UNA,JM,"[JM, GB]",JM
247,Normal,2549184,NaN,AGR,AGRICOLA ORIENTAL,15149.0,CAMPERO HERRERA OSCAR,124745.5300,NaN,161796.8500,...,9979.642400,2022,4,No Afectado,0.038,4740.330140,UNA-UNA,GB,"[GB, JM]",GB
248,Normal,2384066,7064360.0,SPM,SAN PEDRO MARTIR,4540.0,NUÃ‘EZ ALONSO ALFREDO,345734.6700,0.0,NaN,...,20744.080200,2020,9,No Afectado,0.030,10372.040100,UNA-UNA,GB,"[GB, JM]",JM
249,Normal,2615594,NaN,MOL,MOLINITO,16104.0,ROMERO AMAYA EDGAR ISRAEL,360562.1400,NaN,490530.0700,...,28844.971200,2022,11,No Afectado,0.038,13701.361320,UNA-UNA,GB,"[GB, JM]",JM

In [379]:
control_final_exp2 = control_final2[["Tipo", "OPERACIONESID", "clientesid", "suc",	"sucursal",	"CAPINSOLUTO",
                                            "TOTALADEUDO",	"PayOff",		
                                            "DIASVENCIDOS",	"Valor_Comercial",	"Precio_comercial",	"Precio_Multiplicador",	"Precio",
                                            "fecha_disposicion","producto",	"tipocredito",	"municipio",	"estado",	"Año",
                                            "Mes", "Pagaré",	"AC_-_Expedientes", "Estado","id_contrato_migrado"]]

In [380]:
control_final_exp2

,Tipo,OPERACIONESID,clientesid,suc,sucursal,CAPINSOLUTO,TOTALADEUDO,PayOff,DIASVENCIDOS,Valor_Comercial,...,producto,tipocredito,municipio,estado,Año,Mes,Pagaré,AC_-_Expedientes,Estado,id_contrato_migrado
0,Normal,2421620,NaN,TGO,TENANCINGO,2002.6500,NaN,2002.6500,1441,120.159000,...,PYME12REG.57%,RENOVA,TENANCINGO,MEXICO,2021,2,RECIBIDO,Recibido,Afectado,NaN
1,Normal,2529699,NaN,OTE,MERIDA PLAZA ORIENTE,6013.9600,NaN,6013.9600,1075,481.116800,...,PYME12 REG.FCO80%,NUEVO,MERIDA,YUCATAN,2022,2,RECIBIDO,Recibido,Afectado,NaN
2,Normal,2425224,NaN,MTP,METEPEC PILARES,8904.4000,NaN,9354.2600,1055,712.352000,...,PYME24REG.57%,NUEVO,TEMOAYA,MEXICO,2021,3,RECIBIDO,Recibido,Afectado,NaN
3,Normal,2481390,7599172.0,RY2,LOS REYES 2,20663.1000,0.0,NaN,995,1653.048000,...,PYME24REG.57%,NUEVO,CHIMALHUACAN,MEXICO,2021,9,RECIBIDO,Recibido,Afectado,NaN
4,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,21246.3845,NaN,26539.2445,1147,1487.246915,...,PYME24REG.57%,NUEVO,NAUCALPAN DE JUAREZ,MEXICO,2021,6,RECIBIDO,Recibido,Afectado,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Normal,2564228,NaN,AZC,AZCAPOTZALCO,116720.3800,NaN,150624.3300,1207,8170.426600,...,PYME18PREF53%,RENOVA,VENUSTIANO CARRANZA,CIUDAD DE MEXICO,2022,6,NO LOCALIZADO,Recibido,No Afectado,NaN
246,castigos anticipados,2528952,NaN,RY2,LOS REYES 2,124299.8304,NaN,159433.1904,1197,8700.988128,...,PYME24PREF53%,RENOVA,IZTAPALAPA,CIUDAD DE MEXICO,2022,2,NO LOCALIZADO,No recibido,No Afectado,NaN
247,Normal,2549184,NaN,AGR,AGRICOLA ORIENTAL,124745.5300,NaN,161796.8500,1076,9979.642400,...,PYME24PREF53%,FORMER,IZTACALCO,CIUDAD DE MEXICO,2022,4,NO LOCALIZADO,Recibido,No Afectado,NaN
248,Normal,2384066,7064360.0,SPM,SAN PEDRO MARTIR,345734.6700,0.0,NaN,1895,20744.080200,...,PYME24REG.57%,NUEVO,IZTACALCO,CIUDAD DE MEXICO,2020,9,NO LOCALIZADO,No recibido,No Afectado,NaN
249,Normal,2615594,NaN,MOL,MOLINITO,360562.1400,NaN,490530.0700,1027,28844.971200,...,PYME18REG57%,RENOVA,MIGUEL HIDALGO,CIUDAD DE MEXICO,2022,11,NO LOCALIZADO,Recibido,No Afectado,NaN

In [381]:
control_sin_div = control_sin_div.rename(columns={"Asignacion": "Acuerdos"})

In [382]:
control_sin_div

,Tipo,OPERACIONESID,clientesid,suc,sucursal,cta,cliente,CAPINSOLUTO,TOTALADEUDO,PayOff,...,Precio_SIN_pagare_o_CON_error,Valor_Comercial,Año,Mes,Estado,Precio_Multiplicador,Precio,Regla_Div,M_mayor,Acuerdos
12,Normal,2677246,NaN,NaN,NaN,NaN,NaN,17865.38,28001.80,NaN,...,0.052,1786.538,2023,6,No Afectado,0.052,928.99976,NaN,NaN,
61,Normal,2833948,NaN,NaN,NaN,NaN,NaN,42452.61,61342.01,NaN,...,0.052,4245.261,2025,2,No Afectado,0.052,2207.53572,NaN,NaN,

In [383]:
control_sin_div_fin = control_sin_div[["Tipo", "OPERACIONESID", "clientesid", "suc",	"sucursal",	"CAPINSOLUTO",
                                            "TOTALADEUDO",	"PayOff",		
                                            "DIASVENCIDOS",	"Valor_Comercial",	"Precio_comercial",	"Precio_Multiplicador",	"Precio",
                                            "fecha_disposicion","producto",	"tipocredito",	"municipio",	"estado",	"Año",
                                            "Mes", "Pagaré",	"AC_-_Expedientes", "Estado","id_contrato_migrado"]]

In [384]:
control_sin_div_fin

,Tipo,OPERACIONESID,clientesid,suc,sucursal,CAPINSOLUTO,TOTALADEUDO,PayOff,DIASVENCIDOS,Valor_Comercial,...,producto,tipocredito,municipio,estado,Año,Mes,Pagaré,AC_-_Expedientes,Estado,id_contrato_migrado
12,Normal,2677246,NaN,NaN,NaN,17865.38,28001.80,NaN,194,1786.538,...,PYME24 REG.FCO80%,NaN,NaN,NaN,2023,6,NaN,NaN,No Afectado,1.000498e+09
61,Normal,2833948,NaN,NaN,NaN,42452.61,61342.01,NaN,204,4245.261,...,PYME REG.FCO2 12M63%,NaN,NaN,NaN,2025,2,NaN,NaN,No Afectado,1.000534e+09

In [385]:
control_final_exp2.head()

,Tipo,OPERACIONESID,clientesid,suc,sucursal,CAPINSOLUTO,TOTALADEUDO,PayOff,DIASVENCIDOS,Valor_Comercial,...,producto,tipocredito,municipio,estado,Año,Mes,Pagaré,AC_-_Expedientes,Estado,id_contrato_migrado
0,Normal,2421620,NaN,TGO,TENANCINGO,2002.6500,NaN,2002.6500,1441,120.159000,...,PYME12REG.57%,RENOVA,TENANCINGO,MEXICO,2021,2,RECIBIDO,Recibido,Afectado,NaN
1,Normal,2529699,NaN,OTE,MERIDA PLAZA ORIENTE,6013.9600,NaN,6013.9600,1075,481.116800,...,PYME12 REG.FCO80%,NUEVO,MERIDA,YUCATAN,2022,2,RECIBIDO,Recibido,Afectado,NaN
2,Normal,2425224,NaN,MTP,METEPEC PILARES,8904.4000,NaN,9354.2600,1055,712.352000,...,PYME24REG.57%,NUEVO,TEMOAYA,MEXICO,2021,3,RECIBIDO,Recibido,Afectado,NaN
3,Normal,2481390,7599172.0,RY2,LOS REYES 2,20663.1000,0.0,NaN,995,1653.048000,...,PYME24REG.57%,NUEVO,CHIMALHUACAN,MEXICO,2021,9,RECIBIDO,Recibido,Afectado,NaN
4,castigos anticipados,2451197,NaN,ALP,ALAMEDAS PALACIO,21246.3845,NaN,26539.2445,1147,1487.246915,...,PYME24REG.57%,NUEVO,NAUCALPAN DE JUAREZ,MEXICO,2021,6,RECIBIDO,Recibido,Afectado,NaN

In [386]:
control_df_digital =  control_df_digital[["Tipo", "OPERACIONESID", "clientesid", "suc",	"sucursal",	"CAPINSOLUTO",
                                            "TOTALADEUDO",	"PayOff",		
                                            "DIASVENCIDOS",	"Valor_Comercial",	"Precio_comercial",	"Precio_Multiplicador",	"Precio",
                                            "fecha_disposicion","producto",	"tipocredito",	"municipio",	"estado",	"Año",
                                            "Mes", "Pagaré",	"AC_-_Expedientes", "Estado","id_contrato_migrado"]]

In [387]:
exportacion = pd.concat([control_final_exp2, control_sin_div_fin,control_df_digital], ignore_index=True)

In [388]:
control_df_digital["Asignacion"] = ""

In [390]:
len(exportacion)

276

In [391]:
control_df_digital.columns

Index(['Tipo', 'OPERACIONESID', 'clientesid', 'suc', 'sucursal', 'CAPINSOLUTO',
       'TOTALADEUDO', 'PayOff', 'DIASVENCIDOS', 'Valor_Comercial',
       'Precio_comercial', 'Precio_Multiplicador', 'Precio',
       'fecha_disposicion', 'producto', 'tipocredito', 'municipio', 'estado',
       'Año', 'Mes', 'Pagaré', 'AC_-_Expedientes', 'Estado',
       'id_contrato_migrado', 'Asignacion'],
      dtype='object')

In [393]:
import pandas as pd

# Ruta del archivo de Excel
ruta_excel = "./2026/PYME/202601/Ventas_PyME_AEF_20261.xlsx"

# Guardar ambos DataFrames en distintas hojas
with pd.ExcelWriter(ruta_excel, engine="openpyxl") as writer:
    exportacion.to_excel(writer, sheet_name="Base_Ventas", index=False)  # Primera hoja
    #control_df_digital.to_excel(writer, sheet_name="Digitales", index=False)  # Segunda hoja

In [185]:
print(len(exportacion),len(control_df_digital))

232 18

In [186]:
#control_vendido.to_excel("Vendido.xlsx")