## Programa de Division de Cartera FISA
En este notebook cargaremos los archivos de la Division y se realizara la exportacion del archivo para una ejecucion mas rapida y sin necesidad de estar pasandolo por Excel

Comenzaremos con la carga del archivo, cargaremos el archivo de `Control y Venta` del mes en curso, para un ejemplo inicial, cargaremos el de Abril, que actualmente es a mes vencido.

In [192]:
import pandas as pd

In [193]:
control = pd.read_excel("./FISA/2026/202601/venta_05012026.xlsx")

In [194]:
print(len(control))

169804

In [195]:
control.columns = control.columns.str.upper()

In [196]:
liquidaciones = pd.read_excel("./FISA/2026/202601/Créditos pendientes de liquidación FISA.xlsx")

In [197]:
liquidaciones.head(2)

    Crédito          Mes de pago  Estatus
0  75131301  1905-07-16 00:00:00      NaN
1  79101468  1908-03-18 00:00:00      NaN

In [198]:
liquidaciones = liquidaciones.drop_duplicates(subset=["Crédito"])

In [199]:
#control = control.rename(columns={'Cuenta':'CUENTA'})

In [200]:
control = control.merge(liquidaciones["Crédito"],how="left",left_on="CUENTA",right_on="Crédito")

In [201]:
control = control[control["Crédito"].isna()]

In [202]:
control  = control.drop(columns=["Crédito"])

In [203]:
control.head()

,CUENTA,SUCURSAL,NUM CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA PROD,PLAZO,FRECUENCIA DE PAGO,NUM ASIGANCION COBRANZA,FECHA ASIGNACIÓN,...,TEL EMPLEO,TEL RECADOS,TEL CEL,MUNICIPIO,COLONIA,CP,MUNICIPIO EMP,COLONIA EMP,CP EMPLEO,NOMBRE EMPRESA
0,75716097,323,720864165,TRADICIONAL,FORMAL,TRADICIONAL,48,15,20,00/00/0000,...,,6461200048,6461351150,ENSENADA,LIBERTAD,22842,ENSENADA,ENSENADA CENTRO,22800,ULTRAPURA DEL AGUAJITO
1,78179830,323,726005827,TRADICIONAL,FORMAL,TRADICIONAL,48,15,5,00/00/0000,...,6461788801,,6461257026,ENSENADA,PORTICOS DEL MAR 1 2 Y 3,22785,ENSENADA,ENSENADA CENTRO,22800,BAJA CORP
2,77115563,323,722105949,TRADICIONAL,FORMAL,TRADICIONAL,48,15,8,00/00/0000,...,,6461768257,6461321505,ENSENADA,VILLAS RESIDENCIAL DEL REAL IV,22785,ENSENADA,VISTA HERMOSA,22785,GST ASCI
3,73024025,323,720899660,CREDINMEDIATO,FORMAL,CREDINMEDIATO,44,15,134,00/00/0000,...,6461772833,,6462614475,ENSENADA,VILLAS DEL ROBLE,22842,ENSENADA,VALLE DEL SOL,22813,MELANG
4,77222746,323,724485997,,INFORMAL,,17,7,17,00/00/0000,...,,,6461903863,ENSENADA,COSTA BELLA,22898,ENSENADA,COSTA BELLA,22898,SIN NOMBRE

In [204]:
pagares = pd.read_excel("Pagares.xlsx", sheet_name="Pagares FISA")

In [205]:
print(len(control),len(pagares))

169804 306491

In [206]:
Sucursales = pd.read_excel("Pagares.xlsx", sheet_name="Sucursales")

In [207]:
len(pagares)

306491

In [208]:
pagares = pagares.drop_duplicates(subset=["contrato"])

In [209]:
len(pagares)

305208

In [210]:
control = control.rename(columns={"CUENTA": "Cuenta"})

In [211]:
control = control.drop_duplicates(subset=["Cuenta"])

In [212]:
len(control)

169804

In [213]:
print(control["Cuenta"].value_counts())

Cuenta
78048428    1
75716097    1
78179830    1
77115563    1
73024025    1
           ..
77929737    1
77877903    1
77837540    1
77943517    1
78097473    1
Name: count, Length: 169804, dtype: int64

In [214]:
print(len(control),len(pagares))

169804 305208

In [215]:
control = control.merge(pagares[["contrato", "Pagaré"]], left_on="Cuenta",right_on="contrato", how="left")

In [216]:
print(len(control))

169804

In [217]:
control["Pagaré"] = control["Pagaré"].str.upper()

In [218]:
valores_unicos = control["Pagaré"].unique()
print(valores_unicos)

['RECIBIDO' 'DIGITAL' 'NO RECIBIDO']

In [219]:
print(len(control[control["Pagaré"].isna()]))

0

In [220]:
control[control["Pagaré"].isna()]

Empty DataFrame
Columns: [Cuenta, SUCURSAL, NUM CLIENTE, PRODUCTO, SEGMENTO, CATEGORIA PROD, PLAZO, FRECUENCIA DE PAGO, NUM ASIGANCION COBRANZA, FECHA ASIGNACIÓN, PAGO VENCIDO, # PAGOS VENCIDOS, RETRASO MAXIMO, MOTIVO NO ASIG, ESTATUS ASIGNACION, ESTATUS DE GESTIÓN, DICTAMEN, USUARIO DICTAMEN, # GESTOR, NOMBRE GESTOR, NIVEL GESTIÓN, DIAS VENCIDOS, DIAS SIN MOV, FCH PROMESA, MONTO PROMESA, ULTIMO COD CONTACTO, ULTIMO COD RESULTADO, ULT COD CAUSA, ULT ACCIÓN GESTOR, FECHA ULT DISPOSICION, NO ULT PAGO, FECHA ULT PAGO, MONTO ULT PAGO, TOTAL ADEUDO, TOTAL VENCIDO, CAPITAL INSOLUTO, SALDO CONT INICIAL, TEL DOM DIRECTO, TEL EMPLEO, TEL RECADOS, TEL CEL, MUNICIPIO, COLONIA, CP, MUNICIPIO EMP, COLONIA EMP, CP EMPLEO, NOMBRE EMPRESA, contrato, Pagaré]
Index: []

[0 rows x 50 columns]

In [221]:
#control["SUCURSAL"] = control["SUCURSAL"].astype(int)
print(control.dtypes)
print(Sucursales.dtypes)

Cuenta                              int64
SUCURSAL                            int64
NUM CLIENTE                         int64
PRODUCTO                           object
SEGMENTO                           object
CATEGORIA PROD                     object
PLAZO                               int64
FRECUENCIA DE PAGO                  int64
NUM ASIGANCION COBRANZA             int64
FECHA ASIGNACIÓN                   object
PAGO VENCIDO                        int64
# PAGOS VENCIDOS                    int64
RETRASO MAXIMO                      int64
MOTIVO NO ASIG                     object
ESTATUS ASIGNACION                 object
ESTATUS DE GESTIÓN                 object
DICTAMEN                           object
USUARIO DICTAMEN                  float64
# GESTOR                            int64
NOMBRE GESTOR                      object
NIVEL GESTIÓN                      object
DIAS VENCIDOS                       int64
DIAS SIN MOV                       object
FCH PROMESA                        object
MONTO PROMESA                       int64
ULTIMO COD CONTACTO                object
ULTIMO COD RESULTADO               object
ULT COD CAUSA                      object
ULT ACCIÓN GESTOR                  object
FECHA ULT DISPOSICION              object
NO ULT PAGO                        object
FECHA ULT PAGO             datetime64[ns]
MONTO ULT PAGO                    float64
TOTAL ADEUDO                       object
TOTAL VENCIDO                      object
CAPITAL INSOLUTO                  float64
SALDO CONT INICIAL                float64
TEL DOM DIRECTO                    object
TEL EMPLEO                         object
TEL RECADOS                        object
TEL CEL                            object
MUNICIPIO                          object
COLONIA                            object
CP                                 object
MUNICIPIO EMP                      object
COLONIA EMP                        object
CP EMPLEO                           int64
NOMBRE EMPRESA                     object
contrato                            int64
Pagaré                             object
dtype: object
Id_Sucursal       int64
Sucursal         object
Id_Sucursal.1     int64
dtype: object

In [222]:
Sucursales.head()

   Id_Sucursal          Sucursal  Id_Sucursal.1
0            1            Toluca              1
1            2          Celaya 1              2
2            3       Querétaro 1              3
3            5        Irapuato 1              5
4            6  Aguascalientes 1              6

In [223]:
print(len(control))

169804

In [224]:
control = control.merge(Sucursales, left_on="SUCURSAL",right_on="Id_Sucursal", how="left")

In [225]:
control[["Cuenta","SUCURSAL","Id_Sucursal","Sucursal"]].head(2)

     Cuenta  SUCURSAL  Id_Sucursal        Sucursal
0  75716097       323        323.0  Ensenada Tersa
1  78179830       323        323.0  Ensenada Tersa

In [226]:
print(len(control))

169804

In [227]:
Subdireccion = pd.read_excel("Pagares.xlsx", sheet_name="Subdirecciones")

In [228]:
print(len(control))

169804

In [229]:
Subdireccion.head(2)

   SUCURSAL  No.SUCURSAL SUCURSAL.1  SUBDIRECCION
0    Toluca            1     Toluca        Centro
1  Celaya 1            2   Celaya 1  Centro Norte

In [230]:
control.head(2)

,Cuenta,SUCURSAL,NUM CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA PROD,PLAZO,FRECUENCIA DE PAGO,NUM ASIGANCION COBRANZA,FECHA ASIGNACIÓN,...,CP,MUNICIPIO EMP,COLONIA EMP,CP EMPLEO,NOMBRE EMPRESA,contrato,Pagaré,Id_Sucursal,Sucursal,Id_Sucursal.1
0,75716097,323,720864165,TRADICIONAL,FORMAL,TRADICIONAL,48,15,20,00/00/0000,...,22842,ENSENADA,ENSENADA CENTRO,22800,ULTRAPURA DEL AGUAJITO,75716097,RECIBIDO,323.0,Ensenada Tersa,323.0
1,78179830,323,726005827,TRADICIONAL,FORMAL,TRADICIONAL,48,15,5,00/00/0000,...,22785,ENSENADA,ENSENADA CENTRO,22800,BAJA CORP,78179830,RECIBIDO,323.0,Ensenada Tersa,323.0

In [231]:
control = control.merge(Subdireccion, left_on="SUCURSAL",right_on="No.SUCURSAL", how="left")

In [232]:
print(len(control))

169804

In [233]:
control.head()

,Cuenta,SUCURSAL_x,NUM CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA PROD,PLAZO,FRECUENCIA DE PAGO,NUM ASIGANCION COBRANZA,FECHA ASIGNACIÓN,...,NOMBRE EMPRESA,contrato,Pagaré,Id_Sucursal,Sucursal,Id_Sucursal.1,SUCURSAL_y,No.SUCURSAL,SUCURSAL.1,SUBDIRECCION
0,75716097,323,720864165,TRADICIONAL,FORMAL,TRADICIONAL,48,15,20,00/00/0000,...,ULTRAPURA DEL AGUAJITO,75716097,RECIBIDO,323.0,Ensenada Tersa,323.0,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste
1,78179830,323,726005827,TRADICIONAL,FORMAL,TRADICIONAL,48,15,5,00/00/0000,...,BAJA CORP,78179830,RECIBIDO,323.0,Ensenada Tersa,323.0,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste
2,77115563,323,722105949,TRADICIONAL,FORMAL,TRADICIONAL,48,15,8,00/00/0000,...,GST ASCI,77115563,RECIBIDO,323.0,Ensenada Tersa,323.0,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste
3,73024025,323,720899660,CREDINMEDIATO,FORMAL,CREDINMEDIATO,44,15,134,00/00/0000,...,MELANG,73024025,RECIBIDO,323.0,Ensenada Tersa,323.0,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste
4,77222746,323,724485997,,INFORMAL,,17,7,17,00/00/0000,...,SIN NOMBRE,77222746,RECIBIDO,323.0,Ensenada Tersa,323.0,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste

In [234]:
control = control.drop(columns=["contrato", "Id_Sucursal","Id_Sucursal.1"])
#control = control.drop(columns=["contrato_x","contrato_y","Pagaré_x","Id_Sucursal_x","Modelo_x","Id_Sucursal_y","Modelo_y","Sucursal_x"])

In [235]:
control.head()

,Cuenta,SUCURSAL_x,NUM CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA PROD,PLAZO,FRECUENCIA DE PAGO,NUM ASIGANCION COBRANZA,FECHA ASIGNACIÓN,...,MUNICIPIO EMP,COLONIA EMP,CP EMPLEO,NOMBRE EMPRESA,Pagaré,Sucursal,SUCURSAL_y,No.SUCURSAL,SUCURSAL.1,SUBDIRECCION
0,75716097,323,720864165,TRADICIONAL,FORMAL,TRADICIONAL,48,15,20,00/00/0000,...,ENSENADA,ENSENADA CENTRO,22800,ULTRAPURA DEL AGUAJITO,RECIBIDO,Ensenada Tersa,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste
1,78179830,323,726005827,TRADICIONAL,FORMAL,TRADICIONAL,48,15,5,00/00/0000,...,ENSENADA,ENSENADA CENTRO,22800,BAJA CORP,RECIBIDO,Ensenada Tersa,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste
2,77115563,323,722105949,TRADICIONAL,FORMAL,TRADICIONAL,48,15,8,00/00/0000,...,ENSENADA,VISTA HERMOSA,22785,GST ASCI,RECIBIDO,Ensenada Tersa,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste
3,73024025,323,720899660,CREDINMEDIATO,FORMAL,CREDINMEDIATO,44,15,134,00/00/0000,...,ENSENADA,VALLE DEL SOL,22813,MELANG,RECIBIDO,Ensenada Tersa,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste
4,77222746,323,724485997,,INFORMAL,,17,7,17,00/00/0000,...,ENSENADA,COSTA BELLA,22898,SIN NOMBRE,RECIBIDO,Ensenada Tersa,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste

In [236]:
control["DIAS VENCIDOS"].head()

0    4853
1    3071
2    3804
3    3181
4    3971
Name: DIAS VENCIDOS, dtype: int64

In [237]:
Precios_FISA = pd.read_excel("Pagares.xlsx",sheet_name="Precios FISA")

In [238]:
Precios_FISA

,Bucket,Rango DV inferior,Rango DV superior,Precio comercial,Precio CON pagare,Precio SIN pagare o CON error
0,bk1,180,360,0.18,0.150,0.122
1,bk2,361,540,0.11,0.098,0.049
2,bk3,541,720,0.09,0.072,0.036
3,bk4,721,900,0.07,0.056,0.028
4,bk5,901,1080,0.07,0.056,0.028
5,bk6,1081,1260,0.06,0.037,0.019
6,bk7,1261,1440,0.06,0.031,0.016
7,fenix,1441,99999,0.05,0.025,0.013

In [239]:
control.head()

,Cuenta,SUCURSAL_x,NUM CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA PROD,PLAZO,FRECUENCIA DE PAGO,NUM ASIGANCION COBRANZA,FECHA ASIGNACIÓN,...,MUNICIPIO EMP,COLONIA EMP,CP EMPLEO,NOMBRE EMPRESA,Pagaré,Sucursal,SUCURSAL_y,No.SUCURSAL,SUCURSAL.1,SUBDIRECCION
0,75716097,323,720864165,TRADICIONAL,FORMAL,TRADICIONAL,48,15,20,00/00/0000,...,ENSENADA,ENSENADA CENTRO,22800,ULTRAPURA DEL AGUAJITO,RECIBIDO,Ensenada Tersa,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste
1,78179830,323,726005827,TRADICIONAL,FORMAL,TRADICIONAL,48,15,5,00/00/0000,...,ENSENADA,ENSENADA CENTRO,22800,BAJA CORP,RECIBIDO,Ensenada Tersa,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste
2,77115563,323,722105949,TRADICIONAL,FORMAL,TRADICIONAL,48,15,8,00/00/0000,...,ENSENADA,VISTA HERMOSA,22785,GST ASCI,RECIBIDO,Ensenada Tersa,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste
3,73024025,323,720899660,CREDINMEDIATO,FORMAL,CREDINMEDIATO,44,15,134,00/00/0000,...,ENSENADA,VALLE DEL SOL,22813,MELANG,RECIBIDO,Ensenada Tersa,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste
4,77222746,323,724485997,,INFORMAL,,17,7,17,00/00/0000,...,ENSENADA,COSTA BELLA,22898,SIN NOMBRE,RECIBIDO,Ensenada Tersa,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste

In [240]:
control = control.rename(columns={"DIAS VENCIDOS": "Dias vencidos"})

In [241]:

import numpy as np

control["Bucket"] = np.select([
    control["Dias vencidos"].between(180, 360),
    control["Dias vencidos"].between(361, 540),
    control["Dias vencidos"].between(541, 720),
    control["Dias vencidos"].between(721, 900),
    control["Dias vencidos"].between(901, 1080),
    control["Dias vencidos"].between(1081, 1260),
    control["Dias vencidos"].between(1261, 1440),
    control["Dias vencidos"] > 1440
], ["bk1", "bk2", "bk3","bk4", "bk5", "bk6", "bk7", "fenix"], default="sin_bucket")

In [242]:
control["ESTATUS"] = "DIVIDIR"

In [243]:

import numpy as np

control["DV"] = np.select([
    control["Dias vencidos"].between(180, 270),
    control["Dias vencidos"].between(271,360),
    control["Dias vencidos"].between(361, 540),
    control["Dias vencidos"].between(541, 720),
    control["Dias vencidos"].between(721, 900),
    control["Dias vencidos"].between(901, 1080),
    control["Dias vencidos"].between(1081, 1260),
    control["Dias vencidos"].between(1261, 1440),
    control["Dias vencidos"].between(1441, 1829),
    control["Dias vencidos"].between(1830, 2000),
    control["Dias vencidos"] > 2000
], ["180-270", "270-360", "361-540","541-720", "721-900", "901-1080", "1081-1260", "1261-1440","1441-1829","1830-200","2000-N"], default="sin_rango")

In [244]:
control.head()

,Cuenta,SUCURSAL_x,NUM CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA PROD,PLAZO,FRECUENCIA DE PAGO,NUM ASIGANCION COBRANZA,FECHA ASIGNACIÓN,...,NOMBRE EMPRESA,Pagaré,Sucursal,SUCURSAL_y,No.SUCURSAL,SUCURSAL.1,SUBDIRECCION,Bucket,ESTATUS,DV
0,75716097,323,720864165,TRADICIONAL,FORMAL,TRADICIONAL,48,15,20,00/00/0000,...,ULTRAPURA DEL AGUAJITO,RECIBIDO,Ensenada Tersa,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste,fenix,DIVIDIR,2000-N
1,78179830,323,726005827,TRADICIONAL,FORMAL,TRADICIONAL,48,15,5,00/00/0000,...,BAJA CORP,RECIBIDO,Ensenada Tersa,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste,fenix,DIVIDIR,2000-N
2,77115563,323,722105949,TRADICIONAL,FORMAL,TRADICIONAL,48,15,8,00/00/0000,...,GST ASCI,RECIBIDO,Ensenada Tersa,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste,fenix,DIVIDIR,2000-N
3,73024025,323,720899660,CREDINMEDIATO,FORMAL,CREDINMEDIATO,44,15,134,00/00/0000,...,MELANG,RECIBIDO,Ensenada Tersa,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste,fenix,DIVIDIR,2000-N
4,77222746,323,724485997,,INFORMAL,,17,7,17,00/00/0000,...,SIN NOMBRE,RECIBIDO,Ensenada Tersa,Ensenada Tersa,323.0,Ensenada Tersa,Noroeste,fenix,DIVIDIR,2000-N

In [245]:
print(len(control))

169804

In [246]:
control = control.merge(Precios_FISA, on="Bucket", how="left")

In [247]:
print(len(control))

169804

In [248]:
control[control["Bucket"] == "sin_bucket"]

Empty DataFrame
Columns: [Cuenta, SUCURSAL_x, NUM CLIENTE, PRODUCTO, SEGMENTO, CATEGORIA PROD, PLAZO, FRECUENCIA DE PAGO, NUM ASIGANCION COBRANZA, FECHA ASIGNACIÓN, PAGO VENCIDO, # PAGOS VENCIDOS, RETRASO MAXIMO, MOTIVO NO ASIG, ESTATUS ASIGNACION, ESTATUS DE GESTIÓN, DICTAMEN, USUARIO DICTAMEN, # GESTOR, NOMBRE GESTOR, NIVEL GESTIÓN, Dias vencidos, DIAS SIN MOV, FCH PROMESA, MONTO PROMESA, ULTIMO COD CONTACTO, ULTIMO COD RESULTADO, ULT COD CAUSA, ULT ACCIÓN GESTOR, FECHA ULT DISPOSICION, NO ULT PAGO, FECHA ULT PAGO, MONTO ULT PAGO, TOTAL ADEUDO, TOTAL VENCIDO, CAPITAL INSOLUTO, SALDO CONT INICIAL, TEL DOM DIRECTO, TEL EMPLEO, TEL RECADOS, TEL CEL, MUNICIPIO, COLONIA, CP, MUNICIPIO EMP, COLONIA EMP, CP EMPLEO, NOMBRE EMPRESA, Pagaré, Sucursal, SUCURSAL_y, No.SUCURSAL, SUCURSAL.1, SUBDIRECCION, Bucket, ESTATUS, DV, Rango DV inferior, Rango DV superior, Precio comercial, Precio CON pagare, Precio SIN pagare o CON error]
Index: []

[0 rows x 62 columns]

In [249]:
print(control.columns)

Index(['Cuenta', 'SUCURSAL_x', 'NUM CLIENTE', 'PRODUCTO', 'SEGMENTO',
       'CATEGORIA PROD', 'PLAZO', 'FRECUENCIA DE PAGO',
       'NUM ASIGANCION COBRANZA', 'FECHA ASIGNACIÓN', 'PAGO VENCIDO',
       '# PAGOS VENCIDOS', 'RETRASO MAXIMO', 'MOTIVO NO ASIG',
       'ESTATUS ASIGNACION', 'ESTATUS DE GESTIÓN', 'DICTAMEN',
       'USUARIO DICTAMEN', '# GESTOR', 'NOMBRE GESTOR', 'NIVEL GESTIÓN',
       'Dias vencidos', 'DIAS SIN MOV', 'FCH PROMESA', 'MONTO PROMESA',
       'ULTIMO COD CONTACTO', 'ULTIMO COD RESULTADO', 'ULT COD CAUSA',
       'ULT ACCIÓN GESTOR', 'FECHA ULT DISPOSICION', 'NO ULT PAGO',
       'FECHA ULT PAGO', 'MONTO ULT PAGO', 'TOTAL ADEUDO', 'TOTAL VENCIDO',
       'CAPITAL INSOLUTO', 'SALDO CONT INICIAL', 'TEL DOM DIRECTO',
       'TEL EMPLEO', 'TEL RECADOS', 'TEL CEL', 'MUNICIPIO', 'COLONIA', 'CP',
       'MUNICIPIO EMP', 'COLONIA EMP', 'CP EMPLEO', 'NOMBRE EMPRESA', 'Pagaré',
       'Sucursal', 'SUCURSAL_y', 'No.SUCURSAL', 'SUCURSAL.1', 'SUBDIRECCION',
       'Bucket', 'ESTATUS', 'DV', 'Rango DV inferior', 'Rango DV superior',
       'Precio comercial', 'Precio CON pagare',
       'Precio SIN pagare o CON error'],
      dtype='object')

In [250]:
control.columns = control.columns.str.strip().str.replace(" ", "_")  # Limpia espacios

In [251]:
#print(control.columns)

In [252]:
id_sol = pd.read_excel("./FISA/2026/202601/Id_solicitud.xlsx",sheet_name="Extracto 2")

In [253]:
print(len(control))

169804

In [254]:
control = control.merge(id_sol, right_on="contrato", left_on="Cuenta",how="left")

In [255]:
print(len(control))

169804

In [256]:
control.head()

,Cuenta,SUCURSAL_x,NUM_CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA_PROD,PLAZO,FRECUENCIA_DE_PAGO,NUM_ASIGANCION_COBRANZA,FECHA_ASIGNACIÓN,...,Bucket,ESTATUS,DV,Rango_DV_inferior,Rango_DV_superior,Precio_comercial,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error,contrato,solicitud
0,75716097,323,720864165,TRADICIONAL,FORMAL,TRADICIONAL,48,15,20,00/00/0000,...,fenix,DIVIDIR,2000-N,1441,99999,0.05,0.025,0.013,75716097.0,33537393
1,78179830,323,726005827,TRADICIONAL,FORMAL,TRADICIONAL,48,15,5,00/00/0000,...,fenix,DIVIDIR,2000-N,1441,99999,0.05,0.025,0.013,78179830.0,69584342
2,77115563,323,722105949,TRADICIONAL,FORMAL,TRADICIONAL,48,15,8,00/00/0000,...,fenix,DIVIDIR,2000-N,1441,99999,0.05,0.025,0.013,77115563.0,41663385
3,73024025,323,720899660,CREDINMEDIATO,FORMAL,CREDINMEDIATO,44,15,134,00/00/0000,...,fenix,DIVIDIR,2000-N,1441,99999,0.05,0.025,0.013,73024025.0,11923638
4,77222746,323,724485997,,INFORMAL,,17,7,17,00/00/0000,...,fenix,DIVIDIR,2000-N,1441,99999,0.05,0.025,0.013,77222746.0,39856750

In [257]:
control["Precio_Multiplicador"] = np.where((control["Pagaré"] == "RECIBIDO") | (control["Pagaré"] == "DIGITAL"), control["Precio_CON_pagare"], control["Precio_SIN_pagare_o_CON_error"])

In [258]:
control[control["Precio_Multiplicador"] == "nan"]

Empty DataFrame
Columns: [Cuenta, SUCURSAL_x, NUM_CLIENTE, PRODUCTO, SEGMENTO, CATEGORIA_PROD, PLAZO, FRECUENCIA_DE_PAGO, NUM_ASIGANCION_COBRANZA, FECHA_ASIGNACIÓN, PAGO_VENCIDO, #_PAGOS_VENCIDOS, RETRASO_MAXIMO, MOTIVO_NO_ASIG, ESTATUS_ASIGNACION, ESTATUS_DE_GESTIÓN, DICTAMEN, USUARIO_DICTAMEN, #_GESTOR, NOMBRE_GESTOR, NIVEL_GESTIÓN, Dias_vencidos, DIAS_SIN_MOV, FCH_PROMESA, MONTO_PROMESA, ULTIMO_COD_CONTACTO, ULTIMO_COD_RESULTADO, ULT_COD_CAUSA, ULT_ACCIÓN_GESTOR, FECHA_ULT_DISPOSICION, NO_ULT_PAGO, FECHA_ULT_PAGO, MONTO_ULT_PAGO, TOTAL_ADEUDO, TOTAL_VENCIDO, CAPITAL_INSOLUTO, SALDO_CONT_INICIAL, TEL_DOM_DIRECTO, TEL_EMPLEO, TEL_RECADOS, TEL_CEL, MUNICIPIO, COLONIA, CP, MUNICIPIO_EMP, COLONIA_EMP, CP_EMPLEO, NOMBRE_EMPRESA, Pagaré, Sucursal, SUCURSAL_y, No.SUCURSAL, SUCURSAL.1, SUBDIRECCION, Bucket, ESTATUS, DV, Rango_DV_inferior, Rango_DV_superior, Precio_comercial, Precio_CON_pagare, Precio_SIN_pagare_o_CON_error, contrato, solicitud, Precio_Multiplicador]
Index: []

[0 rows x 65 columns]

In [259]:
control = control.rename(columns={"CAPITAL_INSOLUTO": "Capital_insoluto"})

In [260]:
control["Precio_multiplicado"] = control["Capital_insoluto"] * control["Precio_Multiplicador"]

In [261]:
control_df = control

In [262]:
control_df.head()

,Cuenta,SUCURSAL_x,NUM_CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA_PROD,PLAZO,FRECUENCIA_DE_PAGO,NUM_ASIGANCION_COBRANZA,FECHA_ASIGNACIÓN,...,DV,Rango_DV_inferior,Rango_DV_superior,Precio_comercial,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error,contrato,solicitud,Precio_Multiplicador,Precio_multiplicado
0,75716097,323,720864165,TRADICIONAL,FORMAL,TRADICIONAL,48,15,20,00/00/0000,...,2000-N,1441,99999,0.05,0.025,0.013,75716097.0,33537393,0.025,82.8960
1,78179830,323,726005827,TRADICIONAL,FORMAL,TRADICIONAL,48,15,5,00/00/0000,...,2000-N,1441,99999,0.05,0.025,0.013,78179830.0,69584342,0.025,139.6940
2,77115563,323,722105949,TRADICIONAL,FORMAL,TRADICIONAL,48,15,8,00/00/0000,...,2000-N,1441,99999,0.05,0.025,0.013,77115563.0,41663385,0.025,177.8910
3,73024025,323,720899660,CREDINMEDIATO,FORMAL,CREDINMEDIATO,44,15,134,00/00/0000,...,2000-N,1441,99999,0.05,0.025,0.013,73024025.0,11923638,0.025,209.2655
4,77222746,323,724485997,,INFORMAL,,17,7,17,00/00/0000,...,2000-N,1441,99999,0.05,0.025,0.013,77222746.0,39856750,0.025,66.1660

In [263]:
control_df["Precio_Comercial_Venta"] = control_df["Capital_insoluto"] * control["Precio_comercial"]

In [264]:
control_df =  control_df.drop(columns=["Rango_DV_inferior","Rango_DV_superior"])
control_df.head()

,Cuenta,SUCURSAL_x,NUM_CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA_PROD,PLAZO,FRECUENCIA_DE_PAGO,NUM_ASIGANCION_COBRANZA,FECHA_ASIGNACIÓN,...,ESTATUS,DV,Precio_comercial,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error,contrato,solicitud,Precio_Multiplicador,Precio_multiplicado,Precio_Comercial_Venta
0,75716097,323,720864165,TRADICIONAL,FORMAL,TRADICIONAL,48,15,20,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,75716097.0,33537393,0.025,82.8960,165.792
1,78179830,323,726005827,TRADICIONAL,FORMAL,TRADICIONAL,48,15,5,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,78179830.0,69584342,0.025,139.6940,279.388
2,77115563,323,722105949,TRADICIONAL,FORMAL,TRADICIONAL,48,15,8,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,77115563.0,41663385,0.025,177.8910,355.782
3,73024025,323,720899660,CREDINMEDIATO,FORMAL,CREDINMEDIATO,44,15,134,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,73024025.0,11923638,0.025,209.2655,418.531
4,77222746,323,724485997,,INFORMAL,,17,7,17,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,77222746.0,39856750,0.025,66.1660,132.332

In [265]:
control_df["Pagaré"] = control_df["Pagaré"].str.upper()
print(control_df["Pagaré"].unique())

['RECIBIDO' 'DIGITAL' 'NO RECIBIDO']

In [266]:
#control_df_recibido = control_df[control_df["Pagaré"] == "RECIBIDO"].copy()

In [267]:
print(control_df["Pagaré"].unique())

['RECIBIDO' 'DIGITAL' 'NO RECIBIDO']

In [268]:
print(len(control_df))

169804

In [269]:
control_df_digitales = control_df[control_df["Pagaré"] == "DIGITAL"]

In [270]:
control_df = control_df[control_df["Pagaré"] != "DIGITAL"]

In [271]:
len(control_df_digitales)

2834

In [272]:
print(len(control_df))

166970

In [273]:
len(control_df[control_df["SUCURSAL_y"].isna()])

539

#### Quitamos las sucursales cerradas

In [274]:
control_df = control_df.rename(columns={"SUCURSAL_y": "Sucursal_y"})

In [275]:
control_df["SUCURSAL_x"].unique()

array([323, 322, 321, 317, 316, 315, 314, 313, 312, 311, 310, 308, 306,
       305, 304, 302, 300, 298, 297, 296, 295, 294, 293, 292, 291, 290,
       289, 288, 287, 286, 285, 284, 283, 282, 281, 280, 279, 278, 277,
       276, 275, 274, 273, 272, 271, 270, 268, 267, 265, 264, 263, 262,
       261, 258, 257, 254, 251, 250, 248, 141, 134, 131, 129, 128, 127,
       124, 123, 122, 121, 119, 117, 116, 115, 114, 112, 110, 109, 106,
       105, 102,  98,  97,  95,  93,  92,  91,  90,  89,  88,  87,  86,
        85,  83,  81,  80,  79,  78,  76,  73,  72,  71,  70,  69,  67,
        66,  65,  64,  63,  62,  61,  60,  59,  58,  57,  56,  55,  54,
        53,  52,  51,  50,  49,  48,  47,  46,  44,  43,  42,  41,  40,
        39,  38,  37,  36,  35,  34,  33,  32,  31,  30,  29,  28,  27,
        26,  25,  24,  23,  22,  21,  19,  18,  17,  16,  15,  14,  12,
        11,  10,   9,   8,   7,   6,   5,   3,   2,   1,   0])

In [276]:
control_df[control_df["SUCURSAL_x"].isin([0,55,60,61,65,73,76,78,86,251,261])]

,Cuenta,SUCURSAL_x,NUM_CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA_PROD,PLAZO,FRECUENCIA_DE_PAGO,NUM_ASIGANCION_COBRANZA,FECHA_ASIGNACIÓN,...,ESTATUS,DV,Precio_comercial,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error,contrato,solicitud,Precio_Multiplicador,Precio_multiplicado,Precio_Comercial_Venta
56526,78572244,261,726436792,TRADICIONAL,FORMAL,TRADICIONAL,12,15,5,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,78572244.0,72018048,0.025,85.17000,170.3400
56527,78577471,261,726447251,TRADICIONAL,FORMAL,TRADICIONAL,12,15,4,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,78577471.0,72059529,0.025,87.19750,174.3950
56528,78583733,261,726460904,TRADICIONAL,FORMAL,TRADICIONAL,12,15,2,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,78583733.0,72104004,0.025,121.93125,243.8625
56529,78587408,261,726466191,TRADICIONAL,FORMAL,TRADICIONAL,12,15,1,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,78587408.0,72126035,0.025,166.95250,333.9050
56530,78572245,261,726428287,TRADICIONAL,FORMAL,TRADICIONAL,12,15,2,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,78572245.0,72018049,0.025,42.06025,84.1205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169799,78081713,0,724728550,EMPLEADOS,FORMAL,EMPLEADOS,36,15,2,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,78081713.0,40573819,0.013,34.07612,131.0620
169800,78081279,0,725484153,EMPLEADOS,FORMAL,EMPLEADOS,24,15,1,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,78081279.0,69004425,0.013,109.70791,421.9535
169801,78073892,0,725605631,EMPLEADOS,FORMAL,EMPLEADOS,24,15,1,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,78073892.0,40579734,0.013,24.03115,92.4275
169802,78068597,0,725168796,EMPLEADOS,FORMAL,EMPLEADOS,24,15,1,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,78068597.0,27291029,0.013,89.75876,345.2260
169803,78048428,0,725446924,EMPLEADOS,FORMAL,EMPLEADOS,24,15,1,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,78048428.0,40579684,0.013,20.63659,79.3715

In [277]:
cerradas = control_df[control_df["SUCURSAL_x"].isin([0,55,60,61,65,73,76,78,86,251,261])]

In [278]:
cerradas["SUCURSAL_x"].value_counts(dropna=False)

SUCURSAL_x
0      503
261    494
55      12
86      10
251     10
61       5
65       4
73       2
76       1
78       1
60       1
Name: count, dtype: int64

In [279]:
control_df = control_df[~control_df["SUCURSAL_x"].isin([0,55,60,61,65,73,76,78,86,251,261])]

In [280]:
len(control_df)

165927

#### Subasta

In [281]:
subasta = control_df[control_df["Pagaré"] == "RECIBIDO"].pivot_table(values="Precio_Comercial_Venta",index="Sucursal_y",aggfunc="sum")

In [282]:
subasta = subasta.reset_index()

In [283]:
subasta[subasta["Sucursal_y"] == "Dolores Hidalgo"]

         Sucursal_y  Precio_Comercial_Venta
33  Dolores Hidalgo              23044.8767

In [284]:
subasta[subasta["Sucursal_y"] == "Silao"]

    Sucursal_y  Precio_Comercial_Venta
109      Silao              60933.4699

In [285]:
subasta_60 =  subasta[subasta["Precio_Comercial_Venta"]<60000]

In [286]:
subasta_60

                         Sucursal_y  Precio_Comercial_Venta
4                  Aguascalientes 1              23442.0395
6          Aguascalientes Siglo XXI              16385.9669
16                Celaya / Cortazar               9421.7769
28                          Cuautla               7246.3160
29                       Cuernavaca              42391.9642
30               Cuernavaca Morelos              59537.7063
33                  Dolores Hidalgo              23044.8767
38                      Federalismo              24696.2106
42     Hermosillo Paseo Solidaridad              45032.6308
66                       Mexicali 1              16682.4000
70   Morelia Plaza Tron (OS Aldama)              11020.2102
82                        Patzcuaro              34930.9712
101        San Francisco Del Rincon              14651.6634
103                San Juan Del Rio              11659.4115
131                         Uruapan              44776.3819
137                        Victoria              33864.0616
138                 Victoria Ocampo               8120.8630
146                          Zamora              30445.5615

In [287]:
filtro = ["Guanajuato","San Miguel de Allende", "Dolores Hidalgo", "Leon", "Salamanca", "Silao","Irapuato", "San Luis del Rio Colorado"]

In [288]:
subasta_60_fin = subasta_60[subasta_60["Sucursal_y"].isin(filtro)]

In [289]:
sucursales_str = ", ".join(subasta_60_fin["Sucursal_y"].astype(str).tolist())
print("Las siguientes sucursales se van a subasta, por el criterio de estar en la lista y tener un capital menor a 60 mil: ",sucursales_str)

# sucursales_str = ", ".join(subasta_60_fin["Sucursal_y"].astype(str).tolist())
#print(sucursales_str)

Las siguientes sucursales se van a subasta, por el criterio de estar en la lista y tener un capital menor a 60 mil:  Dolores Hidalgo

Subasta menores a 60 mil

In [290]:
subasta_60_fin

         Sucursal_y  Precio_Comercial_Venta
33  Dolores Hidalgo              23044.8767

In [291]:
cuentas_subasta60 = control_df[control_df["Sucursal_y"].isin(subasta_60_fin["Sucursal_y"])]

In [292]:
cuentas_subasta60

,Cuenta,SUCURSAL_x,NUM_CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA_PROD,PLAZO,FRECUENCIA_DE_PAGO,NUM_ASIGANCION_COBRANZA,FECHA_ASIGNACIÓN,...,ESTATUS,DV,Precio_comercial,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error,contrato,solicitud,Precio_Multiplicador,Precio_multiplicado,Precio_Comercial_Venta
68796,79174831,117,724659078,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,12,15,2,00/00/0000,...,DIVIDIR,541-720,0.09,0.072,0.036,79174831.0,74214043,0.072,410.59296,513.2412
68797,79181601,117,728167497,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,24,30,1,00/00/0000,...,DIVIDIR,541-720,0.09,0.072,0.036,79181601.0,74215072,0.072,432.25776,540.3222
68800,79210483,117,728310093,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,12,15,4,00/00/0000,...,DIVIDIR,361-540,0.11,0.098,0.049,79210483.0,74283065,0.098,280.91014,315.3073
68801,78474797,117,726181034,CREDINMEDIATO,FORMAL,CREDINMEDIATO,60,15,39,00/00/0000,...,DIVIDIR,541-720,0.09,0.072,0.036,78474797.0,71365589,0.072,2133.67320,2667.0915
68803,79178652,117,728143480,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,12,15,1,00/00/0000,...,DIVIDIR,541-720,0.09,0.072,0.036,79178652.0,74190493,0.072,241.33680,301.6710
68804,79166269,117,728072830,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,24,15,1,00/00/0000,...,DIVIDIR,541-720,0.09,0.072,0.036,79166269.0,74146495,0.072,391.36752,489.2094
68806,79189761,117,728201146,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,24,15,3,00/00/0000,...,DIVIDIR,541-720,0.09,0.072,0.036,79189761.0,74246533,0.072,593.19648,741.4956
68807,79182977,117,728172637,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,12,30,1,00/00/0000,...,DIVIDIR,541-720,0.09,0.072,0.036,79182977.0,74215076,0.072,443.66400,554.5800
68809,79044078,117,727362898,CREDINMEDIATO,FORMAL,CREDINMEDIATO,48,15,20,00/00/0000,...,DIVIDIR,541-720,0.09,0.072,0.036,79044078.0,73886056,0.072,876.63672,1095.7959
68810,79159458,117,721571050,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,26,7,7,00/00/0000,...,DIVIDIR,541-720,0.09,0.072,0.036,79159458.0,74176276,0.072,5058.35784,6322.9473
68811,78953465,117,726580495,CREDINMEDIATO,FORMAL,CREDINMEDIATO,60,15,15,00/00/0000,...,DIVIDIR,721-900,0.07,0.056,0.028,78953465.0,73639878,0.056,2740.28888,3425.3611
68812,79137300,117,727592366,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,24,15,6,00/00/0000,...,DIVIDIR,721-900,0.07,0.056,0.028,79137300.0,74115890,0.056,297.02848,371.2856
68815,79104309,117,726700737,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,78,7,15,00/00/0000,...,DIVIDIR,541-720,0.09,0.072,0.036,79104309.0,74031082,0.072,2348.23536,2935.2942
68816,79170372,117,728119314,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,24,15,3,00/00/0000,...,DIVIDIR,541-720,0.09,0.072,0.036,79170372.0,74190467,0.072,383.92632,479.9079
68817,79115898,117,727894498,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,24,15,9,00/00/0000,...,DIVIDIR,541-720,0.09,0.072,0.036,79115898.0,74058686,0.072,314.49744,393.1218
68818,79163256,117,721957734,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,12,15,1,00/00/0000,...,DIVIDIR,721-900,0.07,0.056,0.028,79163256.0,74155113,0.056,203.89600,254.8700
68819,79194057,117,721822671,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,24,15,4,00/00/0000,...,DIVIDIR,361-540,0.11,0.098,0.049,79194057.0,74254815,0.098,371.40334,416.8813
68820,79192877,117,728213806,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,36,15,7,00/00/0000,...,DIVIDIR,361-540,0.11,0.098,0.049,79192877.0,74254814,0.098,1092.69412,1226.4934

In [293]:
print(len(control_df))

165927

In [294]:
control_df = control_df[~control_df["Sucursal_y"].isin(subasta_60_fin["Sucursal_y"])]

In [295]:
print(len(control_df))

165909

In [296]:
subasta_suc = subasta[subasta["Precio_Comercial_Venta"]<30000]

In [297]:
subasta_suc

                         Sucursal_y  Precio_Comercial_Venta
4                  Aguascalientes 1              23442.0395
6          Aguascalientes Siglo XXI              16385.9669
16                Celaya / Cortazar               9421.7769
28                          Cuautla               7246.3160
33                  Dolores Hidalgo              23044.8767
38                      Federalismo              24696.2106
66                       Mexicali 1              16682.4000
70   Morelia Plaza Tron (OS Aldama)              11020.2102
101        San Francisco Del Rincon              14651.6634
103                San Juan Del Rio              11659.4115
138                 Victoria Ocampo               8120.8630

In [298]:
subasta_suc = subasta_suc.reset_index()
lista_suc = subasta_suc["Sucursal_y"].tolist()  # Ahora debería existir como columna

In [299]:
print(lista_suc)

['Aguascalientes 1', 'Aguascalientes Siglo XXI', 'Celaya / Cortazar', 'Cuautla', 'Dolores Hidalgo', 'Federalismo', 'Mexicali 1', 'Morelia Plaza Tron (OS Aldama)', 'San Francisco Del Rincon', 'San Juan Del Rio', 'Victoria Ocampo']

In [300]:
subasta_suc

    index                      Sucursal_y  Precio_Comercial_Venta
0       4                Aguascalientes 1              23442.0395
1       6        Aguascalientes Siglo XXI              16385.9669
2      16               Celaya / Cortazar               9421.7769
3      28                         Cuautla               7246.3160
4      33                 Dolores Hidalgo              23044.8767
5      38                     Federalismo              24696.2106
6      66                      Mexicali 1              16682.4000
7      70  Morelia Plaza Tron (OS Aldama)              11020.2102
8     101        San Francisco Del Rincon              14651.6634
9     103                San Juan Del Rio              11659.4115
10    138                 Victoria Ocampo               8120.8630

Quitaremos las sucursales con monto menor a 30 mil

In [301]:
cuentas_subasta30 = control_df[control_df["Sucursal_y"].isin(subasta_suc["Sucursal_y"])]

In [302]:
cuentas_subasta30["Sucursal_y"].unique()

array(['Victoria Ocampo', 'Aguascalientes Siglo XXI',
       'Morelia Plaza Tron (OS Aldama)', 'Federalismo',
       'San Francisco Del Rincon', 'Celaya / Cortazar', 'Cuautla',
       'Mexicali 1', 'San Juan Del Rio', 'Aguascalientes 1'], dtype=object)

In [303]:
print(len(control_df),"tenemos que las cuentas de subasta menos a 30k son: ",len(cuentas_subasta30))

165909 tenemos que las cuentas de subasta menos a 30k son:  102

In [304]:
control_df = control_df[~control_df["Sucursal_y"].isin(cuentas_subasta30["Sucursal_y"])]

In [305]:
print(len(control_df),len(cuentas_subasta30),len(cuentas_subasta60),len(cerradas))

165807 102 18 1043

In [306]:
print("Tenemos un totald e cuentas de: ", len(control_df)+len(cuentas_subasta30)+len(cuentas_subasta60) + len(control_df_digitales)+len(cerradas))

Tenemos un totald e cuentas de:  169804

In [307]:
Subasta_Fin = pd.concat([cuentas_subasta60, cuentas_subasta30],ignore_index=True)

In [308]:
print(len(Subasta_Fin))

120

In [309]:
#Subasta_Fin = Subasta_Fin[Subasta_Fin["Pagaré"] != "DIGITAL"]

#### Primero se genero el archivo, despues ya nadamas lo cargue, por eso todo va a estar comentado

In [310]:
##Aqui lo cargo
#solicitudes = pd.read_excel("Solicitudes_FISA_100625.xlsx")

In [311]:
#solicitudes = pd.read_excel("Solicitudes cartera 2025 FISA (5).xlsx",sheet_name="Mayo GA")
solicitudes = control_df.pivot_table(values="Precio_multiplicado",index="Sucursal_y",aggfunc="count")

In [312]:
solicitudes.head()

                           Precio_multiplicado
Sucursal_y
Acambaro                                    52
Acapulco                                  2505
Acapulco Sendero                          2192
Acayucan                                  2085
Aguascalientes Industrial                    9

In [313]:
solicitudes = solicitudes.reset_index()

In [314]:
solicitudes.head()

                  Sucursal_y  Precio_multiplicado
0                   Acambaro                   52
1                   Acapulco                 2505
2           Acapulco Sendero                 2192
3                   Acayucan                 2085
4  Aguascalientes Industrial                    9

In [315]:
solicitudes = solicitudes.rename(columns={"Precio_multiplicado": "Suma"})

In [316]:
import numpy as np  

solicitudes["Solicitud MAY"] = np.random.rand(len(solicitudes))
solicitudes["Solicitud JOSE"] = np.random.rand(len(solicitudes))
solicitudes["Solicitud VAC1"] = np.random.rand(len(solicitudes))
solicitudes["Solicitud VAC2"] = np.random.rand(len(solicitudes))

In [317]:
suma_solicitudes = solicitudes["Solicitud MAY"] + solicitudes["Solicitud JOSE"] + solicitudes["Solicitud VAC1"] + solicitudes["Solicitud VAC2"]

In [318]:
solicitudes["Solicitud MAY"] = solicitudes["Solicitud MAY"] / suma_solicitudes
solicitudes["Solicitud JOSE"] = solicitudes["Solicitud JOSE"] / suma_solicitudes
solicitudes["Solicitud VAC1"] = solicitudes["Solicitud VAC1"] / suma_solicitudes
solicitudes["Solicitud VAC2"] = solicitudes["Solicitud VAC2"] / suma_solicitudes

In [319]:
solicitudes["M_mayor"] = solicitudes[["Solicitud MAY", "Solicitud JOSE", "Solicitud VAC1","Solicitud VAC2"]].idxmax(axis=1).str.replace('Solicitud ', '')

In [320]:
solicitudes.head(1)

,Sucursal_y,Suma,Solicitud MAY,Solicitud JOSE,Solicitud VAC1,Solicitud VAC2,M_mayor
0,Acambaro,52,0.2391,0.310314,0.284699,0.165887,JOSE

In [321]:
solicitudes["Suma_prob"] = solicitudes["Solicitud MAY"] + solicitudes["Solicitud JOSE"] + solicitudes["Solicitud VAC1"] + solicitudes["Solicitud VAC2"]

In [322]:
solicitudes["Suma_prob"].value_counts(dropna=False)

Suma_prob
1.0    94
1.0    23
1.0    18
1.0    10
Name: count, dtype: int64

In [323]:
patrones_MAY = {
    "UNA-UNA-UNA-UNA": ["MAY", "JOSE", "VAC1", "VAC2"]
}
patrones_JOSE = {
    "UNA-UNA-UNA-UNA": ["JOSE", "VAC1","VAC2","MAY"]
}
patrones_VAC1 = {
    "UNA-UNA-UNA-UNA": ["VAC1", "VAC2", "MAY", "JOSE"]
}
patrones_VAC2 = {
    "UNA-UNA-UNA-UNA": [ "VAC2", "MAY", "JOSE", "VAC1"]
}

In [324]:
patrones = {
    "MAY": patrones_MAY,
    "JOSE": patrones_JOSE,
    "VAC1": patrones_VAC1,
    "VAC2": patrones_VAC2
}

In [325]:
solicitudes["Regla_Div"] =  'UNA-UNA-UNA-UNA'

In [326]:
solicitudes.head()

,Sucursal_y,Suma,Solicitud MAY,Solicitud JOSE,Solicitud VAC1,Solicitud VAC2,M_mayor,Suma_prob,Regla_Div
0,Acambaro,52,0.239100,0.310314,0.284699,0.165887,JOSE,1.0,UNA-UNA-UNA-UNA
1,Acapulco,2505,0.130208,0.052184,0.346967,0.470641,VAC2,1.0,UNA-UNA-UNA-UNA
2,Acapulco Sendero,2192,0.112343,0.338937,0.219246,0.329475,JOSE,1.0,UNA-UNA-UNA-UNA
3,Acayucan,2085,0.281209,0.279865,0.427095,0.011831,VAC1,1.0,UNA-UNA-UNA-UNA
4,Aguascalientes Industrial,9,0.370781,0.131796,0.129925,0.367498,MAY,1.0,UNA-UNA-UNA-UNA

In [327]:
print(solicitudes["Regla_Div"].unique())

['UNA-UNA-UNA-UNA']

##### Caso General 
Division de lo que no se separa

In [328]:
control_df.head(2)

,Cuenta,SUCURSAL_x,NUM_CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA_PROD,PLAZO,FRECUENCIA_DE_PAGO,NUM_ASIGANCION_COBRANZA,FECHA_ASIGNACIÓN,...,ESTATUS,DV,Precio_comercial,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error,contrato,solicitud,Precio_Multiplicador,Precio_multiplicado,Precio_Comercial_Venta
0,75716097,323,720864165,TRADICIONAL,FORMAL,TRADICIONAL,48,15,20,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,75716097.0,33537393,0.025,82.896,165.792
1,78179830,323,726005827,TRADICIONAL,FORMAL,TRADICIONAL,48,15,5,00/00/0000,...,DIVIDIR,2000-N,0.05,0.025,0.013,78179830.0,69584342,0.025,139.694,279.388

In [329]:
print(len(control_df["Sucursal_y"].unique()))

145

In [330]:
print(len(solicitudes))

145

In [331]:
print(len(control_df))

165807

In [332]:
control_df = control_df.merge(solicitudes,left_on="Sucursal_y",right_on="Sucursal_y",how="left")

In [333]:
print(len(control_df))

165807

In [334]:
control_df.head()

,Cuenta,SUCURSAL_x,NUM_CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA_PROD,PLAZO,FRECUENCIA_DE_PAGO,NUM_ASIGANCION_COBRANZA,FECHA_ASIGNACIÓN,...,Precio_multiplicado,Precio_Comercial_Venta,Suma,Solicitud MAY,Solicitud JOSE,Solicitud VAC1,Solicitud VAC2,M_mayor,Suma_prob,Regla_Div
0,75716097,323,720864165,TRADICIONAL,FORMAL,TRADICIONAL,48,15,20,00/00/0000,...,82.8960,165.792,232,0.32388,0.083017,0.322856,0.270247,MAY,1.0,UNA-UNA-UNA-UNA
1,78179830,323,726005827,TRADICIONAL,FORMAL,TRADICIONAL,48,15,5,00/00/0000,...,139.6940,279.388,232,0.32388,0.083017,0.322856,0.270247,MAY,1.0,UNA-UNA-UNA-UNA
2,77115563,323,722105949,TRADICIONAL,FORMAL,TRADICIONAL,48,15,8,00/00/0000,...,177.8910,355.782,232,0.32388,0.083017,0.322856,0.270247,MAY,1.0,UNA-UNA-UNA-UNA
3,73024025,323,720899660,CREDINMEDIATO,FORMAL,CREDINMEDIATO,44,15,134,00/00/0000,...,209.2655,418.531,232,0.32388,0.083017,0.322856,0.270247,MAY,1.0,UNA-UNA-UNA-UNA
4,77222746,323,724485997,,INFORMAL,,17,7,17,00/00/0000,...,66.1660,132.332,232,0.32388,0.083017,0.322856,0.270247,MAY,1.0,UNA-UNA-UNA-UNA

In [335]:
control_df.columns

Index(['Cuenta', 'SUCURSAL_x', 'NUM_CLIENTE', 'PRODUCTO', 'SEGMENTO',
       'CATEGORIA_PROD', 'PLAZO', 'FRECUENCIA_DE_PAGO',
       'NUM_ASIGANCION_COBRANZA', 'FECHA_ASIGNACIÓN', 'PAGO_VENCIDO',
       '#_PAGOS_VENCIDOS', 'RETRASO_MAXIMO', 'MOTIVO_NO_ASIG',
       'ESTATUS_ASIGNACION', 'ESTATUS_DE_GESTIÓN', 'DICTAMEN',
       'USUARIO_DICTAMEN', '#_GESTOR', 'NOMBRE_GESTOR', 'NIVEL_GESTIÓN',
       'Dias_vencidos', 'DIAS_SIN_MOV', 'FCH_PROMESA', 'MONTO_PROMESA',
       'ULTIMO_COD_CONTACTO', 'ULTIMO_COD_RESULTADO', 'ULT_COD_CAUSA',
       'ULT_ACCIÓN_GESTOR', 'FECHA_ULT_DISPOSICION', 'NO_ULT_PAGO',
       'FECHA_ULT_PAGO', 'MONTO_ULT_PAGO', 'TOTAL_ADEUDO', 'TOTAL_VENCIDO',
       'Capital_insoluto', 'SALDO_CONT_INICIAL', 'TEL_DOM_DIRECTO',
       'TEL_EMPLEO', 'TEL_RECADOS', 'TEL_CEL', 'MUNICIPIO', 'COLONIA', 'CP',
       'MUNICIPIO_EMP', 'COLONIA_EMP', 'CP_EMPLEO', 'NOMBRE_EMPRESA', 'Pagaré',
       'Sucursal', 'Sucursal_y', 'No.SUCURSAL', 'SUCURSAL.1', 'SUBDIRECCION',
       'Bucket', 'ESTATUS', 'DV', 'Precio_comercial', 'Precio_CON_pagare',
       'Precio_SIN_pagare_o_CON_error', 'contrato', 'solicitud',
       'Precio_Multiplicador', 'Precio_multiplicado', 'Precio_Comercial_Venta',
       'Suma', 'Solicitud MAY', 'Solicitud JOSE', 'Solicitud VAC1',
       'Solicitud VAC2', 'M_mayor', 'Suma_prob', 'Regla_Div'],
      dtype='object')

In [336]:
#control_df = control_df.drop(columns=["ESTATUS_y","REGLA","Sucursal","Suma","Solicitud GB", "Solicitud JM"])

In [337]:
print(len(control_df[control_df["Regla_Div"] == "Sin division"]))

0

In [338]:
print(control_df["Pagaré"].unique())

['RECIBIDO' 'NO RECIBIDO']

In [339]:
control_df.columns

Index(['Cuenta', 'SUCURSAL_x', 'NUM_CLIENTE', 'PRODUCTO', 'SEGMENTO',
       'CATEGORIA_PROD', 'PLAZO', 'FRECUENCIA_DE_PAGO',
       'NUM_ASIGANCION_COBRANZA', 'FECHA_ASIGNACIÓN', 'PAGO_VENCIDO',
       '#_PAGOS_VENCIDOS', 'RETRASO_MAXIMO', 'MOTIVO_NO_ASIG',
       'ESTATUS_ASIGNACION', 'ESTATUS_DE_GESTIÓN', 'DICTAMEN',
       'USUARIO_DICTAMEN', '#_GESTOR', 'NOMBRE_GESTOR', 'NIVEL_GESTIÓN',
       'Dias_vencidos', 'DIAS_SIN_MOV', 'FCH_PROMESA', 'MONTO_PROMESA',
       'ULTIMO_COD_CONTACTO', 'ULTIMO_COD_RESULTADO', 'ULT_COD_CAUSA',
       'ULT_ACCIÓN_GESTOR', 'FECHA_ULT_DISPOSICION', 'NO_ULT_PAGO',
       'FECHA_ULT_PAGO', 'MONTO_ULT_PAGO', 'TOTAL_ADEUDO', 'TOTAL_VENCIDO',
       'Capital_insoluto', 'SALDO_CONT_INICIAL', 'TEL_DOM_DIRECTO',
       'TEL_EMPLEO', 'TEL_RECADOS', 'TEL_CEL', 'MUNICIPIO', 'COLONIA', 'CP',
       'MUNICIPIO_EMP', 'COLONIA_EMP', 'CP_EMPLEO', 'NOMBRE_EMPRESA', 'Pagaré',
       'Sucursal', 'Sucursal_y', 'No.SUCURSAL', 'SUCURSAL.1', 'SUBDIRECCION',
       'Bucket', 'ESTATUS', 'DV', 'Precio_comercial', 'Precio_CON_pagare',
       'Precio_SIN_pagare_o_CON_error', 'contrato', 'solicitud',
       'Precio_Multiplicador', 'Precio_multiplicado', 'Precio_Comercial_Venta',
       'Suma', 'Solicitud MAY', 'Solicitud JOSE', 'Solicitud VAC1',
       'Solicitud VAC2', 'M_mayor', 'Suma_prob', 'Regla_Div'],
      dtype='object')

In [340]:
import pandas as pd
import numpy as np

# Convertir fechas antes de hacer cálculos
control_df["Capital_insoluto"] = pd.to_numeric(control_df["Capital_insoluto"], errors="coerce")
control_df = control_df.sort_values(by=["Capital_insoluto","Dias_vencidos"])  # Ordenación rápida

In [341]:
control_df[["Capital_insoluto","Dias_vencidos"]].head()

        Capital_insoluto  Dias_vencidos
109111              0.00           4749
132096              0.00           4994
141791              0.01           2282
53923               0.01           3835
64844               0.35           2446

Separamos o dividimos por bloques <br>
Primero quitamos los digitales

In [342]:
print(len(control_df))

165807

In [343]:
print(len(control_df_digitales))

2834

In [344]:
print("Se quitaron los siguientes digitales: ",len(control_df_digitales)," quedando ",len(control_df), "cuentas en la base original")

Se quitaron los siguientes digitales:  2834  quedando  165807 cuentas en la base original

In [345]:
control_df_na = control_df[control_df["Pagaré"].isna()]

In [346]:
control_df_na

Empty DataFrame
Columns: [Cuenta, SUCURSAL_x, NUM_CLIENTE, PRODUCTO, SEGMENTO, CATEGORIA_PROD, PLAZO, FRECUENCIA_DE_PAGO, NUM_ASIGANCION_COBRANZA, FECHA_ASIGNACIÓN, PAGO_VENCIDO, #_PAGOS_VENCIDOS, RETRASO_MAXIMO, MOTIVO_NO_ASIG, ESTATUS_ASIGNACION, ESTATUS_DE_GESTIÓN, DICTAMEN, USUARIO_DICTAMEN, #_GESTOR, NOMBRE_GESTOR, NIVEL_GESTIÓN, Dias_vencidos, DIAS_SIN_MOV, FCH_PROMESA, MONTO_PROMESA, ULTIMO_COD_CONTACTO, ULTIMO_COD_RESULTADO, ULT_COD_CAUSA, ULT_ACCIÓN_GESTOR, FECHA_ULT_DISPOSICION, NO_ULT_PAGO, FECHA_ULT_PAGO, MONTO_ULT_PAGO, TOTAL_ADEUDO, TOTAL_VENCIDO, Capital_insoluto, SALDO_CONT_INICIAL, TEL_DOM_DIRECTO, TEL_EMPLEO, TEL_RECADOS, TEL_CEL, MUNICIPIO, COLONIA, CP, MUNICIPIO_EMP, COLONIA_EMP, CP_EMPLEO, NOMBRE_EMPRESA, Pagaré, Sucursal, Sucursal_y, No.SUCURSAL, SUCURSAL.1, SUBDIRECCION, Bucket, ESTATUS, DV, Precio_comercial, Precio_CON_pagare, Precio_SIN_pagare_o_CON_error, contrato, solicitud, Precio_Multiplicador, Precio_multiplicado, Precio_Comercial_Venta, Suma, Solicitud MAY, Solicitud JOSE, Solicitud VAC1, Solicitud VAC2, M_mayor, Suma_prob, Regla_Div]
Index: []

[0 rows x 73 columns]

In [347]:
print(len(control_df))

165807

In [348]:
control_df = control_df[control_df["Pagaré"].notna()]

In [349]:
print(len(control_df))

165807

In [350]:
control_df_recibido = control_df[control_df["Pagaré"] == "RECIBIDO"]

In [351]:
control_df_no_recibido = control_df[control_df["Pagaré"] != "RECIBIDO"]

In [352]:
print("Se quitaron los siguientes recibidas: ",len(control_df_recibido)," quedando ",len(control_df_no_recibido), "no recibidas")

Se quitaron los siguientes recibidas:  162942  quedando  2865 no recibidas

In [353]:
control_df_digitales["Coordinación"] = ""

In [355]:
#control_df_recibido

control_df_recibido['patron'] = np.select(
    [
        control_df_recibido['M_mayor'] == 'MAY',
        control_df_recibido['M_mayor'] == 'JOSE',
        control_df_recibido['M_mayor'] == 'VAC1',
        control_df_recibido['M_mayor'] == 'VAC2'
    ],
    [
        control_df_recibido['Regla_Div'].map(patrones['MAY']),
        control_df_recibido['Regla_Div'].map(patrones['JOSE']),
        control_df_recibido['Regla_Div'].map(patrones['VAC1']),
        control_df_recibido['Regla_Div'].map(patrones['VAC2'])
    ],
    default=None
)

C:\Users\apaloalto\AppData\Local\Temp\ipykernel_19152\3014409015.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  control_df_recibido['patron'] = np.select(

In [356]:
control_df_recibido.head(1)

,Cuenta,SUCURSAL_x,NUM_CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA_PROD,PLAZO,FRECUENCIA_DE_PAGO,NUM_ASIGANCION_COBRANZA,FECHA_ASIGNACIÓN,...,Precio_Comercial_Venta,Suma,Solicitud MAY,Solicitud JOSE,Solicitud VAC1,Solicitud VAC2,M_mayor,Suma_prob,Regla_Div,patron
109111,75808054,51,723656195,CREDIMAMA,INFORMAL,CREDIMAMA,40,7,384,00/00/0000,...,0.0,38,0.333575,0.222494,0.392519,0.051412,VAC1,1.0,UNA-UNA-UNA-UNA,"[VAC1, VAC2, MAY, JOSE]"

In [357]:

# Aplicar los valores de alternancia de manera eficiente
control_df_recibido["Coordinación"] = control_df_recibido.groupby("Sucursal_y")["patron"].transform(
    lambda x: np.tile(x.dropna().values[0], len(x))[:len(x)] if x.dropna().values.size > 0 else ""
)

C:\Users\apaloalto\AppData\Local\Temp\ipykernel_19152\1386263086.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  control_df_recibido["Coordinación"] = control_df_recibido.groupby("Sucursal_y")["patron"].transform(

In [358]:
control_df_recibido.head()

,Cuenta,SUCURSAL_x,NUM_CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA_PROD,PLAZO,FRECUENCIA_DE_PAGO,NUM_ASIGANCION_COBRANZA,FECHA_ASIGNACIÓN,...,Suma,Solicitud MAY,Solicitud JOSE,Solicitud VAC1,Solicitud VAC2,M_mayor,Suma_prob,Regla_Div,patron,Coordinación
109111,75808054,51,723656195,CREDIMAMA,INFORMAL,CREDIMAMA,40,7,384,00/00/0000,...,38,0.333575,0.222494,0.392519,0.051412,VAC1,1.0,UNA-UNA-UNA-UNA,"[VAC1, VAC2, MAY, JOSE]",VAC1
132096,75246402,33,723248592,CREDIPOPULAR,INFORMAL,CREDIPOPULAR,40,7,1,00/00/0000,...,563,0.371507,0.255664,0.330297,0.042533,MAY,1.0,UNA-UNA-UNA-UNA,"[MAY, JOSE, VAC1, VAC2]",MAY
141791,72048129,25,250025289,CREDINMEDIATO,FORMAL,CREDINMEDIATO,44,15,257,00/00/0000,...,3539,0.010393,0.346952,0.634109,0.008545,VAC1,1.0,UNA-UNA-UNA-UNA,"[VAC1, VAC2, MAY, JOSE]",VAC1
53923,76716690,262,723614094,CREDINMEDIATO,FORMAL,CREDINMEDIATO,24,30,977,00/00/0000,...,3404,0.041792,0.361955,0.524718,0.071535,VAC1,1.0,UNA-UNA-UNA-UNA,"[VAC1, VAC2, MAY, JOSE]",VAC1
64844,78052341,127,725740796,CREDIPOPULAR,INFORMAL,CREDIPOPULAR,48,15,7,00/00/0000,...,2198,0.275614,0.414769,0.220940,0.088677,JOSE,1.0,UNA-UNA-UNA-UNA,"[JOSE, VAC1, VAC2, MAY]",JOSE

In [359]:
control_df_no_recibido.head(2)

,Cuenta,SUCURSAL_x,NUM_CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA_PROD,PLAZO,FRECUENCIA_DE_PAGO,NUM_ASIGANCION_COBRANZA,FECHA_ASIGNACIÓN,...,Precio_multiplicado,Precio_Comercial_Venta,Suma,Solicitud MAY,Solicitud JOSE,Solicitud VAC1,Solicitud VAC2,M_mayor,Suma_prob,Regla_Div
160910,78289689,11,722911311,EMPLEADOS,FORMAL,EMPLEADOS,36,15,1551,00/00/0000,...,0.04550,0.1750,2114,0.316527,0.131211,0.197666,0.354595,VAC2,1.0,UNA-UNA-UNA-UNA
147674,78379889,23,722859167,EMPLEADOS,FORMAL,EMPLEADOS,36,15,1594,00/00/0000,...,0.09529,0.3665,29,0.198443,0.420186,0.066313,0.315058,JOSE,1.0,UNA-UNA-UNA-UNA

In [360]:

control_df_no_recibido['patron'] = np.select(
    [
        control_df_no_recibido['M_mayor'] == 'MAY',
        control_df_no_recibido['M_mayor'] == 'JOSE',
        control_df_no_recibido['M_mayor'] == 'VAC1',
        control_df_no_recibido['M_mayor'] == 'VAC2'
    ],
    [
        control_df_no_recibido['Regla_Div'].map(patrones['MAY']),
        control_df_no_recibido['Regla_Div'].map(patrones['JOSE']),
        control_df_no_recibido['Regla_Div'].map(patrones['VAC1']),
        control_df_no_recibido['Regla_Div'].map(patrones['VAC2'])
    ],
    default=None
)

C:\Users\apaloalto\AppData\Local\Temp\ipykernel_19152\3779446546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  control_df_no_recibido['patron'] = np.select(

In [361]:

# Aplicar los valores de alternancia de manera eficiente
control_df_no_recibido["Coordinación"] = control_df_no_recibido.groupby("Sucursal_y")["patron"].transform(
    lambda x: np.tile(x.dropna().values[0], len(x))[:len(x)] if x.dropna().values.size > 0 else ""
)

C:\Users\apaloalto\AppData\Local\Temp\ipykernel_19152\290553645.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  control_df_no_recibido["Coordinación"] = control_df_no_recibido.groupby("Sucursal_y")["patron"].transform(

In [362]:
control_df_no_recibido.head()

,Cuenta,SUCURSAL_x,NUM_CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA_PROD,PLAZO,FRECUENCIA_DE_PAGO,NUM_ASIGANCION_COBRANZA,FECHA_ASIGNACIÓN,...,Suma,Solicitud MAY,Solicitud JOSE,Solicitud VAC1,Solicitud VAC2,M_mayor,Suma_prob,Regla_Div,patron,Coordinación
160910,78289689,11,722911311,EMPLEADOS,FORMAL,EMPLEADOS,36,15,1551,00/00/0000,...,2114,0.316527,0.131211,0.197666,0.354595,VAC2,1.0,UNA-UNA-UNA-UNA,"[VAC2, MAY, JOSE, VAC1]",VAC2
147674,78379889,23,722859167,EMPLEADOS,FORMAL,EMPLEADOS,36,15,1594,00/00/0000,...,29,0.198443,0.420186,0.066313,0.315058,JOSE,1.0,UNA-UNA-UNA-UNA,"[JOSE, VAC1, VAC2, MAY]",JOSE
161249,78390797,10,100092395,EMPLEADOS,FORMAL,EMPLEADOS,36,15,1602,00/00/0000,...,2303,0.059593,0.154602,0.257041,0.528764,VAC2,1.0,UNA-UNA-UNA-UNA,"[VAC2, MAY, JOSE, VAC1]",VAC2
81769,78388568,85,724883865,EMPLEADOS,FORMAL,EMPLEADOS,24,15,1610,00/00/0000,...,1053,0.145030,0.285119,0.335663,0.234189,VAC1,1.0,UNA-UNA-UNA-UNA,"[VAC1, VAC2, MAY, JOSE]",VAC1
135205,76753370,30,724079331,EMPLEADOS,FORMAL,EMPLEADOS,24,15,1597,00/00/0000,...,2048,0.211565,0.301082,0.219742,0.267611,JOSE,1.0,UNA-UNA-UNA-UNA,"[JOSE, VAC1, VAC2, MAY]",JOSE

In [363]:
print(len(Subasta_Fin))

120

In [364]:
recibido_final = control_df_recibido[['Cuenta',   'SUCURSAL_x','Sucursal_y','SUBDIRECCION','ESTATUS','solicitud','Pagaré',
                                      'NUM_CLIENTE','PRODUCTO','SEGMENTO','CATEGORIA_PROD','PLAZO','FRECUENCIA_DE_PAGO',
                                      'NUM_ASIGANCION_COBRANZA','FECHA_ASIGNACIÓN','PAGO_VENCIDO','#_PAGOS_VENCIDOS','RETRASO_MAXIMO',
                                      'MOTIVO_NO_ASIG','ESTATUS_ASIGNACION','ESTATUS_DE_GESTIÓN','DICTAMEN','USUARIO_DICTAMEN',
                                      '#_GESTOR','NOMBRE_GESTOR','NIVEL_GESTIÓN','Dias_vencidos','DV','Precio_comercial',
                                      'Precio_Multiplicador','DIAS_SIN_MOV','FCH_PROMESA','MONTO_PROMESA','ULTIMO_COD_CONTACTO',
                                      'ULTIMO_COD_RESULTADO','ULT_COD_CAUSA','ULT_ACCIÓN_GESTOR','FECHA_ULT_DISPOSICION','NO_ULT_PAGO',
                                      'FECHA_ULT_PAGO', 'MONTO_ULT_PAGO','TOTAL_ADEUDO','TOTAL_VENCIDO','Capital_insoluto','Precio_Comercial_Venta',
                                      'Coordinación',   'Precio_multiplicado','SALDO_CONT_INICIAL','TEL_DOM_DIRECTO','TEL_EMPLEO','TEL_RECADOS',
                                      'TEL_CEL','MUNICIPIO','COLONIA','CP','MUNICIPIO_EMP','COLONIA_EMP','CP_EMPLEO','NOMBRE_EMPRESA'
]]

In [365]:
no_recibido_final = control_df_no_recibido[['Cuenta',   'SUCURSAL_x','Sucursal_y','SUBDIRECCION','ESTATUS','solicitud','Pagaré',
                                      'NUM_CLIENTE','PRODUCTO','SEGMENTO','CATEGORIA_PROD','PLAZO','FRECUENCIA_DE_PAGO',
                                      'NUM_ASIGANCION_COBRANZA','FECHA_ASIGNACIÓN','PAGO_VENCIDO','#_PAGOS_VENCIDOS','RETRASO_MAXIMO',
                                      'MOTIVO_NO_ASIG','ESTATUS_ASIGNACION','ESTATUS_DE_GESTIÓN','DICTAMEN','USUARIO_DICTAMEN',
                                      '#_GESTOR','NOMBRE_GESTOR','NIVEL_GESTIÓN','Dias_vencidos','DV','Precio_comercial',
                                      'Precio_Multiplicador','DIAS_SIN_MOV','FCH_PROMESA','MONTO_PROMESA','ULTIMO_COD_CONTACTO',
                                      'ULTIMO_COD_RESULTADO','ULT_COD_CAUSA','ULT_ACCIÓN_GESTOR','FECHA_ULT_DISPOSICION','NO_ULT_PAGO',
                                      'FECHA_ULT_PAGO', 'MONTO_ULT_PAGO','TOTAL_ADEUDO','TOTAL_VENCIDO','Capital_insoluto','Precio_Comercial_Venta',
                                      'Coordinación',   'Precio_multiplicado','SALDO_CONT_INICIAL','TEL_DOM_DIRECTO','TEL_EMPLEO','TEL_RECADOS',
                                      'TEL_CEL','MUNICIPIO','COLONIA','CP','MUNICIPIO_EMP','COLONIA_EMP','CP_EMPLEO','NOMBRE_EMPRESA'
]]

In [366]:
exportacion = pd.concat([recibido_final, no_recibido_final], axis=0)

In [367]:
exportacion.head(2)

,Cuenta,SUCURSAL_x,Sucursal_y,SUBDIRECCION,ESTATUS,solicitud,Pagaré,NUM_CLIENTE,PRODUCTO,SEGMENTO,...,TEL_EMPLEO,TEL_RECADOS,TEL_CEL,MUNICIPIO,COLONIA,CP,MUNICIPIO_EMP,COLONIA_EMP,CP_EMPLEO,NOMBRE_EMPRESA
109111,75808054,51,Piedras Negras,Norte,DIVIDIR,33292550,RECIBIDO,723656195,CREDIMAMA,INFORMAL,...,,,8781225331,PIEDRAS NEGRAS,GONZALEZ,26020,,,0,
132096,75246402,33,Cancun 1,Peninsula,DIVIDIR,26056487,RECIBIDO,723248592,CREDIPOPULAR,INFORMAL,...,9982511539,,9981806923,BENITO JUAREZ,REGION 91,77516,BENITO JUAREZ,REGION 91,77516,SN

In [368]:
control_df_digitales.SUCURSAL_y

32        Ensenada Tersa
34        Ensenada Tersa
36        Ensenada Tersa
41        Ensenada Tersa
45        Ensenada Tersa
               ...
169267            Toluca
169270            Toluca
169279            Toluca
169292            Toluca
169300            Toluca
Name: SUCURSAL_y, Length: 2834, dtype: object

In [369]:
control_df_digitales.head()

,Cuenta,SUCURSAL_x,NUM_CLIENTE,PRODUCTO,SEGMENTO,CATEGORIA_PROD,PLAZO,FRECUENCIA_DE_PAGO,NUM_ASIGANCION_COBRANZA,FECHA_ASIGNACIÓN,...,DV,Precio_comercial,Precio_CON_pagare,Precio_SIN_pagare_o_CON_error,contrato,solicitud,Precio_Multiplicador,Precio_multiplicado,Precio_Comercial_Venta,Coordinación
32,78874496,323,726980195,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,13,7,3,00/00/0000,...,1441-1829,0.05,0.025,0.013,78874496.0,73428197,0.025,125.0000,250.000,
34,78889531,323,727212756,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,26,7,6,00/00/0000,...,1441-1829,0.05,0.025,0.013,78889531.0,73467626,0.025,104.9580,209.916,
36,78858928,323,727085676,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,26,7,6,00/00/0000,...,1441-1829,0.05,0.025,0.013,78858928.0,73385806,0.025,77.0635,154.127,
41,78878842,323,727116227,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,26,7,11,00/00/0000,...,1441-1829,0.05,0.025,0.013,78878842.0,73440173,0.025,65.5495,131.099,
45,78895452,323,725039667,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,INFORMAL,PERSONAS FISICAS CON ACTIVIDAD EMPRESARIAL,26,7,3,00/00/0000,...,1441-1829,0.05,0.025,0.013,78895452.0,73483695,0.025,139.5000,279.000,

In [370]:
control_df_digitales = control_df_digitales[['Cuenta',   'SUCURSAL_x','SUCURSAL_y','SUBDIRECCION','ESTATUS','solicitud','Pagaré',
                                      'NUM_CLIENTE','PRODUCTO','SEGMENTO','CATEGORIA_PROD','PLAZO','FRECUENCIA_DE_PAGO',
                                      'NUM_ASIGANCION_COBRANZA','FECHA_ASIGNACIÓN','PAGO_VENCIDO','#_PAGOS_VENCIDOS','RETRASO_MAXIMO',
                                      'MOTIVO_NO_ASIG','ESTATUS_ASIGNACION','ESTATUS_DE_GESTIÓN','DICTAMEN','USUARIO_DICTAMEN',
                                      '#_GESTOR','NOMBRE_GESTOR','NIVEL_GESTIÓN','Dias_vencidos','DV','Precio_comercial',
                                      'Precio_Multiplicador','DIAS_SIN_MOV','FCH_PROMESA','MONTO_PROMESA','ULTIMO_COD_CONTACTO',
                                      'ULTIMO_COD_RESULTADO','ULT_COD_CAUSA','ULT_ACCIÓN_GESTOR','FECHA_ULT_DISPOSICION','NO_ULT_PAGO',
                                      'FECHA_ULT_PAGO', 'MONTO_ULT_PAGO','TOTAL_ADEUDO','TOTAL_VENCIDO','Capital_insoluto','Precio_Comercial_Venta',
                                      'Coordinación',   'Precio_multiplicado','SALDO_CONT_INICIAL','TEL_DOM_DIRECTO','TEL_EMPLEO','TEL_RECADOS',
                                      'TEL_CEL','MUNICIPIO','COLONIA','CP','MUNICIPIO_EMP','COLONIA_EMP','CP_EMPLEO','NOMBRE_EMPRESA'
]]

In [371]:
Subasta_Fin["Coordinación"] = ""

In [372]:
Subasta_Fin = Subasta_Fin[['Cuenta',   'SUCURSAL_x','Sucursal_y','SUBDIRECCION','ESTATUS','solicitud','Pagaré',
                                      'NUM_CLIENTE','PRODUCTO','SEGMENTO','CATEGORIA_PROD','PLAZO','FRECUENCIA_DE_PAGO',
                                      'NUM_ASIGANCION_COBRANZA','FECHA_ASIGNACIÓN','PAGO_VENCIDO','#_PAGOS_VENCIDOS','RETRASO_MAXIMO',
                                      'MOTIVO_NO_ASIG','ESTATUS_ASIGNACION','ESTATUS_DE_GESTIÓN','DICTAMEN','USUARIO_DICTAMEN',
                                      '#_GESTOR','NOMBRE_GESTOR','NIVEL_GESTIÓN','Dias_vencidos','DV','Precio_comercial',
                                      'Precio_Multiplicador','DIAS_SIN_MOV','FCH_PROMESA','MONTO_PROMESA','ULTIMO_COD_CONTACTO',
                                      'ULTIMO_COD_RESULTADO','ULT_COD_CAUSA','ULT_ACCIÓN_GESTOR','FECHA_ULT_DISPOSICION','NO_ULT_PAGO',
                                      'FECHA_ULT_PAGO', 'MONTO_ULT_PAGO','TOTAL_ADEUDO','TOTAL_VENCIDO','Capital_insoluto','Precio_Comercial_Venta',
                                      'Coordinación',   'Precio_multiplicado','SALDO_CONT_INICIAL','TEL_DOM_DIRECTO','TEL_EMPLEO','TEL_RECADOS',
                                      'TEL_CEL','MUNICIPIO','COLONIA','CP','MUNICIPIO_EMP','COLONIA_EMP','CP_EMPLEO','NOMBRE_EMPRESA'
]]

In [373]:
print(len(Subasta_Fin) +len(exportacion) + len(control_df_digitales))

168761

In [374]:
control_df_na["Coordinación"] = ""

In [375]:
NA_Fin = control_df_na[['Cuenta',   'SUCURSAL_x','Sucursal_y','SUBDIRECCION','ESTATUS','solicitud','Pagaré',
                                      'NUM_CLIENTE','PRODUCTO','SEGMENTO','CATEGORIA_PROD','PLAZO','FRECUENCIA_DE_PAGO',
                                      'NUM_ASIGANCION_COBRANZA','FECHA_ASIGNACIÓN','PAGO_VENCIDO','#_PAGOS_VENCIDOS','RETRASO_MAXIMO',
                                      'MOTIVO_NO_ASIG','ESTATUS_ASIGNACION','ESTATUS_DE_GESTIÓN','DICTAMEN','USUARIO_DICTAMEN',
                                      '#_GESTOR','NOMBRE_GESTOR','NIVEL_GESTIÓN','Dias_vencidos','DV','Precio_comercial',
                                      'Precio_Multiplicador','DIAS_SIN_MOV','FCH_PROMESA','MONTO_PROMESA','ULTIMO_COD_CONTACTO',
                                      'ULTIMO_COD_RESULTADO','ULT_COD_CAUSA','ULT_ACCIÓN_GESTOR','FECHA_ULT_DISPOSICION','NO_ULT_PAGO',
                                      'FECHA_ULT_PAGO', 'MONTO_ULT_PAGO','TOTAL_ADEUDO','TOTAL_VENCIDO','Capital_insoluto','Precio_Comercial_Venta',
                                      'Coordinación',   'Precio_multiplicado','SALDO_CONT_INICIAL','TEL_DOM_DIRECTO','TEL_EMPLEO','TEL_RECADOS',
                                      'TEL_CEL','MUNICIPIO','COLONIA','CP','MUNICIPIO_EMP','COLONIA_EMP','CP_EMPLEO','NOMBRE_EMPRESA'
]]

In [376]:
len(NA_Fin)

0

In [377]:
print(len(Subasta_Fin) +len(exportacion) + len(control_df_digitales) + len(NA_Fin), len(control_df_digitales))

168761 2834

In [378]:
import pandas as pd

#Ruta del archivo de Excel
ruta_excel = "./FISA/2026/202601/Base_Ventas_FISA_Ene.xlsx"

# Guardar ambos DataFrames en distintas hojas
with pd.ExcelWriter(ruta_excel, engine="openpyxl") as writer:
    exportacion.to_excel(writer, sheet_name="Base_Ventas", index=False)  # Primera hoja
    Subasta_Fin.to_excel(writer, sheet_name="Subasta", index=False)  # Segunda hoja
    control_df_digitales.to_excel(writer, sheet_name="Digitales", index= False) # Tercer hoja
    cerradas.to_excel(writer, sheet_name="Suc_Cerrada", index= False) # Cuarta hoja
    control_df_na.to_excel(writer, sheet_name="Sin pagare",index=False) #Quinta hoja

In [ ]:
solicitudes.to_excel("./FISA/2026/202601/Solicitudes_FISA_050126.xlsx")